<!-- Start Content-->
<div class="container-fluid">
  <div class="row my-1 my-lg-3">
    <div class="col-md-12">
      <div class="account-ui">
        <h2>profit loss
          <a class="btn-filter collapsed float-right d-block d-sm-none" data-toggle="collapse" href="#filter"
             aria-expanded="false" aria-controls="filter">
            <i class="mdi mdi-filter pr-0"></i>
          </a>
        </h2>
        <div class="card">
          <div class="card-body">
            <div class="collapse" id="filter" style="">
              <app-filter (filterChanged)="filterChangedHandler($event)" [title]="title"
                          [isDownload]="isDownload"></app-filter>
            </div>
            <div *ngIf="isLoadFirst" class="row justify-content-center profit-loss">
              <div class="col-12">
                <h1>Please select date for profit/loss</h1>
              </div>
            </div>
            <div *ngIf="!isLoadFirst" class="row justify-content-center profit-loss">
              <div class="col-12">
                <h1>Total: <span
                  [ngClass]="{'credit': totalProfit >= 0,'debit': totalProfit < 0 }">{{totalProfit}}</span></h1>
              </div>
            </div>
            <div *ngIf="!isLoadFirst" class="row justify-content-center profit-loss">
              <div class="col-md-2 col-4" *ngFor="let pleItem of cList; let i = index">
                <button (click)="event(pleItem?.sportId, pleItem?.sportName)"
                        class="btn btn-proloss waves-effect waves-light collapsed">
                  <i class="mdi mdi-{{pleItem?.sportName}}"></i>
                  <h3>{{pleItem?.sportName}}</h3>
                  <h4 [ngClass]="{'credit': pleItem?.profitLoss >= 0,'debit': pleItem?.profitLoss < 0}">
                    <i class="mdi mdi-currency-inr"></i> {{pleItem?.profitLoss}}</h4>
                </button>
              </div>
            </div>
            <div *ngIf="!isLoadFirst" class="collapse {{collapseCls}}" id="Profit-Loss" style="">
              <div class="card-box mb-0">
                <div class="table-responsive">
                  <h2>{{spoName}}
<!--                    <span class="float-right input-group-text bg-primary ml-1 p-0 border-0">-->
<!--                            <button class="btn-download" (click)="excelDownload()"><i class="mdi mdi-download"></i></button>-->
<!--                        </span>-->
                  </h2> <!-- <i class="mdi mdi-{{spoName}} pr-1"></i> -->
                  <!--                  <div class="input-group-append p-0" *ngIf="!isDownload">-->

<!--                </div>-->
                <table class="table mb-0 text-center">
                  <thead>
                  <tr>
                    <th *ngIf="type !== 99 && type !== 999 && type !== 9999">settled date</th>
                    <th>event id</th>
                    <th>event name</th>
                    <th>profit / loss</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of eList">
                    <td *ngIf="type !== 99 && type !== 999 && type !== 9999">{{item.settledDate}}</td>
                    <td>{{item.eventId}}</td>

                    <td *ngIf="type !== 99"><a routerLink="{{type}}/{{item?.eventId}}">{{item.eventName}}</a></td>

                    <td *ngIf="type === 99"><a
                      routerLink="/profitloss/teenpatti/{{item?.mType}}/{{item?.eventId}}">{{item.eventName}}</a></td>

                    <td>
                      <span class="debit" *ngIf="item.profitLoss < 0">{{item.profitLoss}}</span>
                      <span class="credit" *ngIf="item.profitLoss >= 0">{{item.profitLoss}}</span>
                    </td>
                  </tr>
                  <tr *ngIf="eList === null">
                    <td class="text-center" colspan="4">
                      No Data
                    </td>
                  </tr>
                  <tr *ngIf="eList && eList?.length">
                    <td *ngIf="type !== 99 && type !== 999 && type !== 9999"></td>
                    <td></td>
                    <td>Total</td>
                    <td class="font-weight-bold"><span
                      [ngClass]="{'credit': totalAmount >= 0,'debit': totalAmount < 0}">{{totalAmount || '0.00'}}</span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end col-->
</div>
<!-- end row -->
</div> <!-- container -->
