<!-- Start Content-->
<div class="container-fluid">
  <div class="row my-1 my-lg-3">
    <div class="col-md-12">
      <div class="account-ui">
        <h2><button class="btn-sm btn-primary mr-1"><i class="mdi mdi-arrow-left-bold px-0" (click)="loc.back()"></i></button>profit loss market<i class="mdi mdi-chevron-right px-0"></i> {{eId}}
          <a *ngIf="sportId !== '999' && sportId !== '9999'" class="btn-filter collapsed float-right d-block d-sm-none" data-toggle="collapse" href="#filter"
             aria-expanded="false" aria-controls="filter">
            <i class="mdi mdi-filter pr-0"></i>
          </a>
        </h2>
        <div class="card">
          <div class="card-body">
<!--            <div class="collapse" id="filter" *ngIf="sportId === '999' || sportId === '9999'">-->
<!--              <app-filter (filterChanged)="filterChangedHandler($event)" [title]="title" [isDownload]="isDownload"></app-filter>-->
<!--            </div>-->
            <div class="table-responsive">
              <table class="table mb-0 text-center">
                <thead>
                <tr>
                  <th>settled date</th>
                  <th>id</th>
                  <th>name</th>
                  <th>profit / loss</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let pldItem of plList">
                  <td>{{pldItem?.settledDate}}</td>
                  <td>{{pldItem?.marketId}}</td>
                  <td><a routerLink="{{pldItem?.mType}}/{{pldItem?.marketId}}">{{pldItem?.description}}</a></td>
                  <td><span [ngClass]="{'credit': pldItem?.profitLoss >= 0,'debit': pldItem?.profitLoss < 0}">{{pldItem?.profitLoss}}</span></td>
                </tr>
                <tr *ngIf="plList === null">
                  <td colspan="4" class="text-center text-light">No Data</td>
                </tr>
                </tbody>
                <tfoot *ngIf="plList !== null">
                <tr>
                  <td colspan="2"></td>
                  <td>Total</td>
                  <td><span [ngClass]="{'credit': totalAmount >= 0,'debit': totalAmount < 0}"> {{totalAmount || '0.00'}}</span></td>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end col-->
  </div>
  <!-- end row -->
</div> <!-- container -->

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" [color]="primaryColor" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white;">{{ ' Please Wait....'}} </p>
</ngx-spinner>
