<!-- Start Content-->
<div class="container-fluid">
  <div class="row my-1 my-lg-3">
    <div class="col-md-12">
      <div class="account-ui">
        <h2><button class="btn-sm btn-primary mr-1"><i class="mdi mdi-arrow-left-bold px-0" (click)="loc.back()"></i></button>profit loss market bets<i class="mdi mdi-chevron-right px-0"></i> {{mId}}
          <a *ngIf="slug === 'teenpatti'" class="btn-filter collapsed float-right d-block d-sm-none" data-toggle="collapse" href="#filter"
             aria-expanded="false" aria-controls="filter">
            <i class="mdi mdi-filter pr-0"></i>
          </a>
        </h2>
        <div class="card">
          <div class="card-body">
            <div class="collapse" id="filter" *ngIf="slug === 'teenpatti'" >
              <app-filter (filterChanged)="filterChangedHandler($event)" [title]="title" [isDownload]="isDownload"></app-filter>
            </div>
            <div class="table-responsive">
              <table class="table mb-0">
                <thead>
                <tr>
                  <th>id</th>
                  <th>description</th>
                  <th>side</th>
                  <th>price</th>
                  <th>stake</th>
                  <th>date</th>
                  <th>p/l</th>
                  <th>status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let plbItem of plList; let i = index" [ngClass]="{'back': (plbItem?.bType | lowercase) === 'back' || (plbItem?.bType | lowercase) === 'credit' || plbItem?.bType === 'yes','lay':(plbItem?.bType | lowercase) === 'lay' || (plbItem?.bType | lowercase) === 'debit' || plbItem?.bType === 'no'}">
                  <td>{{getLastChar(plbItem.betId)}}</td>
                  <td>{{plbItem?.description}}</td>
                  <td>{{plbItem?.bType}}</td>
                  <td *ngIf="plbItem?.mType === 'bookmaker'">{{plbItem?.rate}}</td>
                  <td *ngIf="plbItem?.mType !== 'fancy' && plbItem?.mType !== 'fancy2' && plbItem?.mType !== 'ballbyball' && plbItem?.mType !== 'khado' && plbItem?.mType !== 'bookmaker'">{{plbItem?.price}}</td>
                  <td *ngIf="plbItem?.mType === 'fancy' || plbItem?.mType === 'fancy2' || plbItem?.mType === 'ballbyball' || plbItem?.mType === 'khado'">{{plbItem?.rate == '100' ? plbItem?.price : plbItem?.price + '/' + plbItem?.rate}}</td>
                  <td>{{plbItem?.size}}</td>
                  <td>{{plbItem?.createdOn}}</td>
                  <td><span [ngClass]="{'credit': plbItem?.result === 'WIN', 'debit' : plbItem?.result === 'LOSS'}">{{plbItem?.result === 'WIN' ? plbItem?.win : plbItem?.loss}}</span></td>
                  <td>{{plbItem?.result}}</td>
                </tr>
                <tr *ngIf="plList === null">
                  <td colspan="8" class="text-light text-center">No Data</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end col-->
  </div>
  <!-- end row -->
</div> <!-- container -->

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" [color]="primaryColor" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white;">{{ ' Please Wait....'}} </p>
</ngx-spinner>
