<div *ngIf="sportname === 'cricket' || sportname === 'football' || sportname === 'tennis'" aria-labelledby="nav-CRICKET-tab" class="tab-pane fade active show" id="nav-CRICKET" role="tabpanel">

  <!-- title for mobile -->
  <div class="m-dash-bt">
    <div class="row">
      <div class="col-12">
        <h3><i class="mdi {{sportname === 'football' ? 'mdi-soccer' : sportname === 'tennis' ? 'mdi-tennis' : 'mdi-cricket'}}"></i> {{sportname}}</h3>
      </div>
    </div>
  </div>
  <!-- title for mobile -->

  <div class="row game-1x1 my-1 m-0 text-uppercase">
    <div class="col-md-6 col-12 col-xs-none">
      game
    </div>
    <div class="col-2 col-xs-none">
      1
    </div>
    <div class="col-2 col-xs-none">
      x
    </div>
    <div class="col-2 col-xs-none">
      2
    </div>
  </div>

  <a routerLink="/details/{{eitem?.eventId}}" *ngFor="let eitem of aList">
    <div class="row bg-theme mx-0 text-capitalize py-1 sport-list bm1">
      <div class="col-md-4 col-8 align-self-center">
        <div class="team-name"><span class="tn-icons"><i class="mdi mdi-timer-outline"></i></span>
          <p>
           {{eitem?.title}}
            <b> {{eitem?.time | date:"mediumDate"}}
              <time> {{eitem?.time | date:"shortTime"}}</time>
            </b>
          </p>
        </div>
      </div>
      <div class="col-md-2 col-4 align-self-center text-center px-lg-0">
        <!-- desktop -->
        <div>
          <span class="mr-2" *ngIf="eitem?.is_tv === 1"><img class="img-fluid" src="assets/img/tv-list.svg" /></span>
          <span class="mr-2" *ngIf="eitem?.type === 'IN_PLAY'"><img class="img-fluid" src="assets/img/inplay-list.svg" /></span>
          <span class="mr-2" *ngIf="eitem?.is_fancy === 1"><img class="img-fluid" src="assets/img/fancy-list.svg" /></span>
        </div>
        <!-- desktop -->

        <!-- mobile -->
<!--        <div class="d-block d-sm-none">-->
<!--          <span class="tv" *ngIf="eitem?.is_tv === 1"><img class="img-fluid" src="assets/img/tv-list.svg" /></span>-->
<!--          <span class="m-inplay blink" *ngIf="eitem?.type === 'IN_PLAY'">In-Play</span>-->
<!--          <span class="m-fancy" *ngIf="eitem?.is_fancy === 1">F</span>-->
<!--        </div>-->
        <!-- mobile -->
      </div>
      <div class="col-2 text-center align-self-center mx-0 col-xs-none px-lg-0">
        <button class="blue-area">{{(eitem?.odds && eitem?.odds[0]) ? eitem?.odds[0]?.backPrice1 : '-' || '-'}}</button>
        <button class="red-area">{{(eitem?.odds && eitem?.odds[0]) ? eitem?.odds[0]?.layPrice1 : '-' || '-'}}</button>
      </div>
      <div class="col-2 text-center align-self-center col-xs-none px-lg-0">
        <button class="blue-area">{{(eitem?.odds && eitem?.odds[2]) ? eitem?.odds[2]?.backPrice1 : '-' || '-'}}</button>
        <button class="red-area">{{(eitem?.odds && eitem?.odds[2]) ? eitem?.odds[2]?.layPrice1 : '-' || '-'}}</button>
      </div>
      <div class="col-2 text-center align-self-center col-xs-none px-lg-0">
        <button class="blue-area">{{(eitem?.odds && eitem?.odds[1]) ? eitem?.odds[1]?.backPrice1 : '-' || '-'}}</button>
        <button class="red-area">{{(eitem?.odds && eitem?.odds[1]) ? eitem?.odds[1] ?.layPrice1 : '-' || '-'}}</button>
      </div>
    </div>
  </a>

</div>

<div *ngIf="sportname === 'election'" aria-labelledby="nav-ELECTION-tab" class="tab-pane fade active show" id="nav-ELECTION" role="tabpanel">
  <!-- title for mobile -->
  <div class="m-dash-bt">
    <div class="row">
      <div class="col-12">
        <h3><i class="mdi mdi-hand"></i> election</h3>
      </div>
    </div>
  </div>
  <!-- title for mobile -->

  <div class="row game-1x1 my-1 m-0 text-uppercase">
    <div class="col-12 font-weight-bold text-center col-xs-none">
      game
    </div>
  </div>
  <div routerLink="/election-details/{{eitem?.eventId}}" *ngFor="let eitem of aList" class="row bg-theme mx-0 text-capitalize py-1 sport-list mb-1">
    <div class="col-md-8 col-8 align-self-center">
      <div class="team-name"><span class="tn-icons"><i class="mdi mdi-timer-outline"></i></span>
        <p>{{eitem?.title}}
          <b> {{eitem?.time | date:"mediumDate"}}
            <time> {{eitem?.time | date:"shortTime"}}</time>
          </b>
        </p>
      </div>
    </div>
    <div class="col-md-4 col-4 align-self-center text-lg-center">
      <span class="in-play blink">live</span>
    </div>
  </div>
</div>

<div *ngIf="sportname === 'jackpot'" aria-labelledby="nav-JACKPOT-tab" class="tab-pane fade active show" id="nav-JACKPOT" role="tabpanel" aria-expanded="false">

  <!-- title for mobile -->
  <div class="m-dash-bt">
    <div class="row">
      <div class="col-12">
        <h3><i class="mdi mdi-crown-outline"></i> jackpot</h3>
      </div>
    </div>
  </div>
  <!-- title for mobile -->

  <div class="row game-1x1 my-1 m-0 text-uppercase">
    <div class="col-12 font-weight-bold text-center col-xs-none">
      game
    </div>
  </div>

  <a routerLink="/jackpot/{{eitem?.eventId}}" *ngFor="let eitem of aList">
    <div class="row bg-theme mx-0 text-capitalize py-1 sport-list mb-1">
      <div class="col-md-4 col-8 align-self-center">
        <div class="team-name">
          <p>{{eitem?.title}}</p>
        </div>
      </div>
      <div class="col-md-4 col-4 align-self-center text-center">
        <button *ngIf="eitem?.isJackpot" class="btn-j">J</button>
        <button *ngIf="eitem?.isGhoda" class="btn-g">K</button>
        <button *ngIf="eitem?.is_fancy" class="btn-f">F</button>
      </div>
      <div class="col-md-4 col-12 align-self-center text-center">
        <p class="jackpot-msgs">{{eitem?.closeTime}}</p>
      </div>
    </div>
  </a>
</div>

<div *ngIf="sportname === 'cricket-casino' || sportname === 'cricket_casino'" aria-labelledby="nav-CC-tab" class="tab-pane fade active show" id="nav-CC" role="tabpanel">

  <!-- title for mobile -->
  <div class="m-dash-bt">
    <div class="row">
      <div class="col-12">
        <h3><i class="mdi mdi-apple-safari"></i> cricket casino</h3>
      </div>
    </div>
  </div>
  <!-- title for mobile -->

  <div class="row game-1x1 my-1 m-0 text-uppercase">
    <div class="col-12 font-weight-bold text-center col-xs-none">
      game
    </div>
  </div>
  <a routerLink="/cc-details/{{eitem?.eventId}}" *ngFor="let eitem of aList">
    <div class="row bg-theme mx-0 text-capitalize py-1 sport-list mb-1">
      <div class="col-md-8 col-8 align-self-center">
        <div class="team-name"><span class="tn-icons"><i class="mdi mdi-timer-outline"></i></span>
          <p>{{eitem?.title}}
            <b> {{eitem?.time | date:"mediumDate"}}
              <time> {{eitem?.time | date:"shortTime"}}</time>
            </b>
          </p>
        </div>
      </div>
      <div class="col-md-4 col-4 align-self-center text-lg-center">
        <span class="fancy" *ngIf="eitem?.type === 'IN_PLAY'">in-play</span>
      </div>
    </div>
  </a>
</div>

<div *ngIf="sportname === 'live-games'" aria-labelledby="nav-LIVE-tab" class="tab-pane fade active show" id="nav-LIVE" role="tabpanel">

  <!-- title for mobile -->
  <div class="m-dash-bt">
    <div class="row">
      <div class="col-12">
        <h3><i class="mdi mdi-cards"></i> livegame</h3>
      </div>
    </div>
  </div>
  <!-- title for mobile -->

  <div class="row py-4 bg-theme mx-0 justify-content-center">
    <div class="col-md-4 col-6 align-self-center text-center">
      <div class="livegame position-relative">
        <img class="img-fluid" src="assets/img/dash-livegame-teenpatti.jpg">
        <a href="" class="btn lv-btn">play now</a>
      </div>
    </div>
    <div class="col-md-4 col-6 align-self-center text-center">
      <div class="livegame position-relative">
        <img class="img-fluid" src="assets/img/dash-livegame-poker.jpg">
        <a href="" class="btn lv-btn">play now</a>
      </div>
    </div>
    <div class="col-md-4 col-6 align-self-center text-center">
      <div class="livegame position-relative">
        <img class="img-fluid" src="assets/img/dash-livegame-dragon.jpg">
        <a href="" class="btn lv-btn">play now</a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="sportname === 'live-games2'" aria-labelledby="nav-LIVE2-tab" class="tab-pane fade active show" id="nav-LIVE2" role="tabpanel">

  <!-- title for mobile -->
  <div class="m-dash-bt">
    <div class="row">
      <div class="col-12">
        <h3><i class="mdi mdi-cards"></i> live game2</h3>
      </div>
    </div>
  </div>
  <!-- title for mobile -->

  <div class="row py-4 bg-theme mx-0 justify-content-center">
    <div class="col-md-4 col-6 align-self-center text-center">
      <div class="livegame position-relative">
        <img class="img-fluid" src="assets/img/dash-livegame-teenpatti.jpg">
        <a href="" class="btn lv-btn">play now</a>
      </div>
    </div>
    <div class="col-md-4 col-6 align-self-center text-center">
      <div class="livegame position-relative">
        <img class="img-fluid" src="assets/img/dash-livegame-poker.jpg">
        <a href="" class="btn lv-btn">play now</a>
      </div>
    </div>
    <div class="col-md-4 col-6 align-self-center text-center">
      <div class="livegame position-relative">
        <img class="img-fluid" src="assets/img/dash-livegame-dragon.jpg">
        <a href="" class="btn lv-btn">play now</a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="sportname === 'binary'" aria-labelledby="nav-BINARY-tab" class="tab-pane fade active show" id="nav-BINARY" role="tabpanel">
  <!-- title for mobile -->
  <div class="m-dash-bt">
    <div class="row">
      <div class="col-12">
        <h3><i class="mdi mdi-source-merge"></i> Binary</h3>
      </div>
    </div>
  </div>
  <!-- title for mobile -->

  <div class="row game-1x1 my-1 m-0 text-uppercase">
    <div class="col-12 font-weight-bold text-center col-xs-none">
      game
    </div>
  </div>
  <div routerLink="/binary-details/{{eitem?.eventId}}" *ngFor="let eitem of aList" class="row bg-theme mx-0 text-capitalize py-1 sport-list mb-1">
    <div class="col-md-8 col-8 align-self-center">
      <div class="team-name">
         <span class="tn-icons"><i class="mdi mdi-timer-outline"></i></span>
        <p>{{eitem?.title}}
          <b> {{eitem?.time | date:"mediumDate"}}
            <time> {{eitem?.time | date:"shortTime"}}</time>
          </b>
        </p>
      </div>
    </div>
    <div class="col-md-4 col-4 align-self-center text-lg-center">
      <span class="in-play blink" *ngIf="eitem?.type === 'IN_PLAY'">In-Play</span>
    </div>
  </div>
</div>

<div *ngIf="sportname === 'casino'" aria-labelledby="nav-LIVE2-tab" class="tab-pane fade active show" id="nav-LIVE2" role="tabpanel">

  <!-- title for mobile -->
  <div class="m-dash-bt">
    <div class="row">
      <div class="col-12">
        <h3><i class="mdi mdi-cards-club"></i> Casino</h3>
      </div>
    </div>
  </div>
  <!-- title for mobile -->

  <div class="row py-4 bg-theme mx-0 justify-content-center livegame-row">
    <div class="col-md-3 col-6 align-self-center text-center" *ngFor="let citem of cList">
      <div class="livegame position-relative">
        <img class="img-fluid" [src]="citem.thumb">
        <a (click)="getCasinoGamesUrl(citem.game_id)" class="btn lv-btn">{{citem.name}}</a>
      </div>
    </div>
  </div>
</div>

