.mat-bottom-sheet-container {
  min-height: 60vh;
  min-width: 100vw !important;
  margin-top: 0px;
}
.cdk-global-scrollblock {
  position: fixed;
  width: 100%;
  overflow-y: initial !important;
}
.mat-bottom-sheet-container{
  padding: 0 !important;
  overflow: hidden;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.betsliptable .panel-body {
  overflow: hidden !important;
  /*height: 45vh !important;*/
}

.blue-table .form-control[readonly], .blue-table .form-control:disabled {
  background: #83c0fb !important;
}

.red-table .form-control[readonly], .red-table .form-control:disabled {
  background: #FFA5A5 !important;;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (max-width: 767px){
  .mat-bottom-sheet-container {
    min-height: 67vh;
  }
}
@media (max-width: 360px){
  .mat-bottom-sheet-container {
    min-height: 80vh;
  }
}
