<div class=" betsliptable panel-group" id="accordion">
  <div class="panel">

    <div class="panel-heading accordion-toggle" (click)="closeBetSlip($event);" data-toggle="collapse"
         data-parent="#accordion" data-target="#BST" aria-expanded="true">
      <h4 class="panel-title"><i class="mdi mdi-beta"></i> {{placeBet.market_name !== placeBet.runner ? placeBet.m_type === 'cricket_casino' ? 'cricket casino' : placeBet.market_name : placeBet.m_type === 'fancy2' ? 'session' : placeBet.m_type === 'fancy3' ? 'other market' : placeBet.m_type }}</h4>
    </div>

    <div id="BST" class="panel-collapse collapse show">
      <div class="panel-body">
        <div class="tab-content pt-1">
          <div class="tab-pane active">

            <div class="row my-1 py-1 align-items-center text-capitalize text-dark mx-0">
              <div class="col-md-7 col-7">
<!--                <p class="market-name m-0">-->
<!--                  <span>money line: {{placeBet?.runner}}</span>-->
<!--                </p>-->
                <p class="text-dark m-0 text-capitalize">
                  {{placeBet?.runner}}
                  <span class="d-block">
                      <b [ngClass]="{'credit': plArrTmp[inx0]?.profit_loss >= 0,'debit': plArrTmp[inx0]?.profit_loss < 0 }">{{plArrTmp[inx0]?.secId == placeBet?.sec_id ? plArrTmp[inx0]?.profit_loss : '' }}</b>
                    <i *ngIf="profitLoss1 !== '' && profitLoss1 !== null" class="mdi mdi-arrow-right"></i>
                    <b [ngClass]="{'credit': profitLoss1 >= 0,'debit': profitLoss1 < 0 }" *ngIf="profitLoss1 !== '' && profitLoss1 !== null">{{profitLoss1}}</b></span>
                </p>
              </div>
              <div class="col-md-5 text-center" [ngClass]="{'col-5': placeBet?.m_type !== 'cricket_casino' && placeBet?.m_type !== 'jackpot','col-3': placeBet?.m_type === 'cricket_casino' || placeBet?.m_type === 'jackpot'}">
                <div class="bl-buttons" *ngIf="placeBet?.m_type === 'match_odd' ||  placeBet?.m_type == 'completed_match' || placeBet?.m_type == 'tied_match' || placeBet?.m_type == 'winner' || placeBet?.m_type == 'goals' || placeBet?.m_type == 'set_market'">
                  <button class="bl-btn back waves-effect waves-light" (click)="changeBet('back',marketsOdds?.odds[inx0]?.backPrice1 ? marketsOdds?.odds[inx0]?.backPrice1 : placeBet?.price)">{{marketsOdds.odds ? marketsOdds?.odds[inx0]?.backPrice1 ? marketsOdds?.odds[inx0]?.backPrice1 : '0' : '0'}} <span>{{marketsOdds.odds ? marketsOdds?.odds[inx0]?.backSize1 ? marketsOdds?.odds[inx0]?.backSize1 : '00' : '00'}}</span></button>
                  <button class="bl-btn lay waves-effect waves-light" (click)="changeBet('lay',marketsOdds?.odds[inx0]?.layPrice1 ? marketsOdds?.odds[inx0]?.layPrice1 : placeBet?.price)">{{marketsOdds.odds ? marketsOdds?.odds[inx0]?.layPrice1 ? marketsOdds?.odds[inx0]?.layPrice1 : '0' : '0'}} <span>{{marketsOdds.odds ? marketsOdds?.odds[inx0]?.laySize1 ? marketsOdds?.odds[inx0]?.laySize1 : '00' : '00'}}</span></button>
                  <div class="suspended" *ngIf="marketsOdds && marketsOdds?.suspended === 1">
                    <span>{{marketsOdds?.suspended === 1 ? 'Suspended' : 'Ball Running'}}</span>
                  </div>
                </div>

                <div class="bl-buttons" *ngIf="placeBet?.m_type === 'bookmaker' || placeBet?.m_type === 'virtual_cricket'">
                  <button class="bl-btn back waves-effect waves-light" (click)="changeBet('back',marketsOdds?.runners[inx0]?.back ? marketsOdds?.runners[inx0]?.back : 0)">{{marketsOdds.runners ? marketsOdds?.runners[inx0]?.back : ''}} <span>00</span></button>
                  <button class="bl-btn lay waves-effect waves-light" *ngIf="placeBet?.m_type === 'bookmaker'" (click)="changeBet('lay',marketsOdds?.runners[inx0]?.lay ? marketsOdds?.runners[inx0]?.lay : 0)">{{marketsOdds.runners ? marketsOdds?.runners[inx0]?.lay : ''}} <span>00</span></button>
                  <button class="bl-btn lay waves-effect waves-light" *ngIf="placeBet?.m_type === 'virtual_cricket'" >{{marketsOdds.runners ? marketsOdds?.runners[inx0]?.lay : ''}} <span>00</span></button>
                  <div class="suspended" *ngIf="marketsOdds?.runners && (marketsOdds?.runners[inx0]?.suspended === 1 || marketsOdds?.runners[inx0]?.ballrunning === 1)">
                    {{marketsOdds?.runners[inx0]?.suspended === 1 ? 'Suspended' : 'Ball Running'}}
                  </div>
                </div>

                <div class="bl-buttons" *ngIf="placeBet?.m_type === 'fancy3'">
                  <button class="bl-btn back waves-effect waves-light" (click)="changeBet('back',marketsOdds?.back ? marketsOdds?.back : placeBet?.price, marketsOdds?.back ? marketsOdds?.back : placeBet?.rate)">{{marketsOdds ? marketsOdds?.back : ''}} <span>00</span></button>
                  <button class="bl-btn lay waves-effect waves-light" (click)="changeBet('lay',marketsOdds?.lay ? marketsOdds?.lay : placeBet?.price, marketsOdds?.lay ? marketsOdds?.lay : placeBet?.rate)">{{marketsOdds ? marketsOdds?.lay : ''}} <span>00</span></button>
                  <div class="suspended" *ngIf="marketsOdds && (marketsOdds?.suspended === 1 || marketsOdds?.ball_running === 1)">
                    {{marketsOdds?.suspended === 1 ? 'Suspended' : 'Ball Running'}}
                  </div>
                </div>

                <div class="bl-buttons" *ngIf="placeBet?.m_type === 'oddeven'">
                  <button class="bl-btn back waves-effect waves-light" (click)="changeBet('back',marketsOdds?.odd ? marketsOdds?.odd : 0, marketsOdds?.odd ? marketsOdds?.odd : 0)">{{marketsOdds ? marketsOdds?.odd : ''}} <span>00</span></button>
                  <button class="bl-btn lay waves-effect waves-light" (click)="changeBet('lay',marketsOdds?.even ? marketsOdds?.even : 0, marketsOdds?.even ? marketsOdds?.even : 0)">{{marketsOdds ? marketsOdds?.even : ''}} <span>00</span></button>
                  <div class="suspended" *ngIf="marketsOdds && (marketsOdds?.suspended === 1 || marketsOdds?.ball_running === 1)">
                    {{marketsOdds?.suspended === 1 ? 'Suspended' : 'Ball Running'}}
                  </div>
                </div>

                <div class="bl-buttons" *ngIf="placeBet?.m_type === 'khado'">
                  <button class="bl-btn back waves-effect waves-light" (click)="changeBet('yes',marketsOdds?.yes ? marketsOdds?.yes : placeBet?.price)">{{marketsOdds ? marketsOdds?.yes : ''}} <span>{{marketsOdds ? marketsOdds?.yes_rate : ''}}</span></button>
                  <button class="bl-btn lay waves-effect waves-light">{{marketsOdds ? marketsOdds?.no : ''}} <span>{{marketsOdds ? marketsOdds?.no_rate : ''}}</span></button>
                  <div class="suspended" *ngIf="marketsOdds && (marketsOdds?.suspended === 1 || marketsOdds?.ball_running === 1)">
                    {{marketsOdds?.suspended === 1 ? 'Suspended' : 'Ball Running'}}
                  </div>
                </div>

                <div class="bl-buttons" *ngIf="placeBet?.m_type === 'fancy2' || placeBet?.m_type === 'ballbyball'">
                  <button class="bl-btn lay waves-effect waves-light" (click)="changeBet('no',marketsOdds?.no ? marketsOdds?.no : placeBet?.price, marketsOdds?.no_rate ? marketsOdds?.no_rate : placeBet.rate)">{{marketsOdds ? marketsOdds?.no : ''}} <span>{{marketsOdds ? marketsOdds?.no_rate : ''}}</span></button>
                  <button class="bl-btn back waves-effect waves-light" (click)="changeBet('yes',marketsOdds?.yes ? marketsOdds?.yes : placeBet?.price, marketsOdds?.yes_rate ? marketsOdds?.yes_rate : placeBet.rate)">{{marketsOdds ? marketsOdds?.yes : ''}} <span>{{marketsOdds ? marketsOdds?.yes_rate : ''}}</span></button>
                  <div class="suspended" *ngIf="marketsOdds && (marketsOdds?.suspended === 1 || marketsOdds?.ball_running === 1)">
                    {{marketsOdds?.suspended === 1 ? 'Suspended' : 'Ball Running'}}
                  </div>
                </div>

                <div class="bl-buttons" *ngIf="placeBet?.m_type === 'fancy'">
                  <button class="bl-btn lay waves-effect waves-light" (click)="changeBet('no',marketsOdds?.data?.no ? marketsOdds?.data?.no : placeBet?.price, marketsOdds?.data?.no_rate ? marketsOdds?.data?.no_rate : placeBet.rate)">{{marketsOdds ? marketsOdds?.data?.no : ''}} <span>{{marketsOdds ? marketsOdds?.data?.no_rate : ''}}</span></button>
                  <button class="bl-btn back waves-effect waves-light" (click)="changeBet('yes',marketsOdds?.data?.yes ? marketsOdds?.data?.yes : placeBet?.price, marketsOdds?.data?.yes_rate ? marketsOdds?.data?.yes_rate : placeBet.rate)">{{marketsOdds ? marketsOdds?.data?.yes : ''}} <span>{{marketsOdds ? marketsOdds?.data?.yes_rate : ''}}</span></button>
                  <div class="suspended" *ngIf="marketsOdds && (marketsOdds?.suspended === 1 || marketsOdds?.ball_running === 1)">
                    {{marketsOdds?.suspended === 1 ? 'Suspended' : 'Ball Running'}}
                  </div>
                </div>

                <div class="bl-buttons" *ngIf="placeBet?.m_type === 'meter'">
                  <button class="bl-btn lay waves-effect waves-light" (click)="changeBet('no',marketsOdds?.no ? marketsOdds?.no : 0, marketsOdds?.no_rate ? marketsOdds?.no_rate : 0)">{{marketsOdds ? marketsOdds?.no : ''}} <span>{{marketsOdds ? marketsOdds?.no_rate : ''}}</span></button>
                  <button class="bl-btn back waves-effect waves-light" (click)="changeBet('yes',marketsOdds?.yes ? marketsOdds?.yes : 0, marketsOdds?.yes_rate ? marketsOdds?.yes_rate : 0)">{{marketsOdds ? marketsOdds?.yes : ''}} <span>{{marketsOdds ? marketsOdds?.yes_rate : ''}}</span></button>
                  <div class="suspended" *ngIf="marketsOdds && (marketsOdds?.suspended === 1 || marketsOdds?.ball_running === 1)">
                    {{marketsOdds?.suspended === 1 ? 'Suspended' : 'Ball Running'}}
                  </div>
                </div>

                <div class="bl-buttons" *ngIf="placeBet?.slug === 'binary'">
                  <button class="bl-btn lay waves-effect waves-light" (click)="changeBet('no',marketsOdds?.no ? marketsOdds?.no : 0, marketsOdds?.no_rate ? marketsOdds?.no_rate : 0)">{{marketsOdds ? marketsOdds?.no : ''}} <span>{{marketsOdds ? marketsOdds?.no_rate : ''}}</span></button>
                  <button class="bl-btn back waves-effect waves-light" (click)="changeBet('yes',marketsOdds?.yes ? marketsOdds?.yes : 0, marketsOdds?.yes_rate ? marketsOdds?.yes_rate : 0)">{{marketsOdds ? marketsOdds?.yes : ''}} <span>{{marketsOdds ? marketsOdds?.yes_rate : ''}}</span></button>
                  <div class="suspended" *ngIf="marketsOdds && (marketsOdds?.suspended === 1 || marketsOdds?.ball_running === 1)">
                    {{marketsOdds?.suspended === 1 ? 'Suspended' : 'Ball Running'}}
                  </div>
                </div>

                <div class="bl-buttons" *ngIf="placeBet?.m_type === 'cricket_casino' || placeBet?.m_type === 'jackpot'">
                  <button class="bl-btn back waves-effect waves-light">{{placeBet?.price ? placeBet?.price : '0'}} <span *ngIf="placeBet?.m_type !== 'jackpot'">{{placeBet?.rate ? placeBet?.rate : ''}}</span></button>
                </div>

              </div>
            </div>

            <!-- start table -->
            <div class="bst-table">
<!--              <div class="bst-header">-->
<!--                <p>{{placeBet?.eventname}}</p>-->
<!--              </div>-->
              <p class="min-max text-center bg-light p-1 justify-content-between d-flex">
                <span>[min stake: <b>{{intToString(plLimits.minStack)}}</b>]</span>
                <span>[max stake: <b>{{intToString(plLimits.maxStack)}}</b>]</span>
                <span>[max profit: <b>{{intToString(plLimits.maxProfitLimit)}}</b>]</span>
              </p>
              <div class="bst-content" [ngClass]="{'blue-table': classN === '1', 'red-table': classN === '0'}">
                <!-- <div class="bst-content blue-table"> -->
                <div class="row">
                  <div class="col-4">
<!--                    <em>{{placeBet?.bet_type}}</em>-->
                    <div class="input-group">
                      <span class="input-group-btn input-group-prepend"
                            *ngIf="placeBet.m_type === 'match_odd' || placeBet?.m_type === 'completed_match' || placeBet?.m_type === 'tied_match' || placeBet?.m_type === 'goals' || placeBet?.m_type === 'set_market' ||  placeBet?.m_type === 'virtual_cricket' || placeBet.m_type === 'khado'">
                            <button class="minus waves-effect waves-light" (click)="minusData('odd1price')"
                                    type="button">-</button>
                        </span>

                      <input class="form-control" type="text" placeholder="odds" (paste)="false"
                             *ngIf="placeBet.m_type === 'match_odd' || placeBet?.m_type === 'completed_match' || placeBet?.m_type === 'tied_match' || placeBet?.m_type === 'goals' || placeBet?.m_type === 'set_market' || placeBet?.m_type === 'virtual_cricket'"
                             readonly id="odd1price" name="odd1price" #odd1price="ngModel" [(ngModel)]="matchOdd2price"
                             (click)="keyFocue = '0';"
                             (change)="matchOdd2price < 1.01 ? matchOdd2price = 1.01 : matchOdd2price">
                      <input class="form-control" type="text" placeholder="odds" maxlength="5" (paste)="false"
                             *ngIf="placeBet.m_type === 'bookmaker' || placeBet.m_type === 'khado'" readonly
                             id="odd1price" name="odd1price" #odd1price="ngModel" [(ngModel)]="matchOdd2price">
                      <input class="form-control" type="number" placeholder="odds" id="odd2price" (paste)="false"
                             *ngIf="placeBet.m_type !== 'match_odd' && placeBet?.m_type !== 'completed_match' && placeBet?.m_type !== 'tied_match' && placeBet?.m_type !== 'goals' && placeBet?.m_type !== 'set_market' && placeBet?.m_type !== 'virtual_cricket' && placeBet.m_type !== 'bookmaker' && placeBet.m_type !== 'khado'"
                             disabled name="odd2price" step='0.01' min="1.01" #odd1price="ngModel"
                             [(ngModel)]="matchOdd2price">

                      <span class="input-group-btn input-group-append"
                            *ngIf="placeBet.m_type === 'match_odd' || placeBet?.m_type === 'completed_match' || placeBet?.m_type === 'tied_match' ||  placeBet?.m_type === 'goals' ||  placeBet?.m_type === 'set_market' ||  placeBet?.m_type === 'virtual_cricket' || placeBet.m_type === 'khado'">
                          <button class="plus waves-effect waves-light" (click)="plusData('odd1price')"
                                  type="button">+</button>
                      </span>
                    </div>
                  </div>
                  <div class="col-4">
<!--                    <em>stake</em>-->
                    <div class="input-group">
                        <span class="input-group-btn input-group-prepend">
                            <button class="minus waves-effect waves-light" (click)="minusSize()"
                                    type="button">-</button>
                        </span>
                      <input type="number" (keydown.enter)="submitNew()" (input)="keyPressSize()" (keypress)="numberOnly($event)" (paste)="false" autofocus="autofocus"
                             tabindex="1" placeholder="stake" id="odd2size" name="odd2size" class="form-control"
                             #odd1size="ngModel" pattern="/^[0-9]$/" [(ngModel)]="matchOdd2size">
                      <span class="input-group-btn input-group-append">
                          <button class="plus waves-effect waves-light" (click)="plusSize()" type="button">+</button>
                      </span>
                    </div>
                  </div>
                  <div class="col-4">
<!--                    <em>profit</em>-->
                    <input type="text" name="" readonly class="form-control"
                           value="{{ globleColor ? matchOdd2size :  matchOdd2profit}}" placeholder="0.00">
                  </div>
                </div>
                <div class="row pt-2 stake-btn">
                  <div class="col-12">
                    <div class="row mx-0">
                      <button class="waves-effect waves-light" *ngFor="let ibet of betOptionsList"
                              (click)="addStack(ibet?.key, ibet?.value)">{{ibet?.key}}</button>
                      <button class="waves-effect waves-light clear"
                              (click)="activeOdd1Amount = ''; matchOdd2size = 0; matchOdd2profit = 0; profitLoss1 = ''; profitLoss2 = ''; profitLoss3 = ''; matchOdd2profit = 0; activeOdd1Amount = '';">
                        clear
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row pt-2 stake-btn mobile-number d-block d-sm-none">
                  <div class="col-12">
                    <div class="row mx-0">
                      <button class="waves-effect waves-light" (click)="keyboard('1', 'match_odd2')">1</button>
                      <button class="waves-effect waves-light" (click)="keyboard('2', 'match_odd2')">2</button>
                      <button class="waves-effect waves-light" (click)="keyboard('3', 'match_odd2')">3</button>
                      <button class="waves-effect waves-light" (click)="keyboard('4', 'match_odd2')">4</button>
                      <button class="waves-effect waves-light" (click)="keyboard('5', 'match_odd2')">5</button>
                      <button class="waves-effect waves-light" (click)="keyboard('6', 'match_odd2')">6</button>
                      <button class="waves-effect waves-light" (click)="keyboard('7', 'match_odd2')">7</button>
                      <button class="waves-effect waves-light" (click)="keyboard('8', 'match_odd2')">8</button>
                      <button class="waves-effect waves-light" (click)="keyboard('9', 'match_odd2')">9</button>
                      <button class="waves-effect waves-light" (click)="keyboard('0', 'match_odd2')">0</button>
                      <button class="waves-effect waves-light" (click)="keyboard('00', 'match_odd2')">00</button>
                      <button class="waves-effect waves-light clear" (click)="keyboard('back', 'match_odd2')"><i
                        class="mdi mdi-close"></i></button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="bst-footer">
                <div class="row">
                  <div class="col-6">
                    <button class="waves-effect waves-light bet-delete" (click)="closeBetSlip($event);">delete</button>
                  </div>
                  <div class="col-6" *ngIf="placeBet?.m_type !== 'meter'">
                    <button (click)="submitNew()" class="waves-effect waves-light bet-place" [disabled]="!isBetPlace">
                      bet place
                    </button>
                  </div>
                  <div class="col-6" *ngIf="placeBet?.m_type === 'meter'">
                    <button (click)="submitNew()" class="waves-effect waves-light bet-place" [disabled]="!isBetPlace">
                      bet place
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="plArrTmp.length <= 3 && (placeBet?.m_type == 'match_odd' || placeBet?.m_type == 'completed_match' || placeBet?.m_type == 'tied_match' || placeBet?.m_type == 'goals' || placeBet?.m_type == 'set_market' || placeBet?.m_type == 'bookmaker' || placeBet?.m_type == 'virtual_cricket')">
              <div class="text-center" [ngClass]="{'col-6': plArrTmp.length === 3, 'col-12': plArrTmp.length === 2 }">
                <p class="text-dark m-0 text-capitalize" style="padding: 1px 0;">
                  {{plArrTmp[inx1]?.runner}}
                  <span class="d-block">
                      <b [ngClass]="{'credit': plArrTmp[inx1]?.profit_loss >= 0,'debit': plArrTmp[inx1]?.profit_loss < 0 }">{{plArrTmp[inx1]?.profit_loss}}</b>
                    <i class="mdi mdi-arrow-right" *ngIf="profitLoss2 !== '' && profitLoss2 !== null"></i>
                    <b *ngIf="profitLoss2 !== '' && profitLoss2 !== null" [ngClass]="{'credit': profitLoss2 >= 0,'debit': profitLoss2 < 0 }">{{profitLoss2}}</b>
                  </span>
                </p>
              </div>
              <div class="col-6 text-center" *ngIf="plArrTmp.length === 3">
                <p class="text-dark m-0 text-capitalize" style="padding: 1px 0;">
                  {{plArrTmp[inx2]?.runner}}
                  <span class="d-block">
                    <b class="credit" [ngClass]="{'credit': plArrTmp[inx2]?.profit_loss >= 0,'debit': plArrTmp[inx2]?.profit_loss < 0 }">{{plArrTmp[inx2]?.profit_loss}}</b>
                    <i class="mdi mdi-arrow-right" *ngIf="profitLoss3 !== '' && profitLoss3 !== null"></i>
                    <b [ngClass]="{'credit': profitLoss3 >= 0,'debit': profitLoss3 < 0 }" *ngIf="profitLoss3 != '' && profitLoss3 !== null">{{profitLoss3}}</b>
                  </span>
                </p>
              </div>
            </div>
            <!-- end table -->
            <!--            <button class="clear-all-btn">clear all</button>-->
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!--&lt;!&ndash; BetSlipTable &ndash;&gt;-->
<div class="bottom-sheet betsliptable">
  <!-- Accordion START -->

  <!-- Accordion END -->
</div>
<!--&lt;!&ndash; BetSlipTable &ndash;&gt;-->
