<!-- Topbar Start -->
<div class="navbar-custom">
  <div class="container-fluid">
    <ul class="list-unstyled topnav-menu float-right mb-0">

      <li class="dropdown notification-list topbar-dropdown m-balance">
        <a class="nav-link">
          <button type="button" class="d-inline-flex btn btn-balance btn-rounded waves-effect waves-light">
            <i class="mdi mdi-badge-account"></i>
            <span>balance<b>{{balance || 0}}</b></span>
          </button>
        </a>
      </li>

      <li class="dropdown notification-list topbar-dropdown m-exposer">
        <a class="nav-link">
          <button type="button" class="d-inline-flex btn btn-exposer btn-rounded waves-effect waves-light">
            <i class="mdi mdi-badge-account"></i>
            <span>exposer<b>{{expose || 0}}</b></span>
          </button>
        </a>
      </li>

      <li class="dropdown notification-list topbar-dropdown nav-profile d-none d-sm-block" [ngClass]="{'show': isMenu}">
        <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown"
           (click)="isMenu = !isMenu"
           role="button" aria-haspopup="false" aria-expanded="false">
            <span class="pro-user-name text-uppercase ml-1">
                {{username}}
            </span>
          <img class="img-fluid" src="assets/img/profile.png">
        </a>
        <div class="dropdown-menu dropdown-menu-right profile-dropdown text-capitalize" [ngClass]="{'show': isMenu}">
          <!-- item-->
          <div class="dropdown-header noti-title text-uppercase">
            <h6 class="text-overflow m-0">Welcome !</h6>
          </div>

          <!-- item-->
          <a routerLink="/profile" class="dropdown-item notify-item">
            <span>profile</span>
          </a>
          <!--          <a routerLink="/casino-balance" class="dropdown-item notify-item">-->
          <!--            <span>casino balance</span>-->
          <!--          </a>-->

          <!-- item-->
          <a routerLink="/statement" class="dropdown-item notify-item">
            <span>account statement</span>
          </a>

          <!-- item-->
          <a routerLink="/profitloss" class="dropdown-item notify-item">
            <span>profit & loss</span>
          </a>

          <!-- item-->
          <a routerLink="/bet-history" class="dropdown-item notify-item">
            <span>bet history</span>
          </a>

          <!-- item-->
          <a routerLink="/teenpatti-history" class="dropdown-item notify-item">
            <span>teenpatti bet history</span>
          </a>
          <a routerLink="/casino-history" class="dropdown-item notify-item">
            <span>Casino bet history</span>
          </a>

          <!-- item-->
          <a routerLink="/live-bets" class="dropdown-item notify-item">
            <span>live bet</span>
          </a>

          <!-- item-->
          <a href="javascript:void(0);" (click)="logout()" class="dropdown-item notify-item">
            <span>Logout</span>
          </a>

        </div>
      </li>

      <!-- user for mobile -->
      <li class="dropdown notification-list topbar-dropdown d-none m-user-profile">
        <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect waves-light">
          <span class="pro-user-name text-uppercase"> <p><img class="img-fluid"
                                                              src="assets/img/profile.png"></p> {{username}}</span>
        </a>
      </li>
      <!-- user for mobile -->

      <li class="dropdown notification-list d-none d-sm-block">
        <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect waves-light">
          <i class="mdi mdi-cog noti-icon"></i>
        </a>
      </li>

    </ul>

    <!-- LOGO -->

    <div class="logo-box d-none d-sm-block">
      <a routerLink="/main" class="logo logo-dark text-center">
        <span class="logo-sm">
            <img class="syslogo" src="assets/img/logo.png" alt="" height="15">
        </span>
        <span class="logo-lg">
            <img class="syslogo" src="assets/img/logo.png" alt="" height="30">
        </span>
      </a>

      <a routerLink="/main" class="logo logo-light text-center">
          <span class="logo-sm">
              <img class="syslogo" src="assets/img/fav.png" alt="" height="45">
          </span>
        <span class="logo-lg">
            <img class="syslogo" src="assets/img/logo.png" alt="" height="45">
        </span>
      </a>
    </div>

    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
      <li (click)="openMobileMenu();" [ngStyle]="{'display': routeUrlDisplay}">
        <button class="button-menu-mobile waves-effect waves-light BGB">
          <i class="main-menu"></i>
        </button>
      </li>
      <li (click)="back()" [ngStyle]="{'display': routeUrlDisplay === 'block' ? 'none' : 'block' }">
        <button class="button-menu-mobile waves-effect waves-light">
          <i class="mdi mdi-arrow-left-bold"></i> <small>BACK</small>
        </button>
      </li>
      <li class="d-xl-block">
        <a class="nav-link waves-effect waves-light rules" routerLink="/rules">
          <span class="blink">Rules</span>
        </a>
      </li>

      <li class="d-xl-block d-none d-sm-block">
        <a routerLink="/result" class="nav-link waves-effect waves-light text-dark">
          <span class="result-link">result <b class="blinking2"><i class="mdi mdi-chevron-double-right"></i></b></span>
        </a>
      </li>

    </ul>
    <div class="clearfix"></div>
  </div>
</div>
<!-- end Topbar -->
