<a [href]="downloadUrl" [download]="downloadTag">
  <h2 class="download-btn"><i class="mdi mdi-android"></i>download app</h2>
</a>
<a [href]="whatsappLink">
  <img class="img-fluid whatsapp" loading="lazy" src="assets/img/whatsapp.png">
</a>
<header id="header">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom-nav-bar">
      <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#MyMenuHome"
              aria-controls="MyMenuHome" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="mdi mdi-menu mdi-36px"></i></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="img-fluid" src="assets/img/logo.png">
      </a>
      <button type="button" class="btn btn-login py-1 d-block d-sm-none" (click)="openModal()">Log In</button>

      <div class="collapse navbar-collapse" id="MyMenuHome">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0 py-1">
          <li class="nav-item active">
            <a class="nav-link" href="javascript:void(0);" (click)="scrollToQuestionNode('sports')">Sports <span
              class="ex-only">Live</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" (click)="scrollToQuestionNode('events')">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" (click)="scrollToQuestionNode('casino')">casino</a>
          </li>
        </ul>
        <form class="form-inline my-2 ml-3 my-lg-0 d-none d-sm-block">
          <button type="button" class="btn btn-login py-2" mat-button (click)="openModal()">
            Log In
          </button>
        </form>
      </div>
    </nav>
  </div>
</header>
<!-- End Header -->

<!-- ======= Slider ======= -->
<!--<app-landing-slider></app-landing-slider>-->
<section id="Slider">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators" #indicaters>
      <!--          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>-->
    </ol>
    <div class="carousel-inner" #carouselInner>
      <!--          <div class="carousel-item active">-->
      <!--            <img class="d-block w-100" loading="lazy" rel="prefetch" src="assets/img/slider-three.jpg" alt="">-->
      <!--          </div>-->
    </div>
  </div>
</section>
<!--<section id="Slider">-->
<!--  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">-->
<!--    <ol class="carousel-indicators">-->
<!--      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>-->
<!--      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>-->
<!--    </ol>-->
<!--    <div class="carousel-inner">-->
<!--      <div class="carousel-item active">-->
<!--        <img class="d-block w-100" loading="lazy" src="assets/img/slider-three.jpg" alt="">-->
<!--      </div>-->
<!--      <div class="carousel-item">-->
<!--        <img class="d-block w-100" loading="lazy" src="assets/img/slider-two.jpg" alt="">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!-- ======= Slider ======= -->

<!-- ======= Alert ======= -->
<section id="alert">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="alert-content">
          <img class="img-fluid" loading="lazy" src="assets/img/speaker.png">
          <marquee class="marquee" [innerHTML]="landingData?.commentry">Wel-come</marquee>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======= Alert ======= -->
<div class="main-content">
  <img class="img-fluid left-bar-img" loading="lazy" src="assets/img/left-bar.png">
  <img class="img-fluid right-bar-img" loading="lazy" src="assets/img/right-bar.png">
  <div class="main-wraper container">
    <!-- ======= sports ======= -->
    <section id="sports">
      <div class="row justify-content-center">
        <div class="col-12 px-0">
          <div class="section-title mb-3">
            <h4>sports</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="sports-box">
            <img class="img-fluid" loading="lazy" src="assets/img/landing-cricket.jpg">
            <h4>cricket</h4>
            <a href="javascript:void(0);" mat-button (click)="openModal()" class="play-button"> play now</a>
            <small class="liveEvent">live</small>
          </div>
        </div><!-- end col-4 -->
        <div class="col-md-4">
          <div class="sports-box">
            <img class="img-fluid" loading="lazy" src="assets/img/landing-football.jpg">
            <h4>football</h4>
            <a href="javascript:void(0);" mat-button (click)="openModal()" class="play-button"> play now</a>
          </div>
        </div><!-- end col-4 -->
        <div class="col-md-4">
          <div class="sports-box">
            <img class="img-fluid" loading="lazy" src="assets/img/landing-tennis.png">
            <h4>tennis</h4>
            <a href="javascript:void(0);" mat-button (click)="openModal()" class="play-button"> play now</a>
          </div>
        </div><!-- end col-4 -->
      </div>
    </section>
    <!-- ======= sports ======= -->

    <!-- ======= events ======= -->
    <section id="events">
      <div class="row">
        <div class="col-12 px-0">
          <div class="section-title mb-3">
            <h4>events</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="sports-box">
            <img class="img-fluid" loading="lazy" src="assets/img/landing-election.png">
            <h4>election</h4>
            <a href="javascript:void(0);" mat-button (click)="openModal()" class="play-button"> play now</a>
          </div>
        </div><!-- end col-4 -->
        <div class="col-md-4">
          <div class="sports-box">
            <img class="img-fluid" loading="lazy" src="assets/img/landing-jackpot.jpg">
            <h4>jackpot</h4>
            <a href="javascript:void(0);" mat-button (click)="openModal()" class="play-button"> play now</a>
            <small class="liveEvent">live</small>
          </div>
        </div><!-- end col-4 -->
        <div class="col-md-4">
          <div class="sports-box">
            <img class="img-fluid" loading="lazy" src="assets/img/landing-cricket-casino.png">
            <h4>cricket casinio</h4>
            <a href="javascript:void(0);" mat-button (click)="openModal()" class="play-button"> play now</a>
          </div>
        </div><!-- end col-4 -->
      </div>
    </section>
    <!-- ======= events ======= -->

    <!-- ======= casino ======= -->
    <section id="casino">
      <div class="row justify-content-center">
        <div class="col-12 px-0">
          <div class="section-title mb-3">
            <h4>casino</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="sports-box">
            <img class="img-fluid" loading="lazy" src="assets/img/landing-live-teenpatti.jpg">
            <h4>live teenpatti</h4>
            <a href="javascript:void(0);" mat-button (click)="openModal()" class="play-button"> play now</a>
          </div>
        </div><!-- end col-4 -->
        <div class="col-md-4">
          <div class="sports-box">
            <img class="img-fluid" loading="lazy" src="assets/img/landing-andar-bahar.png">
            <h4>andar bahar</h4>
            <a href="javascript:void(0);" mat-button (click)="openModal()" class="play-button"> play now</a>
          </div>
        </div><!-- end col-4 -->
        <div class="col-md-4">
          <div class="sports-box">
            <img class="img-fluid" loading="lazy" src="assets/img/landing-poker.jpg">
            <h4>poker</h4>
            <a href="javascript:void(0);" mat-button (click)="openModal()" class="play-button"> play now</a>
          </div>
        </div><!-- end col-4 -->
        <div class="col-md-4">
          <div class="sports-box">
            <img class="img-fluid" loading="lazy" src="assets/img/landing-7-up.jpg">
            <h4>7 up & down</h4>
            <a href="javascript:void(0);" mat-button (click)="openModal()" class="play-button"> play now</a>
          </div>
        </div><!-- end col-4 -->
        <div class="col-md-4">
          <div class="sports-box">
            <img class="img-fluid" loading="lazy" src="assets/img/landing-32cards.jpg">
            <h4>32 cards casino</h4>
            <a href="javascript:void(0);" mat-button (click)="openModal()" class="play-button"> play now</a>
            <small class="liveEvent">live</small>
          </div>
        </div><!-- end col-4 -->
        <div class="col-md-4">
          <div class="sports-box">
            <img class="img-fluid" loading="lazy" src="assets/img/landing-dragon-tiger.png">
            <h4>dragon tiger</h4>
            <a href="javascript:void(0);" mat-button (click)="openModal()" class="play-button"> play now</a>
          </div>
        </div><!-- end col-4 -->

        <div class="col-md-4">
          <div class="sports-box">
            <img class="img-fluid" loading="lazy" src="assets/img/landing-baccarat.png">
            <h4>baccarat</h4>
            <a href="javascript:void(0);" mat-button (click)="openModal()" class="play-button"> play now</a>
          </div>
        </div><!-- end col-4 -->
        <div class="col-md-4">
          <div class="sports-box">
            <img class="img-fluid" loading="lazy" src="assets/img/landing-roulette.jpg">
            <h4>roulette</h4>
            <a href="javascript:void(0);" mat-button (click)="openModal()" class="play-button"> play now</a>
          </div>
        </div><!-- end col-4 -->
        <div class="col-md-4">
          <div class="sports-box">
            <img class="img-fluid" loading="lazy" src="assets/img/landing-blackjack.jpg">
            <h4>blackjack</h4>
            <a href="javascript:void(0);" mat-button (click)="openModal()" class="play-button"> play now</a>
          </div>
        </div><!-- end col-4 -->
      </div>
    </section>
    <!-- ======= casino ======= -->
  </div>

</div>

<!-- ======= play ======= -->
<div id="play" class="play-section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>how to play & win</h1>
      </div>
      <div class="col-md-4 br">
        <div class="play-div">
          <img class="img-fluid" loading="lazy" src="assets/img/play-account.svg">
          <h2>open an account</h2>
        </div>
      </div>

      <div class="col-md-4 br">
        <div class="play-div">
          <img class="img-fluid" loading="lazy" src="assets/img/play-betting.svg">
          <h2>started betting</h2>
        </div>
      </div>

      <div class="col-md-4">
        <div class="play-div">
          <img class="img-fluid" loading="lazy" src="assets/img/play-cash.svg">
          <h2>redeem your cash</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ======= play ======= -->

<!-- ======= footer ======= -->
<section class="bg-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <div class="footer-content">
          <img class="img-fluid" loading="lazy" src="assets/img/18+.png">
          <span>underage gambling is an offence</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======= footer ======= -->


<!-- Modal -->
<jw-modal id="login-model" class="custom-modal-popup">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <button type="button" class="close" (click)="closeModal()">
          <i class="mdi mdi-close"></i>
        </button>
        <div class="row">
          <div class="col-md-6">
            <div class="text-center my-2">
              <a class="text-success">
                <span><img loading="lazy" src="assets/img/logo.png" alt="" height="40"></span>
                <p class="p-0 m-0 text-capitalize mt-1 font-13 font-weight-semibold">Welcome please login to your
                  account.</p>
              </a>
            </div>

            <form [formGroup]="form" (ngSubmit)="submitLogin()">
              <div class="form-group">
                <input class="form-control" type="text" name="username" formControlName="username"
                       placeholder="Username"
                       required>
                <div class="error" *ngIf="frmuUsername.invalid && (frmuUsername.dirty || frmuUsername.touched)">
                  Invalid username, please retry again
                </div>
              </div>
              <div class="form-group position-relative">
                <input class="form-control" [type]="passwordType" formControlName="password" name="password" required
                       placeholder="Enter Password">
                <a class="login-eye" (click)="passwordType = (passwordType === 'password' ? 'text' : 'password')">
                  <i class="mdi"
                     [ngClass]="{'mdi-eye': passwordType === 'password', 'mdi-eye-off': passwordType === 'text' }"></i>
                </a>
                <div class="error" *ngIf="frmPassword.invalid && (frmPassword.dirty || frmPassword.touched)">
                  Invalid password, please retry again
                </div>
              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck2">
<!--                  <label class="custom-control-label" for="customCheck2">Remember me</label>-->
                </div>
              </div>
              <div class="form-group text-right"> <!--  --->
                <button class="btn btn-login" [ngClass]="{'btn-disable': !form.valid && !isActiveSYS }">
                  <i class="mdi mdi-soccer text-light spin-loader" *ngIf="isSubmit"></i>
                  Log In
                </button>
                <div class="error" *ngIf="errorMsg">
                  {{errorMsg}}
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div>
</jw-modal>
