body{
  padding: 0;
  margin: 0;
}
.maintanance-div{
  background: url('https://p.w3layouts.com/demos/road_way_under_construction/web/images/bg.jpg');
  height: 100vh;
  width: 100%;
}
.maintanance{
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  justify-content: center;
  text-align: center;
  width: 100%;
  align-items: center;
}
.maintanance img{
  width: 200px;
  margin: 0 auto;
  background: #00000052;
  padding: 20px 20px;
  border-radius: 14px;
}
.maintanance h2{
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  font-family: fantasy;
  letter-spacing: 5px;
  margin: 25px 0;
}
.maintanance small{
  text-transform: uppercase;
  font-size: 25px;
  display: block;
  color: #fff;
  background: red;
  width: auto;
  padding: 15px 0;
  font-style: italic;
  font-family: cursive;
}
.maintanance small b{
  color: #e8d700;
  font-size: 17px;
  display: block;
  text-transform: lowercase;
  font-family: sans-serif;
  font-style: normal;
}
