<!-- Start Content-->
<div class="container-fluid" xmlns="http://www.w3.org/1999/html">

  <div class="row mt-0 mt-lg-3">
    <div class="col-12">
      <h2 class="event-title">{{eventTitle}}</h2>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body score-tv">
          <div class="row justify-content-center">

            <!-- mobile view -->
            <div class="col-12 trow align-items-center text-uppercase text-dark market-title-rowext-center">
              <div class="row">
                <div class="col-md-3 col-2 align-self-center">
                  <button *ngIf="matchData?.is_tv" (click)="onoffTVScore('tv')" class="btn btn-television waves-effect waves-light collapsed">
                    <i class="mdi mdi-television"></i>
                  </button>
                </div>
                <div class="col-md-6 col-8 align-self-center">
                  <button class="btn btn-match-unmatch" (click)="getBetList()">matched &
                    unmatched
                  </button>
                </div>
                <div class="col-md-3 col-2 align-self-center pl-1 text-right">
                  <button *ngIf="matchData?.isScore" (click)="onoffTVScore('score')" class="btn btn-scoreboard waves-effect waves-light collapsed" type="button"><i class="mdi mdi-cricket"></i></button>
                </div>
              </div>

              <div class="row justify-content-center">
                <!-- collapse section -->
                <div class="col-md-6">
                  <div class="intro video-wrap collapse mt-1" [ngClass]="{'show': isTv}" id="Television" style="">
<!--                    <iframe width="100%" height="100%" id="fp_embed_player" src="https://cheeryexch.com:8888/embed_player?urlServer=wss://cheeryexch.com:8443&streamName=ch_4&mediaProviders=WebRTC,Flash,MSE,WSPlayer"></iframe>-->
                    <app-live-tv-score [bindUrl]="bindTVURL" [isTvOn]="isTv" [isScoreOn]="isScoreBoard"></app-live-tv-score>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="collapse mt-1" [ngClass]="{'show': isScoreBoard && matchData?.winner === null}" id="Scoreboard" style="">
                    <div class="embed-responsive embed-responsive-16by9 rounded">
<!--                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"-->
<!--                              allowfullscreen></iframe>-->
                      <app-live-tv-score [bindUrl]="bindSCOREURL" [isTvOn]="isTv" [isScoreOn]="isScoreBoard"></app-live-tv-score>
                    </div>
                  </div>
                </div>
                <!-- collapse section -->
              </div>
            </div>
            <!-- mobile view -->

            <div class="col-md-6">

            </div>
            <div class="col-md-6">

            </div>
          </div>
        </div>
      </div>
    </div> <!-- end col-->
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-12">

      <!-- Portlet card -->
      <div class="card" #issectionone  style="display: none;">
        <div class="card-body market-ui">
          <div class="row mx-lg-0">
            <div class="col-md-12">
              <!-- MATCH ODDS -->

              <!-- match odds -->
              <div #pRef></div>
              <!-- end match odds -->

              <!-- COMPLATED MATCH ODDS -->
              <div #cmRef></div>
              <!-- END OF COMPLATED MATCH ODDS -->

              <!-- TIED MACTH -->
              <div #tmRef></div>
              <!-- END OF TIED MATCHED -->

              <!-- WINNER MACTH -->
              <div #wnRef></div>
              <!-- END OF WINNER MATCHED -->

              <!-- GOAL MARKET -->
              <div #glRef></div>
              <!-- END OF GOAL MARKET -->

              <!-- SET MARKET -->
              <div #setMarketRef></div>
              <!-- END OF SET MARKET -->

            </div>
          </div>
        </div> <!-- end card-body-->
      </div> <!-- end card-->


      <!-- Portlet card -->
      <div class="card" #issectionsecond style="display: none;" >
        <div class="card-body market-ui">
          <div class="row mx-lg-0">
            <div class="col-md-12">
              <!--c-pr-2-->
              <div></div>

              <!--BOOKMAKER -->
              <div #bookmakerRef></div>
              <!--END OF BOOKMAKER -->

              <!--VIRTUAL CRICKET -->
              <div #virtualCricketRef></div>
              <!--END OF VIRTUAL CRICKET -->

              <!--FANCY-2 -->
              <div #fancy2Ref></div>
              <!-- END OF FANCY-2 -->

              <!--FANCY-1(MENUAL SESSTION) -->
              <div #fancyRef></div>
              <!--END OF FANCY-1(MENUAL SESSTION) -->

            </div>
            <div class="col-md-12"> <!--c-pl-2-->
              <!--START OF BALLBYBALL-->
              <div #ballbyballRef></div>
              <!--END OF BALLBYBALL-->
            </div>
          </div>
        </div> <!-- end card body-->
      </div> <!-- end card-->

      <!-- Portlet card -->
      <div  class="card" #issectionthird *ngIf="matchData?.sport_id === 4"  style="display: none;">
        <div class="card-body">
          <div class="dashboard-tabs extra-market-tabs">
            <div class="dash-ul">
              <ul class="nav nav-pills nav-justified nav-bordered" id="nav-tabs" role="tablist">
                <li class="nav-item" *ngIf="matchData?.fancy3">
                  <a aria-controls="nav-om" aria-selected="true" class="nav-item nav-link active" data-toggle="tab"
                     href="#nav-om" id="nav-om-tab" role="tab" aria-expanded="true">
                    <span>other market</span>
                  </a>
                </li>

                <li class="nav-item" *ngIf="matchData?.oddeven && matchData?.sport_id === 4">
                  <a aria-controls="nav-oem" aria-selected="true" class="nav-item nav-link" [ngClass]="{'active': matchData?.fancy3 === null}" data-toggle="tab"
                     href="#nav-oem" id="nav-oem-tab" role="tab">
                    <span>odd even market</span>
                  </a>
                </li>
                <li class="nav-item" *ngIf="matchData?.khado && matchData?.sport_id === 4">
                  <a aria-controls="nav-km" aria-selected="false" class="nav-item nav-link" [ngClass]="{'active': matchData?.fancy3 === null && matchData?.oddeven === null}" data-toggle="tab"
                     href="#nav-km" id="nav-km-tab" role="tab">
                    <span>khado market</span>
                  </a>
                </li>
                <li class="nav-item" *ngIf="matchData?.meter && matchData?.sport_id === 4">
                  <a aria-controls="nav-mm" aria-selected="false" class="nav-item nav-link" [ngClass]="{'active': matchData?.fancy3 === null && matchData?.oddeven === null && matchData?.khado === null}" data-toggle="tab"
                     href="#nav-mm" id="nav-mm-tab" role="tab">
                    <span>meter market</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="tab-content" id="tabs-collapse">

              <div aria-labelledby="nav-om-tab" class="tab-pane" [ngClass]="{'fade active show': matchData?.fancy3 !== null}" id="nav-om" role="tabpanel"
                   aria-expanded="true">
                <!--FANCY-3(other) -->
                <div #fancy3Ref></div>
                <!-- END OF FANCY-3(other) -->
              </div>

              <div aria-labelledby="nav-oem-tab" class="tab-pane" [ngClass]="{'fade active show': matchData?.fancy3 === null && matchData?.oddeven !== undefined && matchData?.oddeven !== null}" id="nav-oem" role="tabpanel" aria-expanded="true">
                <!--ODD-EVEN -->
                <div #oddevenRef> <span class="text-light text-center">No Data</span></div>
                <!-- END OF ODD-EVEN -->
              </div>

              <div aria-labelledby="nav-km-tab" class="tab-pane" [ngClass]="{'fade active show': matchData?.fancy3 === null && matchData?.oddeven === null}"  id="nav-km" role="tabpanel" aria-expanded="true">
                <!-- START OF KHADO -->
                <div #khadoRef><span class="text-light text-center">No Data</span></div>
                <!-- END OF KHADO -->
              </div>

              <div aria-labelledby="nav-mm-tab" class="tab-pane" [ngClass]="{'fade active show': matchData?.fancy3 === null && matchData?.oddeven === null && matchData?.khado === null}" id="nav-mm" role="tabpanel" aria-expanded="true">

                <!--METER -->
                <div #meterRef><span class="text-light text-center">No Data</span></div>
                <!-- END OF METER -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end card-->

      <!-- Portlet card -->
      <div  class="card" *ngIf="matchData?.sport_id !== 4 && matchData?.fancy3">
        <div class="card-body">
          <div class="dashboard-tabs extra-market-tabs">
            <div class="dash-ul">
              <ul class="nav nav-pills nav-justified nav-bordered" id="nav-tabs2" role="tablist">
                <li class="nav-item" *ngIf="matchData?.fancy3">
                  <a aria-controls="nav-om" aria-selected="true" class="nav-item nav-link active" data-toggle="tab"
                     href="#nav-om" id="nav-om-tab2" role="tab" aria-expanded="true">
                    <span>other market</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="tab-content" id="tabs-collapse1">
              <div aria-labelledby="nav-om-tab" class="tab-pane fade active show" id="nav-om1" role="tabpanel"
                   aria-expanded="true">
                <!--FANCY-3(other) -->
                <div #fancy31Ref></div>
                <!-- END OF FANCY-3(other) -->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- end col-->
  </div>
  <!-- end row -->

</div> <!-- container -->

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" [color]="primaryColor" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">{{isActivePlaceBet ? 'Bet accepting..' : 'Please Wait.'}} </p>
</ngx-spinner>

<!-- BetSlipTable -->

<!-- BetSlipTable -->

<!-- modal for match and unmatch -->
<div id="Matched-Unmatched" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="scrollableModalTitle" aria-modal="true">
  <div class="modal-dialog modal-dialog-scrollable matched-unmatched-table">
    <div class="modal-content" style="background-color: #131f24;">
      <div class="modal-header">
        <h4 class="modal-title text-center">Matched & Unmatched</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body p-1">

        <div class="panel-body">
          <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
              <a href="#Matched-Table" data-toggle="tab" aria-expanded="true" class="nav-link active">
                matched
              </a>
            </li>
            <li class="nav-item">
              <a href="#UnMatched-Table" data-toggle="tab" aria-expanded="false" class="nav-link">
                unmatched
              </a>
            </li>
          </ul>
          <div class="tab-content pt-1">

            <div class="tab-pane match-unmatch-table active" id="Matched-Table">

              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                  <tr CLASS="border-bottom">
                    <th>runners</th>
                    <th>odds</th>
                    <th>stakes</th>
                    <th>p/l</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="betlistLoading">
                  <tr>
                    <td colspan="4" class="text-light text-center">Loading..</td>
                  </tr>
                  </tbody>
                </table>

                <table class="table mb-0" *ngFor="let betItem of currantBets?.matched">
                  <thead *ngIf="betItem?.dataList.length">
                  <tr>
                    <th colspan="5">{{betItem?.title}}</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="betItem?.dataList.length">
                  <tr *ngFor="let dataItem of betItem?.dataList" [ngClass]="{'back-tr': dataItem?.bType === 'back' || dataItem?.bType === 'yes','lay-tr': dataItem?.bType === 'lay' || dataItem?.bType === 'no'}">
                    <td>{{dataItem?.runner}}</td>
                    <td *ngIf="dataItem?.mType === 'bookmaker'">{{dataItem?.rate}}</td>
                    <td *ngIf="dataItem?.mType !== 'fancy' && dataItem?.mType !== 'fancy2' && dataItem?.mType !== 'ballbyball' && dataItem?.mType !== 'khado' && dataItem?.mType !== 'bookmaker'">{{dataItem?.price}}</td>
                    <td *ngIf="dataItem?.mType === 'fancy' || dataItem?.mType === 'fancy2' || dataItem?.mType === 'ballbyball' || dataItem?.mType === 'khado'">{{dataItem?.rate == '100' ? dataItem?.price : dataItem?.price + '/' + dataItem?.rate}}</td>
                    <td>{{dataItem?.size}}</td>
                    <td *ngIf="dataItem?.mType !== 'meter'">{{(dataItem?.bType === 'lay' || dataItem?.bType === 'no') ? dataItem?.loss : dataItem?.win}}</td>
                    <td *ngIf="dataItem?.mType === 'meter'">-</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="tab-pane match-unmatch-table" id="UnMatched-Table">
              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                  <tr>
                    <th>runners</th>
                    <th>odds</th>
                    <th>stakes</th>
                    <th>p/l</th>
                  </tr>
                  </thead>
                </table>

                <table class="table mb-0"  *ngFor="let betItem of currantBets?.unmatched">
                  <thead *ngIf="betItem?.dataList.length">
                  <tr>
                    <th colspan="5">{{betItem?.title}}</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="betItem?.dataList.length">
                  <tr *ngFor="let dataItem of betItem?.dataList" [ngClass]="{'back-tr': dataItem?.bType === 'back' || dataItem?.bType === 'yes','lay-tr': dataItem?.bType === 'lay' || dataItem?.bType === 'no'}">
                    <td>{{dataItem?.runner}}</td>
                    <td *ngIf="dataItem?.mType === 'bookmaker'">{{dataItem?.rate}}</td>
                    <td *ngIf="dataItem?.mType !== 'fancy' && dataItem?.mType !== 'fancy2' && dataItem?.mType !== 'ballbyball' && dataItem?.mType !== 'khado' && dataItem?.mType !== 'bookmaker'">{{dataItem?.price}}</td>
                    <td *ngIf="dataItem?.mType === 'fancy' || dataItem?.mType === 'fancy2' || dataItem?.mType === 'ballbyball' || dataItem?.mType === 'khado'">{{dataItem?.rate == '100' ? dataItem?.price : dataItem?.price + '/' + dataItem?.rate}}</td>
                    <td>{{dataItem?.size}}</td>
                    <td>{{(dataItem?.bType === 'lay' || dataItem?.bType === 'no') ? dataItem?.loss : dataItem?.win}}</td>
                    <td><a (click)="deleteUnmatchBet(dataItem?.id)" class="btn-unmatch-delete"><i class="fa fa-trash"></i></a>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal for match and unmatch -->

<!-- modal for book -->
<div id="Book-Unbook" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="scrollableModalTitle" aria-modal="true">
  <div class="modal-dialog modal-dialog-scrollable matched-unmatched-table">
    <div class="modal-content" style="background-color: #131f24;">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="session-title">Book <i class="mdi mdi-arrow-right"></i> Fancy</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body p-1">
        <div class="panel-body">
          <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
              <a href="#My-Book" data-toggle="tab" aria-expanded="true" class="nav-link active">
                my book
              </a>
            </li>
            <li class="nav-item">
              <a href="#My-Bets" data-toggle="tab" aria-expanded="false" class="nav-link">
                my bets
              </a>
            </li>
          </ul>
          <div class="tab-content pt-1">
            <div class="tab-pane match-unmatch-table active" id="My-Book">
              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                  <tr>
                    <th>{{isFancy3 ? 'Back' : 'Runs'}}</th>
                    <th>{{isFancy3 ? 'Lay' : 'Profit / loss'}}</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="!isFancy3 && isLoadFancyPl">
                  <tr *ngFor="let fitem of fancy2PL" [ngClass]="{'market-profit': fitem?.profitLoss >= 0 ,'market-loss': fitem?.profitLoss < 0}">
                    <td>{{fitem?.price}}</td>
                    <td>{{fitem?.profitLoss}}</td>
                  </tr>
                  </tbody>
                  <tbody *ngIf="isFancy3 && isLoadFancyPl">
                  <tr>
                    <td [ngStyle]="{'color': fancy2PL?.yes_profitloss < 0 ? 'red' : 'green'}">{{fancy2PL?.yes_profitloss}}</td>
                    <td [ngStyle]="{'color': fancy2PL?.no_profitloss < 0 ? 'red' : 'green'}">{{fancy2PL?.no_profitloss}}</td>
                  </tr>
                  </tbody>
                  <tbody *ngIf="!isLoadFancyPl">
                  <tr>
                    <td colspan="2">Loading...</td>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>

            <div class="tab-pane match-unmatch-table" id="My-Bets">

              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                  <tr>
                    <th>runners</th>
                    <th>odds</th>
                    <th>stakes</th>
                    <th>p/l</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="isLoadFancyPl">
                  <tr *ngFor="let bItem of fancyBets" [ngClass]="{'back-tr': bItem?.bType === 'yes' || bItem?.bType === 'back','lay-tr':  bItem?.bType === 'no' || bItem?.bType === 'lay'}">
                    <td>{{bItem?.runner}}</td>
                    <td *ngIf="bItem?.mType === 'match_odd' || bItem?.mType === 'fancy3' || bItem?.mType === 'oddeven' || bItem?.mType === 'bookmaker'">{{bItem?.price}}</td>
                    <td *ngIf="bItem?.mType !== 'match_odd' && bItem?.mType !== 'fancy3' && bItem?.mType !== 'oddeven' && bItem?.mType !== 'bookmaker'">{{bItem?.rate == '100' ? bItem?.price : bItem?.price + '/' + bItem?.rate}}</td>
                    <td>{{bItem?.size}}</td>
                    <td>{{ (bItem?.bType === 'no' || bItem?.bType === 'lay') ? bItem?.loss : bItem?.win}}</td>
                  </tr>
                  </tbody>
                  <tbody *ngIf="!isLoadFancyPl">
                  <tr>
                    <td colspan="4">Loading bets...</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal for book -->

