#My-Book table tbody tr.market-loss td:last-child{
  color: #ed2c00;
  font-weight: 700;
}

#My-Book table tbody tr.market-profit td:last-child {
  color: #4fd20f;
  font-weight: 700;
}
#fp_embed_player {
  height: 30vh;
}
@media (max-width: 767.98px) {
  #fp_embed_player {
    /*height: 200px;*/
  }
}
