<!-- Start Content-->
<div class="container-fluid">
  <div class="row my-1 my-lg-3">
    <div class="col-md-12" infiniteScroll  [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScroll()">
      <div class="account-ui">
        <h2>account statement
          <a class="btn-filter collapsed float-right d-block d-sm-none" data-toggle="collapse" href="#filter"
             aria-expanded="false" aria-controls="filter">
            <i class="mdi mdi-filter pr-0"></i>
          </a>
        </h2>
        <div class="card">
          <div class="card-body">
            <div class="collapse" id="filter" style="">
              <app-filter (filterChanged)="filterChangedHandler($event)" [title]="title" [isDownload]="isDownload"></app-filter>
            </div>
            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" [color]="primaryColor"
                         type="ball-scale-multiple">
              <p style="font-size: 20px; color: white;">{{ ' Please Wait....'}} </p>
            </ngx-spinner>
            <div class="table-responsive">
              <table class="table mb-0 tableBodyScroll">
                <thead>
                <tr>
                  <th>id</th>
                  <th>settled date</th>
                  <th>narration</th>
                  <th>debit</th>
                  <th>credit</th>
                  <th class="text-center">balance</th>
                </tr>
                </thead>
                <tbody *ngIf="acList!=null">
                <tr *ngFor="let item of acList; let i = index">
                  <td>{{item?.id}}</td>
                  <td>{{item?.createdOn}}</td>
                  <td>
                    <div [ngClass]="{'cancel': item?.status === 2}">
                      <a *ngIf="item?.marketId !== null && item?.sid !== 99 && item?.sid !== 999 && item?.sid !== 9999"
                         routerLink="detail/{{item?.marketId}}" [queryParams]="{'round': item?.id}">{{item?.description}}</a>

                      <a *ngIf="item?.marketId !== null && (item?.sid === 99 || item?.sid === 999 || item?.sid === 9999)"
                         routerLink="detail/{{item?.marketId}}"
                         [queryParams]="{'type': item?.sid,'round': item?.id}">{{item?.description}}</a>

                      <a *ngIf="item?.marketId === null">{{item?.description}}</a>
                    </div>
                  </td>
                  <td class="debit" style="color: #ff4646 !important">{{item?.type === 'DEBIT' ? item?.amount : '0.00'}}</td>
                  <td class="credit" style="color: #25b31d !important">{{item?.type === 'CREDIT' ? item?.amount : '0.00'}}</td>
                  <td>{{item?.balance}}</td>
                </tr>
                </tbody>
                <tbody *ngIf="acList== null">
                <tr>
                  <td class="text-center" colspan="6">No Data</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


