<!-- Start Content-->
<div class="container-fluid">
  <div class="row my-1 my-lg-3">
    <div class="col-md-12">
      <div class="account-ui">
        <h2><button class="btn-sm btn-primary mr-1"><i class="mdi mdi-arrow-left-bold px-0" (click)="loc.back()"></i></button>voucher id<i
          class="mdi mdi-chevron-right px-0"></i>{{roundId}}
          <!--                  <a class="btn-filter collapsed float-right d-block d-sm-none" data-toggle="collapse" href="#filter"-->
          <!--                     aria-expanded="false" aria-controls="filter">-->
          <!--                    <i class="mdi mdi-filter pr-0"></i>-->
          <!--                  </a>-->
        </h2>
        <div class="card">
          <div class="card-body">
            <!--                      <div class="collapse" id="filter" style="">-->
            <!--                        <app-filter (filterChanged)="filterChangedHandler($event)" [title]="title"></app-filter>-->
            <!--                      </div>-->
            <div class="table-responsive">
              <table class="table mb-0">
                <thead>
                <tr>
                  <th>id</th>
                  <th>description</th>
                  <th>side</th>
                  <th>price</th>
                  <th>stake</th>
                  <th>date</th>
                  <th>p/l</th>
                  <th>status</th>
                </tr>
                </thead>
                <tbody>
                <tr class="back" *ngFor="let bitem of acList"
                    [ngClass]="{'back': bitem?.bType === 'yes' || bitem?.bType.toLowerCase() === 'back' || bitem?.bType.toLowerCase() === 'credit', 'lay': bitem?.bType === 'no' || bitem?.bType.toLowerCase() === 'lay' || bitem?.bType.toLowerCase() === 'debit'}">
                  <td>{{getLastChar(bitem?.betId)}}</td>
                  <td>{{bitem?.description}}</td>
                  <td>{{bitem?.bType}}</td>
                  <td *ngIf="bitem?.mType === 'bookmaker'">{{bitem?.rate}}</td>
                  <td *ngIf="bitem?.mType !== 'fancy' && bitem?.mType !== 'fancy2' && bitem?.mType !== 'ballbyball' && bitem?.mType !== 'khado' && bitem?.mType !== 'bookmaker'">{{bitem?.price}}</td>
                  <td
                    *ngIf="bitem?.mType === 'fancy' || bitem?.mType === 'fancy2' || bitem?.mType === 'ballbyball' || bitem?.mType === 'khado'">{{bitem?.rate == '100' ? bitem?.price : bitem?.price + '/' + bitem?.rate}}</td>
                  <td>{{bitem?.size}}</td>
                  <td>{{bitem?.date}}</td>
                  <td>{{bitem?.result === 'WIN' ? bitem?.win : bitem?.loss}}</td>
                  <td>{{bitem?.result}}</td>
                </tr>
                <tr *ngIf="acList === null">
                  <td colspan="8" class="text-center text-light"> No Data</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- end col-->
  </div>
  <!-- end row -->

</div> <!-- container -->

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" [color]="primaryColor" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white;">Please Wait.. </p>
</ngx-spinner>


