<!-- Start Content-->
<div class="container-fluid">

  <div class="row my-1 my-lg-3">
    <div class="col-md-12">
      <div id="DashSlider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="d-block img-fluid" src="assets/img/dash-slider_01.jpg" alt="">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="assets/img/dash-slider_02.jpg" alt="">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="assets/img/dash-slider_03.jpg" alt="">
          </div>
        </div>
      </div>
    </div> <!-- end col-->

    <div class="col-md-12">

      <div class="inplay-ui">
        <ul class="nav nav-tabs nav-bordered nav-justified">
          <li class="nav-item">
            <a (click)="onDashboradClick('inplay')" [ngClass]="{'active': sportName === 'inplay'}" class="nav-link">
              inplay
            </a>
          </li>
          <li class="nav-item">
            <a (click)="onDashboradClick('today')" [ngClass]="{'active': sportName === 'today'}" class="nav-link">
              today
            </a>
          </li>
          <li class="nav-item">
            <a (click)="onDashboradClick('tomorrow')" [ngClass]="{'active': sportName === 'tomorrow'}" class="nav-link">
              tomorrow
            </a>
          </li>
        </ul>

        <div class="card">
          <div class="card-body">
            <div class="tab-content p-0">
              <div class="tab-pane" [ngClass]="{'active': sportName === 'inplay'}" id="inplay">
                <div class="mb-2" *ngFor="let sitem of inplayList">
                  <div class="row game-1x1 mb-1 m-0 text-uppercase" *ngIf="sitem?.list?.length">
                    <div class="col-md-6 text-left">
                      {{sitem?.title}}
                    </div>
                    <div class="col-2 col-xs-none">
                      1
                    </div>
                    <div class="col-2 col-xs-none">
                      x
                    </div>
                    <div class="col-2 col-xs-none">
                      2
                    </div>
                  </div>
                  <div *ngFor="let eitem of sitem.list" routerLink="/details/{{eitem?.eventId}}" class="row bg-theme mx-0 text-capitalize py-1 sport-list bm1">
                    <div class="col-md-6 align-self-center">
                      <div class="team-name">
                        <p>
                          <span class="mr-1">{{eitem?.title}}</span>
                          <span class="mr-2" *ngIf="eitem?.is_tv === 1"><img class="img-fluid" src="assets/img/tv-list.svg" /></span>
                          <span class="mr-2" *ngIf="eitem?.is_fancy === 1"><img class="img-fluid" src="assets/img/fancy-list.svg" /></span>
                        </p>
                      </div>
                    </div>
                    <div class="col-2 text-center align-self-center mx-0 col-xs-none px-lg-0">
                      <button class="blue-area">{{(eitem?.odds[0]?.backPrice1 !== '-' ? eitem?.odds[0]?.backPrice1 : '0.00') || '0.00'}}</button>
                      <button class="red-area">{{(eitem?.odds[0]?.layPrice1 !== '-' ? eitem?.odds[0]?.layPrice1 : '0.00') || '0.00'}}</button>
                    </div>
                    <div class="col-2 text-center align-self-center col-xs-none px-lg-0">
                      <button class="blue-area">{{(eitem?.odds[2]?.backPrice1 !== '-' ? eitem?.odds[2]?.backPrice1 : '0.00') || '0.00'}}</button>
                      <button class="red-area">{{(eitem?.odds[2]?.layPrice1 !== '-' ? eitem?.odds[2]?.layPrice1 : '0.00') || '0.00'}}</button>
                    </div>
                    <div class="col-2 text-center align-self-center col-xs-none px-lg-0">
                      <button class="blue-area">{{(eitem?.odds[1]?.backPrice1 !== '-' ? eitem?.odds[1]?.backPrice1 : '0.00') || '0.00'}}</button>
                      <button class="red-area">{{(eitem?.odds[1]?.layPrice1 !== '-' ? eitem?.odds[1]?.layPrice1 : '0.00') || '0.00'}}</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" [ngClass]="{'active': sportName === 'today'}" id="today">
                <div class="mb-2" *ngFor="let sitem of inplayList">
                  <div class="row game-1x1 mb-1 m-0 text-uppercase" *ngIf="sitem?.list?.length">
                    <div class="col-md-6 text-left">
                      {{sitem?.title}}
                    </div>
                    <div class="col-2 col-xs-none">
                      1
                    </div>
                    <div class="col-2 col-xs-none">
                      x
                    </div>
                    <div class="col-2 col-xs-none">
                      2
                    </div>
                  </div>

                  <div *ngFor="let eitem of sitem?.list" routerLink="/details/{{eitem?.eventId}}" class="row bg-theme mx-0 text-capitalize py-1 sport-list bm1">
                    <div class="col-md-6 align-self-center">
                      <div class="team-name">
                        <p>
                         {{eitem?.title}}
                          <em>
                            <b class="mr-1"> <time> {{eitem?.time | date:"shortTime"}} </time></b>
                            <span class="mr-2" *ngIf="eitem?.is_tv === 1"><img class="img-fluid" src="assets/img/tv-list.svg" /></span>
                            <span class="mr-2" *ngIf="eitem?.is_fancy === 1"><img class="img-fluid" src="assets/img/fancy-list.svg" /></span>
                          </em>
                        </p>
                      </div>
                    </div>
                    <div class="col-2 text-center align-self-center mx-0 col-xs-none px-lg-0">
                      <button class="blue-area">{{(eitem?.odds[0]?.backPrice1 !== '-' ? eitem?.odds[0]?.backPrice1 : '0.00') || '0.00'}}</button>
                      <button class="red-area">{{(eitem?.odds[0]?.layPrice1 !== '-' ? eitem?.odds[0]?.layPrice1 : '0.00') || '0.00'}}</button>
                    </div>
                    <div class="col-2 text-center align-self-center col-xs-none px-lg-0">
                      <button class="blue-area">{{(eitem?.odds[2]?.backPrice1 !== '-' ? eitem?.odds[2]?.backPrice1 : '0.00') || '0.00'}}</button>
                      <button class="red-area">{{(eitem?.odds[2]?.layPrice1 !== '-' ? eitem?.odds[2]?.layPrice1 : '0.00') || '0.00'}}</button>
                    </div>
                    <div class="col-2 text-center align-self-center col-xs-none px-lg-0">
                      <button class="blue-area">{{(eitem?.odds[1]?.backPrice1 !== '-' ? eitem?.odds[1]?.backPrice1 : '0.00') || '0.00'}}</button>
                      <button class="red-area">{{(eitem?.odds[1]?.layPrice1 !== '-' ? eitem?.odds[1]?.layPrice1 : '0.00') || '0.00'}}</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" [ngClass]="{'active': sportName === 'tomorrow'}" id="tomorrow">
                <div class="mb-2"  *ngFor="let sitem of inplayList">
                  <div class="row game-1x1 mb-1 m-0 text-uppercase" *ngIf="sitem?.list?.length">
                    <div class="col-md-6 text-left">
                      {{sitem?.title}}
                    </div>
                    <div class="col-2 col-xs-none">
                      1
                    </div>
                    <div class="col-2 col-xs-none">
                      x
                    </div>
                    <div class="col-2 col-xs-none">
                      2
                    </div>
                  </div>

                  <div *ngFor="let eitem of sitem?.list" routerLink="/details/{{eitem?.eventId}}" class="row bg-theme mx-0 text-capitalize py-1 sport-list bm1">
                    <div class="col-md-6 align-self-center">
                      <div class="team-name">
                        <p>
                          {{eitem?.title}}
                          <em>
                            <b class="mr-1"> {{eitem?.time | date:"mediumDate"}} <time>{{eitem?.time | date:"shortTime"}} </time> </b>
                            <span class="mr-2" *ngIf="eitem?.is_tv"><img class="img-fluid" src="assets/img/tv-list.svg" /></span>
                            <span class="mr-2" *ngIf="eitem?.is_fancy"><img class="img-fluid" src="assets/img/fancy-list.svg" /></span>
                          </em>
                        </p>
                      </div>
                    </div>
                    <div class="col-2 text-center align-self-center mx-0 col-xs-none px-lg-0">
                      <button class="blue-area">{{(eitem?.odds[0]?.backPrice1 !== '-' ? eitem?.odds[0]?.backPrice1 : '0.00') || '0.00'}}</button>
                      <button class="red-area">{{(eitem?.odds[0]?.layPrice1 !== '-' ? eitem?.odds[0]?.layPrice1 : '0.00') || '0.00'}}</button>
                    </div>
                    <div class="col-2 text-center align-self-center col-xs-none px-lg-0">
                      <button class="blue-area">{{(eitem?.odds[2]?.backPrice1 !== '-' ? eitem?.odds[2]?.backPrice1 : '0.00') || '0.00'}}</button>
                      <button class="red-area">{{(eitem?.odds[2]?.layPrice1 !== '-' ? eitem?.odds[2]?.layPrice1 : '0.00') || '0.00'}}</button>
                    </div>
                    <div class="col-2 text-center align-self-center col-xs-none px-lg-0">
                      <button class="blue-area">{{(eitem?.odds[1]?.backPrice1 !== '-' ? eitem?.odds[1]?.backPrice1 : '0.00') || '0.00'}}</button>
                      <button class="red-area">{{(eitem?.odds[1]?.layPrice1 !== '-' ? eitem?.odds[1]?.layPrice1 : '0.00') || '0.00'}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- end col-->
  </div>
  <!-- end row -->

</div> <!-- container -->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" [color]="primaryColor" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Please Wait.</p>
</ngx-spinner>
