<div class="container-fluid">
  <div class="row justify-content-center" *ngIf="isNoDataFound">
    <div class="col-md-4 text-center">
      <div class="no-data-found">
        <img class="img-fluid" src="assets/img/no-data-found.png">
        <h2>no data found!</h2>
      </div>
<!--      <div class="no-internet">-->
<!--        <img class="img-fluid" src="assets/img/no-data-found.png">-->
<!--        <h2>No internet connection <span>check your network setting and try again.</span></h2>-->
<!--      </div>-->
    </div>
  </div>

  <div *ngIf="!isNoDataFound" class="row" #myMarket>
    <div *ngIf="matchData?.length" class="col-md-12">
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" [color]="primaryColor" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">{{isActivePlaceBet ? 'Bet accepting..' : 'Please Wait.'}} </p>
</ngx-spinner>

<!-- modal for book -->
<div id="Book-Unbook" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="scrollableModalTitle" aria-modal="true">
  <div class="modal-dialog modal-dialog-scrollable matched-unmatched-table">
    <div class="modal-content" style="background-color: #36404a;">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="session-title">Book <i class="mdi mdi-arrow-right"></i> Fancy</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body p-1">
        <div class="panel-body">
          <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
              <a href="#My-Book" data-toggle="tab" aria-expanded="true" class="nav-link active">
                my book
              </a>
            </li>
            <li class="nav-item">
              <a href="#My-Bets" data-toggle="tab" aria-expanded="false" class="nav-link">
                my bets
              </a>
            </li>
          </ul>
          <div class="tab-content pt-1">
            <div class="tab-pane match-unmatch-table active" id="My-Book">
              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                  <tr>
                    <th>{{isFancy3 ? 'Back' : 'Runs'}}</th>
                    <th>{{isFancy3 ? 'Lay' : 'Profit / loss'}}</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="!isFancy3 && isLoadFancyPl">
                  <tr *ngFor="let fitem of fancy2PL" [ngClass]="{'market-profit': fitem?.profitLoss >= 0 ,'market-loss': fitem?.profitLoss < 0}">
                    <td>{{fitem?.price}}</td>
                    <td [ngClass]="{'debit': fitem?.profitLoss < 0 , 'credit': fitem?.profitLoss >= 0}">{{fitem?.profitLoss}}</td>
                  </tr>
                  </tbody>
                  <tbody *ngIf="isFancy3 && isLoadFancyPl">
                  <tr>
                    <td [ngStyle]="{'color': fancy2PL?.yes_profitloss < 0 ? 'debit' : 'credit'}">{{fancy2PL?.yes_profitloss}}</td>
                    <td [ngStyle]="{'color': fancy2PL?.no_profitloss < 0 ? 'debit' : 'credit'}">{{fancy2PL?.no_profitloss}}</td>
                  </tr>
                  </tbody>
                  <tbody *ngIf="!isLoadFancyPl">
                  <tr>
                    <td colspan="2">Loading...</td>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>

            <div class="tab-pane match-unmatch-table" id="My-Bets">

              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                  <tr>
                    <th>runners</th>
                    <th>odds</th>
                    <th>stakes</th>
                    <th>p/l</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="isLoadFancyPl">
                  <tr *ngFor="let bItem of fancyBets" [ngClass]="{'back-tr': bItem?.bType === 'yes' || bItem?.bType === 'back','lay-tr':  bItem?.bType === 'no' || bItem?.bType === 'lay'}">
                    <td>{{bItem?.runner}}</td>
                    <td *ngIf="bItem?.mType === 'match_odd' || bItem?.mType === 'fancy3' || bItem?.mType === 'oddeven' || bItem?.mType === 'bookmaker'">{{bItem?.price}}</td>
                    <td *ngIf="bItem?.mType !== 'match_odd' && bItem?.mType !== 'fancy3' && bItem?.mType !== 'oddeven' && bItem?.mType !== 'bookmaker'">{{bItem?.rate == '100' ? bItem?.price : bItem?.price + '/' + bItem?.rate}}</td>
                    <td>{{bItem?.size}}</td>
                    <td>{{ (bItem?.bType === 'no' || bItem?.bType === 'lay') ? bItem?.loss : bItem?.win}}</td>
                  </tr>
                  </tbody>
                  <tbody *ngIf="!isLoadFancyPl">
                  <tr>
                    <td colspan="4">Loading...</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal for book -->
