<!-- mobile bottom menu -->
<nav class="mobile-bottom-nav col-xl-none">

<!--  <a class="mbn-col-3" routerLink="all" routerLinkActive="active-menu">-->
<!--    <img class="img-fluid" src="assets/img/bottom-trophy.png">-->
<!--    <span>sports</span>-->
<!--  </a>-->

  <a class="mbn-col-3" routerLink="/inplay" routerLinkActive="active-menu">
    <img class="img-fluid" src="assets/img/bottom-timer.png">
    <span>in-play</span>
  </a>
  <a class="mbn-col-3" routerLink="/mymarket" routerLinkActive="active-menu">
    <img class="img-fluid" src="assets/img/bottom-market.png">
    <span>market</span>
  </a>
  <a class="mbn-col-3" routerLink="/main" routerLinkActive="active-menu">
    <img class="img-fluid" src="assets/img/bottom-home.png">
    <span>Home</span>
  </a>
  <a class="mbn-col-3" routerLink="/live-bets" routerLinkActive="active-menu">
    <img class="img-fluid" src="assets/img/bottom-bets.png">
    <span>bets</span>
  </a>
  <a class="mbn-col-3 nav-link right-bar-toggle waves-effect waves-light">
    <img class="img-fluid" src="assets/img/profile.png">
    <span>Account</span>
  </a>

<!--  <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect waves-light">-->
<!--    <span class="pro-user-name text-uppercase"> <p><img class="img-fluid" src="assets/img/profile.png"></p> {{username}}</span>-->
<!--  </a>-->

</nav>
<!-- mobile bottom menu -->
