.m-r{
  margin-right: 0px !important;
}
.tenn-iframe, .tenn-iframe{
  height: 100vh;
  overflow: hidden !important;
}
.tenn-iframe, .tenn-iframe .inner-scroll {
  overflow: hidden !important;
}
/* .tenn-iframe iframe{
  /* height: inherit !important;
  overflow: hidden !important;
} */
.tenn-po{
  position: relative;
  height: 400px;
}
.screen-detail{
  overflow: scroll !important;
}
.i-suspended{
  position: absolute;
  top: 0;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  display: grid;
  width: 97%;
  height: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.6784313725490196);
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 900;
  cursor: not-allowed;
}
.teen-title{
  text-align: left;
  background: #000;
  color: #fff;
  padding: 1px 5px;
}
.teen-title span{
  font-weight: 600;
  font-size: 13px;
}
.teen-title span em{
  font-style: normal;
}
.teen-title span.expose-teen{
  box-shadow: inset 0px 0px 10px 2px #252525;
  padding: 5px;
  background: #0f2327;
  border-radius: 3px;
}
.mmm-teen{
  background: #f9f9f9;
}
.mmm-teen span{
  font-weight: 500;
  font-size: 11px;
  text-transform: capitalize;
}
.mmm-teen span em{
  font-style: normal;
  font-size: 9px;
  font-weight: 600;
}
