<!-- Start Content-->
<div class="container-fluid">

  <div class="row mt-2 mt-lg-3">
    <div class="col-md-12 col-12 align-self-center pr-0">
          <h2 class="event-title">Casino</h2>
        </div>
<!--        <div class="col-md-3 col-3 align-self-start pl-1">-->
<!--          <h2 class="event-title wd-title" (click)="myWalletTansfre()" ><i class="mdi mdi-bank-transfer"></i> W/D</h2>-->
<!--        </div>-->
    </div>
  <!-- end row -->

  <div class="row">
    <div class="col-12">
      <!-- Portlet card -->
      <div class="card">
        <div class="card-body market-ui" style="padding: 5px !important;">
          <div class="row mx-lg-0">
            <div class="col-md-12">
              <div class="tenn-iframe cf" #iframeLoad></div>
            </div>
          </div>
        </div> <!-- end card body-->
      </div> <!-- end card-->
    </div> <!-- end col-->
  </div>
  <!-- end row -->
  <!-- end row -->
</div> <!-- container -->

