/** {*/
/*    -webkit-touch-callout: none;*/
/*  -webkit-user-select: none;*/
/*  -khtml-user-select: none;*/
/*  -moz-user-select: none;*/
/*  -ms-user-select: none;*/
/*  user-select: none;*/
/*}*/
::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff!important;
    border-radius:15px;
}
::-webkit-scrollbar-thumb {
    background-color: #7ed979 !important;
    border-radius:15px;
}
body, body.modal-open{
	overflow: auto !important;
  overflow-y: scroll !important;
  overflow-x: auto !important;
}
a, a:hover{
	text-decoration: none !important;
}
.navbar-custom{
  z-index:1000;
}
.card{
	margin-bottom: 5px !important;
}
.content-page{margin-left: 300px}
.leftbar-overlay {
	background-color: rgba(243, 247, 249, 0.2);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
	z-index: 0;
	transition: all .2s ease-out;
}
.sidebar-enable .leftbar-overlay{
	display: block !important;
}
.navbar-custom .button-menu-mobile:focus{
	outline: none;
	background: #7fd9780f;
}
.left-side-menu{
	width: 300px !important;
	z-index: 999 !important;
}
.right-bar .tab-content .active:first-child, .right-bar .nav-tabs .nav-item:first-child{
	display: none;
}
#settings-tab{
	display: block;
}
.color-mode{
    padding: 2em 0;
}
.color-mode p{
    padding: 11px 0;
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
    background: #1abc9c;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.color-mode .custom-control{
	text-align: center;
}
.color-mode .custom-control-label{
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 400;
}
.custom-control-input:checked~.custom-control-label::before{
    border-color: #1abc9c !important;
    background-color: #1abc9c !important;
}
.custom-switch .custom-control-input:checked~.custom-control-label::after{
	background-color: #292f3f !important;
}
.right-custom-menu {
	display: none;
}
.right-custom-menu i{
	color: #fff !important;
}
.card-body{
	padding: 20px !important;
}
.footer{
	left: 300px !important;
	padding: 5px 20px !important;
}
.inplay-ui span img {
  width: 22px;
}
.auth-logo p{
	color: #aaa;
}
.auth-fluid-form-box form .input-group-text{
	background: none;
	border-top: none;
	border-right: none;
	cursor: pointer;
}
.auth-fluid-form-box form input{
	border: none;
	border-bottom: 1px solid #ddd;
}
.auth-fluid-form-box form input::placeholder{
	color: #43425D;
}
.auth-fluid-form-box .btn-login, .auth-fluid-form-box .btn-login:hover{
	background: #43425D;
	border: 1px solid #43425D;
	color: #fff;
	text-transform: uppercase;
	padding-left: 15px;
	padding-right: 15px;
}
h4.modal-title{
	font-size: 1.125rem !important;
}
@keyframes blink {
  0% {
  	background-color: #7ed979;
  }
  50% {
    background-color: #2b70da;
  }
  100% {
  	background-color: #7ed979;
  }
}
@-webkit-keyframes blink {
  0% {
  	background-color: #7ed979;
  }
  50% {
    background-color: #2b70da;
  }
  100% {
  	background-color: #7ed979;
  }
}
.blink {
	-webkit-transition: all 1.5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	-ms-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;

	-webkit-animation-direction: normal;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: blink;
	-webkit-animation-timing-function: ease-in-out;

	-moz-animation-direction: normal;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-name: blink;
	-moz-animation-timing-function: ease-in-out;
}
.tab-content{
	padding: 8px 0 0 0 !important;
}
.market-title-row{margin-top: 5px;}
.market-section .my-1{
	margin-top: 3px !important;
	margin-bottom: 3px !important;
}
.market-section .my-1:last-child{
	margin-bottom: 0 !important;
}
/*menubar*/
#sidebar-menu > ul > li{
  position: relative;
}
#sidebar-menu > ul > li .no-data-menu{
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
  height: 100%;
  text-transform: uppercase;
  font-size: 13px;
  color: #af1f2d;
  background: #1420257a;
  width: 100%;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  display: flex;
  border-radius: 3px;
  font-weight: 900;
  cursor: not-allowed;
}
li.no-data-menu-li .menu-arrow{
  display: none;
}
li.no-data-menu-li a i, li.no-data-menu-li a span {
  opacity: 0.3;
}
#sidebar-menu > ul > li > a{
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
#sidebar-menu .quick-menu{
	border-bottom: none;
}
#sidebar-menu .quick-menu a{
	border-bottom: none;
	color: #fff !important;
	text-transform: uppercase;
	animation: quickMenu 7s infinite;
	transition: 0.9s;
	font-weight: 900;
}
#sidebar-menu .quick-menu a:hover{
	box-shadow: none;
}
#sidebar-menu .quick-menu a i{
	display: none;
}
body[data-sidebar-size="condensed"] #sidebar-menu .quick-menu a{
	display: flex;
}
body[data-sidebar-size="condensed"] #sidebar-menu .quick-menu a i{
	display: block;
	color: #fff;
	width: auto;
}
body[data-sidebar-size="condensed"] #sidebar-menu .quick-menu a span{display: inline-block;}
body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li > a{
	padding: 15px 15px !important;
	min-height: auto !important;
	text-transform: uppercase;
  line-height: normal;
}
body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li.no-data-menu-li > a {
  width: auto;
}
body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li.no-data-menu-li > a span{
  display: none;
}
body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li.no-data-menu-li:hover > .collapse > ul.nav-second-level{
  display: none !important;
}
body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li:hover > .collapse > ul a{
	white-space: initial;
}
body[data-sidebar-size="condensed"] #sidebar-menu > ul > li .no-data-menu{
  font-size: 8px;
}
@keyframes quickMenu {
  0% {background-color: #2b70da;}
  100% {background-color: #7ed979;}
}

.menu-arrow {
	-webkit-animation: bounceRight 3s infinite;
  	animation: bounceRight 3s infinite;
  }
.menu-arrow:before {content: "\F0142";}
#sidebar-menu li > a[aria-expanded="true"] .menu-arrow{animation: none;}
#sidebar-menu li > a[aria-expanded="true"] .menu-arrow:before{content: "\F0140";}
#sidebar-menu .badge{
	vertical-align: baseline;
}
#sidebar-menu li > a[aria-expanded="true"]{
	color: #69c96d !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
}
#sidebar-menu li > a[aria-expanded="true"] i{
	color: #69c96d !important;
}
#sidebar-menu > ul{
	padding: 0px 10px !important;
}
#sidebar-menu > ul > li ul.nav-second-level{
	padding-left: 0 !important;
}
#sidebar-menu > ul > li ul.nav-second-level li a{
	text-transform: capitalize;
	font-weight: 400;
	padding-left: 15px !important;
	padding-right: 15px !important;
}
#sidebar-menu > ul > li ul.nav-second-level li a i{
	margin: 0 7px 0 0 !important;
	color: #69c96d;
	float: left;
}
#sidebar-menu > ul > li ul.nav-second-level li a span{
	font-size: 16px;
	display: flex;
}
body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li:hover > .collapse a i{margin: 0 7px 0 0 !important;}
#sidebar-menu > ul > li > a i{
	margin: 0 7px 0 0 !important;
}
#sidebar-menu > ul > li ul.nav-second-level li:last-child a{
	border-bottom: none;
}
.topnav-menu .btn-balance{
	padding: 4px 15px;
	line-height: 1.2;
	text-align: center;
	background: none;
	margin: 0 auto;
	display: inline-flex;
	justify-content: center;
	border: none;
}
.topnav-menu .btn-exposer{
	border: none;
	padding: 4px 15px;
	line-height: 1.2;
	text-align: center;
	background: none;
	justify-content: center;
}
.topnav-menu .btn-balance i, .topnav-menu .btn-exposer i{
	font-size: 22px;
	position: relative;
	top: 4px;
}
.topnav-menu .btn-balance span, .topnav-menu .btn-exposer span{
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 1.3;
	padding-left: 3px;
	font-weight: 900;
	text-align: left;
}
.topnav-menu .btn-balance span b, .topnav-menu .btn-exposer span b{
	display: block;
	color: #fff;
	font-weight: 700;
	letter-spacing: 0;
}
.nav-user img{
	height: 25px !important;
	width: 25px !important;
}

.topnav-menu-left .android button{
	border:1px solid #A3C939;
	color: #A3C939;
	padding: 2px 6px 2px 0px;
}
.topnav-menu-left .android button i{
	color: #fff;
}
.topnav-menu-left .android button span{
	margin: 0;
	margin-right: 4px;
	border-radius: 25px;
	padding: 3px 4px;
	background: #A3C939;
	border:2px solid #A3C939;
}
.topnav-menu-left .rules span{
	/*border:1px solid #050505;*/
	font-size: 14px;
	color: #fff !important;
	letter-spacing: 1px;
	border-radius: 50px;
	padding: 10px 15px;
	font-weight: 700;
	text-transform: uppercase;
}
.topnav-menu a:hover, .topnav-menu button:hover{
	color: #fff;
}
.main-menu:before{
	content: "\F035C";
	display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.sidebar-enable .main-menu:before{
	content: "\F0156";
	display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.notification-list .profile-dropdown .notify-item:last-child{
	text-align: center;
	text-transform: uppercase;
	color: #fff !important;
	background: #fe4646 !important;
	font-weight: 800;
	letter-spacing: 1px;
}
.notification-list .profile-dropdown .notify-item:hover:last-child{
	opacity: 0.8;
  background: #fe4646 !important;
}
.notification-list .profile-dropdown .notify-item i{
	color: #7cd67c;
}
.nav-profile .nav-user .mdi-face{
	font-size: 25px;
    color: #292f3f;
    background: #ddd;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    line-height: normal;
    display: inline-flex;
    vertical-align: middle;
}
.nav-profile .nav-user span {
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 400;
}
#DashSlider .carousel-indicators {margin: 0;margin-right: 0;justify-content: flex-end; z-index: 9 !important;}
#DashSlider .carousel-inner{border-radius: 7px;}
#DashSlider .carousel-inner img{
	width: 100%;
	border-radius: 0;
}
.dashboard-tabs ul.nav-pills{
	border-bottom: none !important;
}
.dashboard-tabs ul.nav-pills li{
	background: none;
	border-bottom: none;
}
.dashboard-tabs ul.nav-pills li a{
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1;
	padding: 15px 0px;
	/* border-bottom: 1px solid #1b5dd3 !important; */
	border-radius: 0 !important;
	position: relative;
	background: #141924;
	font-weight: 400;
}
.dashboard-tabs ul.nav-pills li a.active{
	border-bottom: none !important;
	border-radius: 0;
	background: #7ed979 !important;
	font-weight: 900;
}
.dashboard-tabs ul.nav-pills li a i{
	background: -webkit-linear-gradient(#184fb6, #7dd878);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: block;
	font-size: 18px;
}
.dashboard-tabs ul.nav-pills li a.active:after, .dashboard-tabs ul.nav-pills li a:hover:after{
	background: transparent linear-gradient(90deg, #53A0E9 0%, #7ED979 100%) 0% 0% no-repeat padding-box;
	position: absolute;
	content: '';
	height: 1px;
	right: 0;
	left: 0;
	bottom: -1px;
}
.dashboard-tabs .tab-content .tab-pane img{
	box-shadow: 0px 5px 10px #00000080;
	border-radius: 5px;
	position: relative;
}
.all-dash-tabs img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.my-tab-sticky .tab-pane span img{
  width: 22px;
}
.dashboard-tabs .tab-content .tab-pane h3{
	font-weight: 900;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 15px;
	letter-spacing: 1px;
}
.dashboard-tabs .tab-content{
  padding: 0 !important;
}
.livegame{
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #f83145;
  margin-bottom: 15px;
}
.livegame img {
  width: 100%;
  display: block;
  position: relative;
  border-radius: 0 !important;
}
.livegame a.lv-btn{
	text-transform: uppercase;
	text-align: center;
  border-radius: 0;
	width: 100%;
	color: #fff;
	font-weight: 600;
	animation: LVbutton 3s linear infinite;
  font-size: 13px;
}
@keyframes LVbutton{
  0%{
  	background: #f672a7;
  }
  25%{
  	background: #4fc6e1;
  }
  50%{
  	background: #f672a7;
  }
  75%{
  	background: #4fc6e1;
  }
  100%{
  	background: #f672a7;
  }
}
.all-dash-tabs .dash-col-3 .bg-card{
	position: relative;
	cursor: pointer;
}
.new-sport{
	position: absolute;
	top: 5px;
	right: 5px;
	text-transform: uppercase;
	border-radius: 5px;
	font-size: 12px;
	padding: 2px 6px;
	font-weight: 900;
	color: #fff;
}
.all-dash-tabs .dash-col-3:nth-last-child(1) h3, .all-dash-tabs .dash-col-3:nth-last-child(2) h3{
	margin-bottom: 0 !important;
}
.game-1x1 div{
	font-weight: 900;
	font-size: 14px;
	text-align: center;
	line-height: 2;
}
/*.game-1x1 div:nth-child(1), .game-1x1 div:nth-child(2), .game-1x1 div:nth-child(3) {
	border-right: 8px solid #292f3f;
}*/
.team-name {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}
.team-name .tn-icons{
	display: none;
	float: left;
	margin-right: 8px;
}
.team-name .tn-icons i{
	font-size: 25px;
}
.team-name p{
    margin: 0;
    display: table;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    position: relative;
}
.team-name p b{
    display: block;
    color: #94a0ad;
    font-size: 12px;
}
.team-name p b time{
    color: #94a0ad;
    font-size: 12px;
    display: block;
    text-transform: uppercase;
}
.in-play{
	background: #292F3F;
	border-radius: 100px;
	padding: 5px 8px;
	font-size: 14px;
	color: #fff;
  margin:0 1px;
}
.fancy{
	text-transform: capitalize;
	border-radius: 30px;
	padding: 5px 8px;
	font-size: 14px;
	font-weight: 700;
	background: none;
	border: none;
	color: #fff;
	animation: fancy 3s linear infinite;
}
@keyframes fancy{
  0%{
  	background: #f672a7;
  }
  25%{
  	background: #4fc6e1;
  }
  50%{
  	background: #f672a7;
  }
  75%{
  	background: #4fc6e1;
  }
  100%{
  	background: #f672a7;
  }
}
.tv i{
    color: #7ed979;
    font-size: 20px;
    vertical-align: middle;
}
.blue-area{
	background: #53A0E9;
	border: none;
	font-size: 14px;
	color: #fff;
	padding: 3px 1px;
	width: 60px;
	border-radius: 3px;
	font-weight: 500;
}
.red-area{
	background: #EB8181;
	border:none;
	font-size: 14px;
	color: #fff;
	padding: 3px 1px;
	width: 60px;
	border-radius: 3px;
	font-weight: 500;
}
.jackpot-msgs{
	font-size: 12px;
	border-radius: 100px;
	line-height: 2.5;
	margin: 5px 0;
}
.btn-j{
	background: #E95353;
	border: none;
	width: 25px;
	height: 25px;
	display: inline-flex;
	text-align: center;
	justify-content: center;
	border-radius: 100px;
	font-size: 16px;
	letter-spacing: 1px;
	color: #fff;
	line-height: 24px;
}
.btn-g{
  margin: 0 5px;
	background: #53A0E9;
	border: none;
	width: 25px;
	height: 25px;
	display: inline-flex;
	text-align: center;
	justify-content: center;
	border-radius: 100px;
	font-size: 16px;
	letter-spacing: 1px;
	color: #fff;
	line-height: 24px;
}
.btn-f{
	background: #E9B253;
	border: none;
	width: 25px;
	height: 25px;
	display: inline-flex;
	text-align: center;
	justify-content: center;
	border-radius: 100px;
	font-size: 16px;
	letter-spacing: 1px;
	color: #fff;
	line-height: 24px;
}
.tab-pane .bm1{
	margin-bottom: 3px;
}
.tab-pane .bm1:last-child{
	/* margin-bottom: 0; */
}
.dashboard-tabs .mb-1{
	margin-bottom: 5px !important;
}
.m-dash-bt i{
  margin-right: 5px;
  color: #fff;
  border-radius: 50%;
  background: #0f181c;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.m-dash-bt h3{
  text-transform: uppercase !important;
  text-align: left;
  padding-left: 10px;
  font-size: 16px !important;
  margin: 0 !important;
  line-height: 2.5;
}
.col-xl-none{
	display: none;
}
/*terms*/
.terms-ui{
	background: url(/assets/img/log-bg.jpg);
	margin:auto;
    background-repeat: no-repeat;background-size:cover;
    background-position: 50%;
    background-color: #fff;
    left:0;
    right:0;
    top:0;
    bottom:0;
    /*z-index:-1;*/
    position:fixed;
}
.terms-ui .modal-header h5{
	text-align: center;
	color: #fff;
	display: flex;
	margin: 0 auto;
	font-size: 20px;
	text-transform: uppercase;
}
.terms-ui .modal-content{
    background: rgb(0 0 0 / 85%);
}
.terms-ui .modal-content ul li{
    list-style: upper-alpha;
    line-height: 2.2;
    font-size: 16px;
	letter-spacing: 1px;
    color: #fff;
    text-transform: capitalize;
}
.agree-dis{
    background: #000 !important;
}
.agree-dis a{
	text-transform: uppercase;
	margin: 0 10px;
	transition: 0.9s;
	font-weight: 400;
	width: 100px;
  z-index: 999;
}
.agree-dis .agree-btn{
	background: none;
	border: 1px solid #309A52;
	color: #309A52;
}
.agree-dis .agree-btn:hover{
	background:#309A52;
	color: #fff;
}
.agree-dis .disagree-btn{
	background: none;
	border: 1px solid #FF6868;
	color: #FF6868;
}
.agree-dis .disagree-btn:hover{
	background: #FF6868;
	color: #fff;
}
.terms-ui .modal-body::-webkit-scrollbar {
    width: 6px;
    border-radius: 15px;
    background-color: #000 !important
}
.terms-ui .modal-body::-webkit-scrollbar-thumb {
    background-color: #B7B7B7 !important;
    border-radius: 15px;
}
.terms-ui form .col-md-9{position: relative;}
.terms-ui form .eye-on-off{
	position: absolute;
	right: 15px;
	top: 4px;
	color: #fff;
}
.terms-ui form label{
	text-transform: uppercase;
	color: #fff;
	font-weight: 500;
	font-size: 13px;
}
.terms-ui form input{
	border:none;
	padding-left: 0;
	border-bottom:1px solid #fff;
	box-shadow: none;
	background: none;
	border-radius: 0;
	color: #fff !important;
	text-align: center;
}
.terms-ui form input:focus{
	box-shadow: none;
	background: #ffffff0a;
}
.terms-ui form input::placeholder{
	color:#fff;
}
/*terms*/

/*detail*/

/*odds blink*/
.bl-btn.blink-back {
  background: #0970D6 !important;
}
.bl-btn.blink-lay {
  background: #E34F4F !important;
}

.spin-loader{
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.blinking2 {
  -webkit-animation: 1s blinking ease infinite;
  -moz-animation: 1s blinking ease infinite;
  -ms-animation: 1s blinking ease infinite;
  -o-animation: 1s blinking ease infinite;
  animation: 1s blinking ease infinite;
}

@keyframes "blinking" {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-moz-keyframes blinking {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes "blinking" {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-ms-keyframes "blinking" {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-o-keyframes "blinking" {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
/*odds blink*/
.alert-text{
	color: #f1556c;
	margin: 0;
	padding: 0;
	font-size: 12px;
	text-transform: capitalize;
	line-height: 1;
	letter-spacing: 1px;
	margin-bottom: 5px;
}
.btn-tooltip{
	display: none;
}
.btn-match-unmatch{
	text-transform: uppercase;
	font-size: 16px !important;
	background: transparent linear-gradient(90deg, #53A0E9 0%, #7ED979 100%) 0% 0% !important;
	width: 90%;
	color: #fff !important;
  width: 100%;
}
.score-tv .btn-scoreboard, .score-tv .btn-television {
  background: transparent linear-gradient(90deg, #53A0E9 0%, #7ED979 100%) 0% 0% !important;
  color: #fff !important;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  line-height: 35px;
  padding: 0;
  text-align: center;
  justify-content: center;
}
.matched-unmatched-table .nav-tabs a{
	padding:5px 0;
	text-transform: uppercase;
	border: none;
}
.matched-unmatched-table .nav-tabs a:hover{
	border:none;
}
.matched-unmatched-table .nav-tabs a.active{
	background: transparent linear-gradient(90deg, #53A0E9 0%, #7ED979 100%) 0% 0% !important;
	color: #fff;
}
.matched-unmatched-table .modal-header{
	padding: 10px 15px;
}
.matched-unmatched-table .modal-header h4{
	text-transform: capitalize;
}
.matched-unmatched-table .modal-header .close{
	opacity: 1;
  	box-shadow: none;
}
/*scoreboard*/
.score-tv .embed-responsive{
	height: 135px;
	width: 100%;
	object-fit: cover;
	border-radius: 3px;
}
.score-tv .scoreboard-ui img{
	height: 18vh;
	width: 100%;
	object-fit: cover;
	border-radius: 3px;
}
.score-tv .scoreboard-ui{
	position: relative;
	border-radius: 3px !important;
}
.score-tv .scoreboard-ui:before{
	background-color: rgba(0, 0, 0, 0.65);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
	border-radius: 3px;
}
.score{
	position: absolute;
	top: 0;
	width: 100%;
	align-items: center;
	left: 0;
	height: fit-content;
	display: grid;
}
.score b.teamname{
	text-transform: capitalize;
	color: #fff;
	font-size: 16px;
	margin: 0 1em;
	letter-spacing: 1px;
	width: 100%;
	display: inline;
	font-weight: 400;
}
.score .balls .runs{
    background: green;
    color: #fff;
}
.score .balls .wkt{
    background: red;
    color: #fff;
}
.score .balls .nb{
    background: navy;
    color: #fff;
}
.score .balls .extra{
    background: gray;
    color: #fff;
}
.score .balls span{
	width: 25px;
	height: 25px;
	display: inline-flex;
	font-size: 10px;
	text-transform: uppercase;
	border-radius: 25px;
	background: #fff;
	color: #000;
	align-items: center;
	font-weight: 700;
	justify-content: center;
}
.score .t-score, .score .t-over{
	text-transform: capitalize;
	padding: 0;
	margin: 0 1em;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 700;
	color: #80cb02;
}
.score .crr, .score .rrr{
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 700;
	margin: 0 1em;
	color: #fff;
}/*scoreboard*/

.event-title{
	text-transform: capitalize;
	font-size: 20px;
	padding: 8px 3px;
	border-radius: 3px;
	text-align: center;
	margin-bottom: 5px;
}
.wd-title{
  background: #047300;
  box-shadow: inset 0px 0px 7px 2px #21ff12;
  border-radius: 50px;
  font-weight: 700;
  font-size: 12px !important;
  cursor: pointer;
}
.wd-title i{
  font-size: 18px;
  color: white;
  vertical-align: middle;
}
.market-title-row p{
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 2;
	font-weight: 900;
	display: inline;
}
.market-data-row .market-name span.red {
  color: #dc3545 !important;
  font-weight: 500;
  font-size: 14px;
}

.market-data-row .market-name span.green {
  color: #4fd20f !important;
  font-weight: 500;
  font-size: 14px;
}
/*.market-title-row .col-md-3:nth-child(1){
	border-right: 5px solid #292f3f;
}*/
.market-data-row p{
	padding: 0;
	margin: 0;
}
.market-data-row .col-md-3:nth-child(2){padding: 0 2px;}
.market-data-row .col-md-3:nth-child(3){padding:0 2px;}
.market-data-row .market-name{
	font-size: 13px;
	text-transform: capitalize;
	font-weight: 400;
}
.market-data-row .market-name span{
	display: block;
}
.mn-run, .market-data-row span.khado-number{
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	letter-spacing: 0;
	display: inline-flex;
	text-align: center;
	justify-content: center;
	background: transparent linear-gradient(90deg, #53A0E9 0%, #7ED979 100%) 0% 0% no-repeat padding-box;
	border-radius: 50px;
	color: #fff;
	margin-left: 5px;
	font-weight: 900;
}
span.mn-run{
	margin-left: 0 !important;
	display: inline-block !important;
}
.bl-buttons{
	position: relative;
	width: fit-content;
	margin: 0 auto;
	display: flex;
}
.suspended{
    cursor: no-drop;
    width: 100%;
    position: absolute;
    top: 0;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 3px;
}
.bl-buttons .bl-btn{
    font-size: 15px;
    border-radius: 0;
    border: none;
    width: 65px;
    height: 45px;
    line-height: 1;
    padding: 0;
    font-weight: 600;
    margin: 0 1px;
    border-radius: 3px;
}
.bl-buttons .bl-btn span{
    display: block;
    font-size: 12px;
}
.back{
    background: #52A9FF !important;
    color: #fff;
}
.lay{
    background: #EB8181 !important;
    color: #fff;
}
.min-max{
	padding: 0 5px !important;
	margin: 0;
	background: #1d222f !important;
	text-transform: uppercase;
	font-size: 10px;
}
.min-max b{
	color: #25b31d;
}
.min-max-detail{
  font-size: 11px;
  border-radius: 5px;
  text-align: center;
  line-height: 1.2;
  padding: 5px !important;
  width: 120px;
  margin-left: auto !important;
}
.min-max-detail span{
  display: block;
}
button.eon{
  margin:0 1px !important;
}
.back, .blue-area{
	margin-right: 1px !important;
}
.lay, .red-area{
	margin-left: 1px !important;
}
.book-fill, .book{
    border: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    border-radius: 3px;
}
.c-pl-2{
	padding-left: 18px !important;
}
.c-pr-2{
	padding-right: 18px !important;
}
.market-back span{
	width: 67px;
	display: inline-block;
	margin: 0 -1px;
}
/*detail*/

/*betsliptable*/
.mat-bottom-sheet-container{
	background: none !important;
  box-shadow: none !important;
}
.betsliptable{
	position: fixed;
	width: 30%;
	bottom: 0;
	right: 2%;
	z-index: 9;
}
.betsliptable .panel-heading {
  position: relative;
}
.betsliptable h4{
	padding: 15px;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1px;
	cursor: pointer;
	background: transparent linear-gradient(90deg, #53A0E9 0%, #7ED979 100%) 0% 0% no-repeat padding-box;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin: 0;
}
.betsliptable h4 i{
	height: 25px;
	width: 25px;
	line-height: 25px;
	background: #7dd77d;
	color: #fff;
	border-radius: 25px;
	display: inline-block;
	text-align: center;
	margin-right: 3px;
	font-weight: 900;
}
.betsliptable .panel-body{
	padding:0px 5px 0 9px;
	overflow-y: scroll;
	height: auto;
	position: relative;
}
.betsliptable .tab-content{padding: 0 !important;}
.bst-tabs li a{
	position: relative;
	border: none !important;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;
}
.bst-tabs li a.active{
	background: none !important;
  color: #7bd47d !important;
}
.bst-tabs li a.active:after, .bst-tabs li a:hover:after {
    background: transparent linear-gradient(90deg, #53A0E9 0%, #7ED979 100%) 0% 0% no-repeat padding-box;
    position: absolute;
    content: '';
    height: 3px;
    right: 0;
    left: 0;
    bottom: -1px;
}
.clear-all-btn{
	width: 100%;
	text-transform: uppercase;
	background: none;
	margin: 1em 0 0.5em 0;
	line-height: 2.5;
	font-weight: 600;
	transition: 0.9s;
	letter-spacing: 1px;
	background: red;
	color: #fff;
	border:none;
	transition: 0.9s;
}
.clear-all-btn:hover{
  background: #ff4646;
}
.betsliptable .panel-heading[data-toggle="collapse"]:after {
  content: "\F0CDB";
  font-family: 'Material Design Icons';
  position: absolute;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  right: 20px;
  top: calc(50% - 10px);
  -webkit-transform: rotate(360deg);
  -moz-transform:    rotate(360deg);
  -ms-transform:     rotate(360deg);
  -o-transform:      rotate(360deg);
  transform: rotate(360deg);
}
.betsliptable .panel-heading[data-toggle="collapse"].collapsed:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform:    rotate(-180deg);
  -ms-transform:     rotate(-180deg);
  -o-transform:      rotate(-180deg);
  transform: rotate(-180deg);
}
.betsliptable .bst-table .bst-header p{
    margin: 0;
    font-size: 16px;
	letter-spacing: 1px;
	text-transform: capitalize;
}
.betsliptable .bst-table .bst-header span{
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: capitalize;
}
.bst-content{
	padding-bottom:7px;
}
.bst-content .col-4:nth-child(1){padding-right: 2px;}
.bst-content .col-4:nth-child(3){padding-left: 2px;}
.bst-footer .col-6:nth-child(1){
	padding-right: 1px;
}
.bst-footer .col-6:nth-child(2){
	padding-left: 1px;
}
.bst-content input{
	text-align: center;
	border-radius: 0;
	color: #000 !important;
}
.bst-content input::placeholder{
	color: #000;
	font-weight: 700;
}
.bet-place{
	width: 100%;
	background: #7dd87b;
	text-transform: uppercase;
	color: #fff;
	border: none;
	font-weight: 800;
	line-height: 2.5;
}
.bet-delete{
	width: 100%;
	background: #ff4646;
	text-transform: uppercase;
	color: #fff;
	border: none;
	font-weight: 800;
	line-height: 2.5;
}
.bst-content .col-4 em{
	font-style: normal;
	text-transform: uppercase;
	font-size: 12px;
	float: right;
	font-weight: 700;
}
.bst-content .col-4:nth-child(2){
	padding: 0;
}
/*red table*/
.red-table .minus, .red-table .plus{
    border: none;
    background: #EB8181;
    box-shadow: none;
    outline: none;
    color: #fff;
    width: 25px;
    font-weight: 600;
    font-size: 20px;
}
.red-table input, .red-table input:focus{
    background: #FFA5A5;
    border: none;
}
.red-table .stake-btn button{
  border: 1px solid #EB8181;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 0 1px;
  flex: 0 0 16.1%;
  max-width: 16.1%;
  color: #fff;
  line-height: 2;
  font-weight: 700;
  border-radius: 0;
  background: none;
}
.red-table .stake-btn .clear:hover{
	border-color:#fb9898;
	background: #fff;
	color: #000;
}
/*red table*/

/*blue table*/
.blue-table .minus, .blue-table .plus{
    border: none;
    background: #52A9FF;
    box-shadow: none;
    outline: none;
    color: #fff;
    width: 25px;
    font-weight: 600;
    font-size: 20px;
}
.blue-table input, .blue-table input:focus{
    background: #83c0fb;
    border: none;
}
.blue-table .stake-btn button{
    border: 1px solid #52A9FF;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 1px;
    flex: 0 0 16.1%;
    max-width: 16.1%;
    color: #fff;
    line-height: 2;
    font-weight: 700;
    border-radius: 0;
    background: none;
}
.blue-table .stake-btn .clear{
	background: #53A0E9;
}
.red-table .stake-btn .clear{
	background: #da8c8c;
}
.blue-table .stake-btn .clear, .red-table .stake-btn .clear{
  color: #fff;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
}
.blue-table .stake-btn .clear:hover{
	border-color:#83c0fb;
	background: #fff;
	color: #000;
}
/*blue table*/

/*match-unmatch-table*/
.match-unmatch-table table thead tr th, .match-unmatch-table table tbody tr td{
	width: 15%;
}
.match-unmatch-table table thead tr th{
	text-transform: uppercase;
	border: none;
	padding: 4px;
	font-size: 12px;
  border-bottom: 1px solid white;
}
.match-unmatch-table table thead tr th:first-child, .match-unmatch-table table tbody tr td:first-child{
	width: 45%;
	white-space: nowrap;
}
.match-unmatch-table table tbody .back-tr{
	background: #75C8FF;
  border-bottom: 1px solid #fff;
}
.match-unmatch-table table tbody .lay-tr{
	background: #FFA5A5;
  border-bottom: 1px solid #fff;
}
.match-unmatch-table table tbody tr td{
	text-transform: capitalize;
	border: none;
	padding: 4px;
	font-size: 12px;
	color: #000;
	font-weight: 600;
}
/*match-unmatch-table*/
/*betsliptable*/

/*profile ui*/
.avatar-profile{
	text-align: center;
	margin: 0 auto;
	padding: 26px 0;
}
.avatar-profile i{
    font-size: 50px;
}
.avatar-profile h2{
    margin: 0;
    font-size: 16px;
	letter-spacing: 1px;
    text-transform: uppercase;
}
.avatar-profile img{
	width: 100px;
}
.avatar-profile h3{
    font-size: 14px;
    color: #ddd;
}
.profile-table td{
	border: none !important;
	padding: 6px 10px !important;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.profile-table tr td:first-child{text-align: right;}
.profile-table tr td:first-child:after{content: " : ";}
.profile-table tr td:last-child{text-align: left;}
.profile-form label{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
}
.profile-form input::placeholder{
	font-size: 12px;
	text-transform: capitalize;
}
.profile-form .form-group i{
	position: absolute;
	right: 25px;
	bottom: 12px;
	cursor: pointer;
}
h2.profile-page-title{
  text-transform: uppercase;
  font-size: 15px;
  background: #162227;
  padding: 10px 0;
  text-align: center;
}
.betslip-setting .form-group label{
	text-transform: capitalize;
	color: #fff;
	font-size: 15px;
	font-weight: 400;
}
.betslip-setting .form-group input, .betslip-setting .form-group input:focus{
	background: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
	border: none;
}
.betslip-setting .form-group input::placeholder{
	text-align: center;
	font-size: 14px;
}
.betslip-setting .btn-add{
	background: #162227;
	border: none;
	box-shadow: none;
	color: #ffff !important;
	width: 100px;
	text-transform: uppercase;
	transition: 0.9s;
}
.betslip-setting .btn-add:hover{
	background: #1f2431;
}
.betslip-setting .stakes-label{
	position: absolute;
	border: none;
	top: -25px;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
}
.betslip-setting .btn-stake{
  border: 1px solid #74cc85;
  margin-bottom: 0;
  text-align: left;
  width: 100px;
  position: relative;
  margin: 0 3px 5px 0px;
  font-size: 14px;
  line-height: 14px;
}
.betslip-setting .btn-stake i{
	position: absolute;
	right: 5px;
	font-size: 18px;
	top: 5px;
	font-weight: 100;
}
.betslip-setting .form-group .btn-stake-add{
	background: none;
	border: 1px solid #ddd;
	text-transform: capitalize;
	font-size: 16px;
	letter-spacing: 1px;
	color: #fff;
	float: right;
	width: 120px;
	transition: 0.9s;
}
.betslip-setting .form-group .btn-stake-add:hover{
	background: #fff;
	color: #000;
}
.betslip-setting {
}
/*profile ui*/


/*inplay*/
.inplay-ui .team-name p b{
	display: inline-flex;
}
.inplay-ui .team-name em{
	display: flow-root;
	font-style: normal;
}
.inplay-ui .team-name .fancy{
	padding: 4px 8px;
	vertical-align: middle;
}
.inplay-ui #today .team-name p b time:before{
	content: "\F0150";
	font-family: 'Material Design Icons';
	margin-right: 3px;
}
.inplay-ui #today .team-name p b:before{
	content: "\F00ED";
	font-family: 'Material Design Icons';
	margin-right: 1px;
	display: none;
}
.inplay-ui #tomorrow .team-name p b time:before{
	content: "\F0150";
	font-family: 'Material Design Icons';
	margin: 0 3px;
}
.inplay-ui #tomorrow .team-name p b:before{
	content: "\F0E18";
	font-family: 'Material Design Icons';
	margin-right: 1px;
	font-weight: 100;
}
.inplay-ui ul li a{
	position: relative;
	text-transform: uppercase;
	padding: 3px;
	font-size: 16px;
	letter-spacing: 1px;
	cursor: pointer;
}
.inplay-ui li a.active{
	background: none !important;
	border: none !important;
}
.inplay-ui li a.active:after, .inplay-ui li a:hover:after {
    background: transparent linear-gradient(90deg, #53A0E9 0%, #7ED979 100%) 0% 0% no-repeat padding-box;
    position: absolute;
    content: '';
    height: 2px;
    right: 0;
    left: 0;
    bottom: 0px;
}
.inplay-ui .card{
	margin-top: 5px;
}
/*inplay*/

/*rules*/
.rules-ui h2{
	text-transform: uppercase;
	font-size: 17px;
	line-height: 2;
	text-align: center;
	padding: 0 8px;
	border-radius: 3px;
}
.rules-ui li{
	line-height: 2;
	text-transform: capitalize;
  list-style: none;
  color: #fff;
}
.rules-ui h3{
	font-size: 16px;
	text-transform: capitalize;
	margin: 10px 0;
	color: #66ba95;
	width: fit-content;
	position: relative;
}
.rules-ui h3:before{
	content: "\F02FC";
	font-family: 'Material Design Icons';
	background: -webkit-linear-gradient(#184fb6, #7dd878);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-right: 2px;
	padding: 4px;
}
/*rules*/

/*casino baalnce*/
.form-dropdown{}
.form-dropdown select, .form-dropdown select:focus{
	    background: #141723 !important;
    border: 1px solid #7bd67c;
    border-radius: 5px !important;
    box-shadow: none !important;
}
.form-dropdown select option{}
.cb-form{
	background: #141823;
	padding: 15px;
	text-transform: capitalize;
	border-radius: 10px;
}
.cb-form label{
	text-transform: uppercase;
	font-style: 14px;
	color: #fff;
}
.cb-form input{
	border-radius: 5px !important;
	background: none !important;
	color: #fff;
	font-size: 14px !important;
}
.cb-form .btn-submit{
	background: #7ed979;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
}
.cb-form .btn-cancel{
	background: #3166d6;
	color: #fff !important;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
}
.cb-form button{margin:0 5px;}
/*casino baalnce*/

/*account statement*/
#filter.collapse:not(.show){
    display: block;
}
.btn-filter{
    border: none;
    padding: 5px 15px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 25px;
    cursor: pointer;
}
.account-ui h2, h2.page-title{
	text-transform: uppercase;
	font-size: 15px;
	padding: 10px;
	border-radius: 4px;
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;
}
.account-ui h2 i, h2.page-title i{
	padding-right: 10px;
}
.account-ui .form-group{
	margin: 0 5px 5px 5px;
}
.account-ui .btn-get{
  box-shadow: inset 0 0 0 1px #ddd;
  border: none !important;
  text-transform: uppercase;
  height: 40px;
  padding: 0 3px;
  transition: 0.9s;
  font-size: 13px;
  width: 100%;
}
.account-ui input, .account-ui select{
    background: #fff;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 13px;
    height: 40px;
    padding: 0 3px;
}
.account-ui select{
  box-shadow: inset 0 0 0 1px #323a4c;
  background: none;
  border-radius: 0;
  text-transform: capitalize;
  border: 1px solid #323a4c;
}
.account-ui .form-row{
  margin-bottom: 5px !important;
  padding: 6px 6px;
  border-radius: 3px;
  margin: 0;
}
.account-ui .btn-download{
	background: none;
	font-size: 20px;
	border: none;
	transition: 0.9s;
}
.account-ui .btn-download:hover{
	color: #25b31d;
}
.debit, tr td.debit {
	color: #ff4646 !important;
	font-weight: 900;
}
/*.account-ui table td .debit{*/
/*  color: #8c0000 !important;*/
/*}*/
.credit, tr td.credit{
	color: #25b31d !important;
	font-weight: 900;
}
.account-ui table th{
	padding:1px 5px;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
	border: none !important;
	font-weight: 400;
	vertical-align: middle !important;
}
.account-ui table tr{
	border: none;
}
.account-ui table td{
	padding:12px 5px;
	text-transform: capitalize;
	font-size: 16px;
	border: none;
	vertical-align: middle;
  white-space: nowrap;
}
.account-ui table td:last-child{
	text-align: center;
}
.account-ui table td a{
  text-decoration: underline !important;
  transition: 0.9s;
  letter-spacing: 0;
  font-weight:600;
}
.account-ui table td a:hover{
	color: #2b71d9;
}
/*account statement*/

/*profit loss*/
.profit-loss .col-4{margin-bottom: 15px;}
/*.profit-loss .col-4:nth-child(1), .profit-loss .col-4:nth-child(7){padding-right: 2px;}*/
/*.profit-loss .col-4:nth-child(2), .profit-loss .col-4:nth-child(8), .profit-loss .col-4:nth-child(3), .profit-loss .col-4:nth-child(4), .profit-loss .col-4:nth-child(5){padding:0 2px;}*/
/*.profit-loss .col-4:nth-child(6), .profit-loss .col-4:nth-child(9){padding-left: 2px;}*/
.profit-loss i{
	background: -webkit-linear-gradient(#184fb6, #7dd878);
	font-size: 22px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50px;
	color: #fff;
  display: none !important;
}
.profit-loss h3{
	text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    margin-bottom: 10px !important;
    border-radius: 12px;
    width: 90%;
    margin: 0 auto;
    padding: 6px 3px;
    font-weight: 900;
}
.profit-loss h4{
	font-size: 14px;
	margin: 0;
}
.profit-loss h4 i{
	font-size: 12px;
	background: none;
	width: auto;
	height: auto;
}
#Profit-Loss table tbody tr td{
	padding: 7px;
}
#Profit-Loss table thead tr{
	border-bottom: none !important;
}
/*profit loss*/

/*cricket casino*/
.cc-ui .accordion .card-header a{
	text-transform: uppercase;
	font-size: 15px;
  cursor: pointer;
}
.cc-ui .accordion .card:last-child{
	margin-bottom: 0 !important;
}
.cc-ui .accordion .card{
	margin-bottom: 5px !important;
	border-radius: 5px !important;
}
.cc-min-max span{
	margin: 0 15px;
}
.cc-ui .accordion .input-group span{
	width: 100px;
	border: none;
	box-shadow: none;
}
.cc-ui .accordion .input-group button{
	background: transparent linear-gradient(90deg, #53A0E9 0%, #7ED979 100%) 0% 0% !important;
	width: 100%;
	border: none;
	box-shadow: none;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
}
.cc-ui .accordion .input-group input, .cc-ui .accordion .input-group input:focus{
	text-align: center;
	border: none;
	background: none;
	box-shadow: inset 0px 0px 0px 1px #70c69d !important;
}
.cc-ui .input-group{
	margin: 10px 0;
}
.cc-ui .brp button{
	width: 100%;
	text-transform: uppercase;
}
.cc-ui .brp .btn-placebet, .cc-ui .brp .btn-book{
    background: #7cd680 !important;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
.cc-ui .brp p{
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0;
	padding: .45rem .9rem;
}
/*cricket casino*/

/*jackpot*/
.jackpot-box{
	border-radius: 10px;
	margin: 15px;
	padding: 10px 0;
	position: relative;
  cursor: pointer;
}
.jackpot-box h4{
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: capitalize;
	text-align: center;
	margin: 0;
	padding-top: 10px;
}
.jackpot-box img{
    width: 126px;
    margin: 0 auto;
    display: flex;
}
/*jackpot*/

/*jackpot-list*/
.jackpot-list h2{
    font-size: 15px;
    margin: 10px;
    text-transform: uppercase;
}
.jackpot-list a{
    display: block;
    margin: 0 10px 10px 10px;
    padding: 10px 30px;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-size: 16px;
	letter-spacing: 1px;
    transition: 0.9s;
}
/*jackpot-list*/
/*big jackpot detail*/
.bjd-ui {
	position: relative;
}
.bjd-ui button.btn-bets {
	position: absolute !important;
	right: 18px;
	top: -1px;
	z-index: 9;
	background: transparent linear-gradient(90deg, #53A0E9 0%, #7ED979 100%) 0% 0% no-repeat padding-box;
	border: none;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 15px;
	padding: 0 5px;
	color: #fff;
}
.bjd-ui .min-max-win{
	text-transform: capitalize;
	padding: 0;
	margin: 0;
	text-align: center;
	width: 33%;
	display: inline;
	justify-content: center;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 1.5;
}
.bjd-ui .min-max-win span{
	color: #FF4E4E;
	display: block;
}
.bjd-ui .bj-event-title{
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 0;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 900;
}
.bjd-table thead th{
	background: #0A1429;
	text-align: center;
	border: none !important;
	text-transform: capitalize;
	color: #fff;
	font-weight: 400;
	padding: 7px;
}
.bjd-table tbody td{
	text-align: center;
	box-shadow: inset 0 0 0 1px #FF6868;
	border: none !important;
	text-transform: capitalize;
	color: #fff;
	font-weight: 400;
	padding: 7px;
	transition: 0.9s;
	cursor: pointer;
}
.bjd-table{
	width: 100%;
}
.bjd-table .bjd-table-head{
    width: 100%;
    display: flex;
    margin-bottom: 2px;
}
.bjd-table .bjd-table-head .bjd-col{
    width: 20%;
    font-size: 14px;
	letter-spacing: 1px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    line-height: 2;
    font-weight: 900;
}
.bjd-table .bjd-table-body .bjd-table-body-tr{
	width: 100%;
	display: flex;
}
.bjd-table .bjd-table-body .bjd-table-body-tr .bjd-col{
    width: 20%;
    margin: 2px;
    font-size: 16px;
	letter-spacing: 1px;
    position: relative;
    display: flex;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px #FF6868;
    transition: 0.9s;
    align-items: center;
    align-self: center;
    height: 40px;
    justify-content: center;
}
.bjd-table .bjd-table-body .bjd-col:hover{
	background: #FF6868;
}
.bjd-table .bjd-table-body .bjd-col:last-child{
	background: #75C8FF;
	box-shadow: inset 0 0 0px 1px #fff;
}
.bjd-table .bjd-table-body .bjd-col:hover:last-child{
	/*background: none;*/
}
.bjd-odds p{
	padding: 0;
	margin: 0;
	background: none;
	line-height: 1.1;
}
.bjd-odds{
    display: inline-block;
    width: 100%;
    border-radius: 0;
}
.bjd-odds span{
    display: block;
}
.bjd-suspended{
	cursor: no-drop;
	width: 100%;
	position: absolute;
	top: 0;
	height: 40px;
	align-items: center;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 400;
	border-radius: 0;
}
/*big jackpot detail*/
#Scoreboard iframe.embed-responsive-item{
  height: 135px !important;
}
@media (max-width: 767.98px){
  .all-dash-tabs img{object-fit: contain; height: auto;}
  .account-ui input, .account-ui select{font-size: 12px; height: 40px;}
  .inplay-ui .team-name .fancy{font-size: 12px;}
  #Scoreboard iframe.embed-responsive-item{
    height: 135px !important;
  }
	::-webkit-scrollbar{
		height: 4px;
		border-radius: 0;
	}
	.cc-ui .brp .btn-placebet, .cc-ui .brp .btn-book{
		font-size: 13px;
	}
	.inplay-ui #today .team-name p b:before {
		display: none;
	}
	.all-dash-tabs .dash-col-3:nth-child(odd){padding-right: 2px;}
	.all-dash-tabs .dash-col-3:nth-child(even){padding-left: 2px;}
	.dashboard-tabs .tab-content .tab-pane h3{margin-bottom: 10px;}
	.livegame{
		margin-bottom: 15px;
    padding: 2px;
	}
  .livegame-row .col-6{
    padding: 0 5px;
  }
  .livegame a.lv-btn{
    font-size: 11px;
    padding: 10px 0;
  }
	/*.betsliptable*/
	.betsliptable{
		width: 100%;
    right: 0;
	}
	/*.betsliptable*/
	.right-bar .tab-content .active:first-child, .right-bar .nav-tabs .nav-item:first-child{
		display: block;
	}
	.right-bar .nav-tabs{
		border-bottom: none;
	}
	#settings-tab{
		display: none;
	}
	.active#settings-tab{
		display: block;
	}
  .red-table .stake-btn button, .blue-table .stake-btn button{
    flex: 0 0 16.1%;
    max-width: 16.1%;
  }
	/*user profile menu*/
	.user-menus ul{
	    margin:0;
	    padding: 0;
	}
	.user-menus ul li{
	    list-style: none;
	    line-height: 0;
	}
	.user-menus ul li a i{
    padding-right: 3px;
    display: inline-block;
    /*background: -webkit-linear-gradient(#184fb6, #7dd878);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    color: #7dd878;
    font-size: 20px;
	}
	.user-menus ul li .logout{
		background: #fe4646;
		color: #fff;
		font-weight: bolder;
	}
	/*user profile menu*/

	/*detail*/
	.alert-text{
		line-height: 2;
		padding: 0 5px;
	}
	.score-tv .scoreboard-ui img, .score-tv .scoreboard-ui, .score{
		height: 20vh;
	}
	.score-tv .embed-responsive{
		/*height: 30vh;*/
	}
	.betsliptable .panel-body{
		padding: 0 3px;
		overflow: hidden;
		height: auto;
	}
	.bst-footer{
		padding-bottom: 5px;
	}
	.bst-footer .row .col-6:nth-child(1){padding-right: 1px;}
	.bst-footer .row .col-6:nth-child(2){padding-left: 1px;}
	.bst-content .col-4:nth-child(1){padding-right: 1px;}
	.bst-content .col-4:nth-child(2){padding-right: 1px; padding-left: 1px;}
	.bst-content .col-4:nth-child(3){padding-left: 1px;}
	.blue-table .mobile-number button, .red-table .mobile-number button{
		margin-bottom: 2px;
	}
	.bet-place, .bet-delete{
		line-height: 2;
		font-size: 16px;
		letter-spacing: 1px;
	}
	.bst-content{
		padding: 5px 0 !important;
	}
	.bst-content .pt-2{
		padding-top: 5px !important;
	}
	.betsliptable .bst-table .bst-header{text-align: center;}
	.betsliptable .bst-table{
		border-bottom: none;
    margin-bottom: 0;
    padding: 2px;
	}
	.stake-btn button{
		border-radius: 3px;
		font-size: 15px;
		font-weight: 600;
	}
	.blue-table input{
		/*font-size: 15px;*/
	}
	.blue-table .minus, .blue-table .plus, .red-table .minus, .red-table .plus{
		width: 20px;
		padding: 0;
	}
	.bst-content .col-4 em{
		float: left;
		font-size: 14px;
		letter-spacing: 1px;
	}
  /*.bst-table:nth-child(4), .bst-table:nth-child(2), .bst-table:nth-child(3)*/
	.clear-all-btn{
		display: none;
	}
	.btn-tooltip{
		display: inline-block;
		float: right;
		text-align: center;
		font-size: 18px;
		background-color: #fff;
		border-radius: 25px;
		width: 20px;
		height: 20px;
		color: #000;
		line-height: 20px;
		margin-top: 10px;
	}
	.tooltip p{
		padding: 0;
		margin: 0;
		text-transform: uppercase;
		font-size: 10px;
		color: #fff;
		font-weight: 600;
		letter-spacing: 1px;
	}
	.tooltip p b{
		color: green;
	}
	.eon{
		display: none;
	}
	.market-title-row .col-md-3:nth-child(1){
		border-right:none;
	}
	.event-title{
		text-align: center;
		font-size: 18px;
	}
	.market-section{margin-bottom: 0.5em;}
	.market-section .row{
		padding: 0;
		margin: 0;
	}
	.market-title-row p{
		line-height: 3;
		font-size: 14px;
	}
  .team-name p{font-size: 14px;}
  .inplay-ui ul li a{padding: 6px 3px;}
	.market-section .row .col-5{
		padding-right: 0 !important;
    padding-left: 3px;
	}
  .extra-market-tabs .market-section .row .col-5{
    padding-right: 0 !important;
    padding-left: 12px !important;
  }
	.bl-buttons .bl-btn{
		width: 67px;
		height: 60px;
		font-size: 15px;
		letter-spacing: 1px;
		font-weight: 400;
	}
	.suspended{
		height: 100%;
		top: 0;
		font-weight: 500;
		letter-spacing: 0;
	}
	.c-pl-2{padding-left: 12px !important;}
	.c-pr-2{padding-right: 12px !important;}
	.market-section .my-1{
		margin-top: 0px !important;
		margin-bottom: 1px !important;
	}
	.tabs-market-section .row{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.mn-run{
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 16px !important;
	}
	.card-body.market-ui{
		margin-bottom: 0 !important;
	}
  .market-ui iframe{
    min-height: 100%;
    max-height: 100%;
  }
	/*detail*/
	.agree-dis{
		justify-content: center !important;
	}
	.terms-ui .modal-content ul{
	    margin: 0;
	    padding:5px 10px;
	}
	.col-xs-none{
		display: none;
	}
	.col-xl-none{
		display: block;
	}
	.sport-list .col-4{
		padding: 0;
	}
	.sport-list .col-8{
		padding-right: 5px;
		padding-left: 5px;
	}
	.team-name p b time:before{
		content: "\F0150";
		font-family: 'Material Design Icons';
		margin-right: 3px;
	}
	.team-name p b:before{
		content: "\F00ED";
		font-family: 'Material Design Icons';
		margin-right: 1px;
	}
	.team-name p b time {
		display: inline-flex;
	}
	.team-name p b{
		line-height: 2;
		font-weight: 400;
	}
	.m-inplay{
		font-size: 3vw;
		padding: 2px 4px;
		border-radius: 5px;
		color: #fff !important;
		font-weight: 800;
		margin:0 3px;
	}
	.m-fancy{
	    font-size: 3vw;
	    background: #ff4646;
	    color: #fff !important;
	    font-weight: 800;
	    padding: 3px 5px;
	    border-radius: 5px;
	}
	.game-1x1 div:nth-child(1), .game-1x1 div:nth-child(2), .game-1x1 div:nth-child(3){
		border: none;
	}
	.pro-user-name p{
	    margin: 0;
	}
	.pro-user-name p img{
		/*filter: invert(1);
		background: chocolate;
		border-radius: 100px;*/
		height: 25px;
		width: 25px;
	}
	.pro-user-name{
		display: inline-block !important;
		color: #fff;
		letter-spacing: 1px;
		position: relative;
		padding: 0 2px;
		line-height: normal;
		justify-content: center;
		vertical-align: middle;
		align-items: center;
		align-self: center;
	}
	.right-custom-menu{
	    display: block !important;
	}
	.topnav-menu .btn-balance, .topnav-menu .btn-exposer{
		padding: 4px 10px;
	}
	.nav-user i.mdi-face, .topnav-menu-left .rules, .topnav-menu-left .android, .team-name .tn-icons {
		display: none !important;
	}
	.navbar-custom .topnav-menu .nav-link{
		padding: 0 3px !important;
	}
	.m-balance, .m-exposer{
	    margin-right: 1vh !important;
	}
	.m-user-profile{
		background: #212735;
		padding: 0 5px;
	}
	.content-page{
		padding: 0 !important
	}
	.navbar-custom{
		padding: 0 !important;
    top:0 !important;
	}
	.card-body{
		padding: 3px !important;
	}
	.tab-content{
		padding: 0 !important;
	}
	.container-fluid{
		padding-left: 3px !important;
		padding-right: 3px !important;
	}
	.extra-market-tabs .dash-ul{
		display: block !important;
	}
	.dashboard-tabs .dash-ul{
	    overflow-x: scroll;
	    -webkit-overflow-scrolling: scroll;
	    -ms-overflow-style: -ms-autohiding-scrollbar;
	    white-space: nowrap;
	    white-space: -moz-nowrap!important;
	    white-space: -hp-nowrap;
	    white-space: -o-nowrap;
	    margin-bottom: 7px;
	    display: none;
	}
	.dashboard-tabs .dash-ul ul{
		width: 100%;
		max-width: -webkit-max-content;
		max-width: -moz-max-content;
		max-width: max-content;
		display: inline-block;
		margin-bottom: 6px;
	}
	.dashboard-tabs ul li{
		display: inline-flex;
	}
	.dashboard-tabs ul.nav-pills li a{
		border-bottom: none !important;
		background: #232a3a !important;
		border-radius: 3px !important;
		padding: 10px !important;
		font-size: 12px;
		box-shadow: inset 0px -1px #7ed979;
	}
	.dashboard-tabs ul.nav-pills li a.active{
		border-bottom: none !important;
		background: #7ed979 !important;
		border-radius: 3px !important;
		color: #fff;
	}
	.dashboard-tabs ul.nav-pills li a.active:after, .dashboard-tabs ul.nav-pills li a:hover:after{
		display: none;
	}
	.auth-fluid-form-box .btn-login{
		display: block;
	}
	.auth-fluid-form-box .card-body{
		background: #fff;
		padding: 1.5em !important;
		border-radius: 5px;
	}
	.card {
		margin-bottom: 5px !important;
	}
	/*mobile menubar*/

	.mobile-bottom-nav {
	   position: fixed;
	   bottom: 0;
	   left: 0;
	   right: 0;
	   will-change: transform;
	   -webkit-transform: translateZ(0);
	   transform: translateZ(0);
	   box-shadow: none;
	   width: 100%;
	   display: inline-flex;
	   align-items: center;
	   z-index: 8;
	   justify-content: center;
	   height: auto;
	}
	.mobile-bottom-nav .mbn-col-3{
		width: 20%;
		display: grid;
		position: relative;
		z-index: 999;
		font-weight: 100;
		height: 60px;
		justify-content: center;
		align-items: center;
		align-content: center;
		text-align: center;
	    transition: all 0.2s ease-in-out 0s;

	}
	.mobile-bottom-nav span{
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 1px;
		font-weight: 400;
		display: block;
	}
	.mobile-bottom-nav img{
		display: block;
		line-height: normal;
		margin: 0 auto;
		width: 20px;
	}
	.mobile-bottom-nav .mbn-col-3.active-menu span{
		font-weight: 900;
	}
	/*mobile menubar*/


	.left-side-menu{
		width: 250px !important;
		padding: 0 !important;
		margin: 0 !important;
	}
	.mobile-logo{
		text-align: center;
		padding: 1.5em 0;
		margin-bottom: 10px;
	}
	.mobile-logo img{
		width: 150px;
	}

	/*jackpot*/
	.bjd-ui .j-teams{width: 100%;}
	.bjd-suspended{
		font-size: 10px;
	}
	/*jackpot*/
	.profit-loss .col-4{margin-bottom: 4px;}
	.profit-loss .col-4:nth-child(3){    padding: 0 13px 0px 2px;}
	.profit-loss .col-4:nth-child(4){padding: 0 2px 0px 13px;}
	.profit-loss .col-4:nth-child(1), .profit-loss .col-4:nth-child(7){padding-right: 2px !important;}
	.profit-loss .col-4:nth-child(2), .profit-loss .col-4:nth-child(5), .profit-loss .col-4:nth-child(8){padding:0 2px !important;}
	.profit-loss .col-4:nth-child(6), .profit-loss .col-4:nth-child(9){padding-left: 2px !important;}
	.profit-loss .col-4:nth-child(10){padding: 2px 0 !important;}
	.profit-loss .btn-proloss{
		height: 100px !important;
		padding: 5px 0;
	}
	.account-ui .btn-get{
		margin: 5px 0;
	}
	.account-ui table tr td:nth-child(2) span{
		display: block;
	}
	.account-ui input{
		position: relative;
	}
	.account-ui input:after{
		content: '\F00EE' !important;
		color: #000;
		font: normal normal normal 20px/1 "Material Design Icons";
		position: absolute;
		top: 10px;
		right: 15px;
	}
	#filter.collapse:not(.show){
	    display: none;
	}
	.betslip-setting .btn-stake{
		margin:5px;
    width: 100px;
	}
	.profile-form .form-group{
		margin: 0 !important;
	}
  .profile-form label{
    margin-top: 15px;
    font-size: 13px;
  }
	.password-btn{
		margin: 15px 0;
	}
	.rules-ui .bst-tabs li a{padding: 5px;font-size: 13px;}
	.jackpot-box{
		margin: 7px 1px;
	}
	.bjd-ui button.btn-bets{
    top: -1px;
    right: 17px;
    padding: 0 5px;
	}
	.bjd-ui .min-max-win{
		font-size: 14px;
	}
	.bjd-ui .min-max-win:nth-child(1), .bjd-ui .min-max-win:nth-child(3){width: 30%;}
	.bjd-ui .min-max-win:nth-child(2){width: 40%;}
	.terms-ui form label{text-align: center;}
	.terms-ui form input{border:1px solid #fff;}
}
@media (max-width: 375px){
  .market-title-row p{
    font-size: 11px;
  }
  .bl-buttons .bl-btn{
    width:67px;
    font-size: 14px;
  }
  .m-balance, .m-exposer {
	    margin-right: 1.5vh !important;
	}
	.btn-match-unmatch{
		font-size: 14px !important;
	}
	.event-title{
		font-size: 15px;
	}
}
@media (max-width: 360px){
  .market-back span{
    width: 55px;
  }
  .bl-buttons .bl-btn:focus{
    box-shadow: none;
  }
	.bl-buttons .bl-btn{
		width: 55px;
    height: 55px;
	}
  .book{font-size: 12px;}
	.blue-table .stake-btn button, .red-table .stake-btn button{
		flex: 0 0 15.8%;
		max-width: 15.8%;
	}
	.btn-match-unmatch{
		font-size: 12px !important;
    width: 100%;
	}
	.navbar-custom .button-menu-mobile{
		width: 25px !important;
		margin: 0;
		padding: 0;
	}
	.navbar-custom .button-menu-mobile i{
		font-size: 25px !important;
	}
	.pro-user-name{
		padding: 0;
	}
	.m-balance, .m-exposer{
	    margin-right: 1vh !important;
	}
}



/* right bounce */
@-webkit-keyframes bounceRight {
    100% { opacity:0; transform: translateX(5px); }
   80% { opacity:1; transform: translateX(2px); }
   20% { opacity:1; transform: translateX(-2px); }
  0% { opacity:0; transform: translateX(-5px); }
}
@keyframes bounceRight {
  100% { opacity:0; transform: translateX(5px); }
   80% { opacity:1; transform: translateX(2px); }
   20% { opacity:1; transform: translateX(-2px); }
  0% { opacity:0; transform: translateX(-5px); }
}
/* /right bounce */


/*animatino*/

.no-data-found, .no-internet{
  margin-top: 10vh;
}
.no-data-found img, .no-internet img{
  width: 160px;
  margin: 0 auto;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.no-data-found h2, .no-internet h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  color: #fff;
  margin-top: 15px !important;
  font-weight: 600;
  letter-spacing: 1px;
  /*width: 60%;*/
  margin: 0 auto;
}
.no-internet h2 span{
  display: block;
  text-transform: capitalize;
  font-size: 12px;
  margin-top: 5px;
}
@keyframes move {
  0% {
    margin-top: 0px;
    opacity: 0.1;
  }
  50% {
    margin-top: 4px;
    opacity: 1;
  }
  100% {
    margin-top: 0px;
    opacity: 0.1;
  }
}

