<!-- Start Content-->
<div class="container-fluid">

  <div class="row mt-0 mt-lg-3">
    <div class="col-12">
      <h2 class="event-title">{{matchData?.title}}</h2>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body score-tv">
          <div class="row justify-content-center">

            <!-- mobile view -->
            <div class="col-12 text-center">
              <div class="row">
                <div class="col-md-3 col-2 align-self-center">
<!--                  <button class="btn btn-television waves-effect waves-light collapsed" data-toggle="collapse" href="#Television" aria-expanded="false" aria-controls="Television">-->
<!--                    <i class="mdi mdi-cricket"></i>-->
<!--                  </button>-->
                </div>
                <div class="col-md-6 col-8 align-self-center">
                  <button class="btn btn-match-unmatch"  (click)="getBetList()">matched & unmatched</button>
                </div>
                <div class="col-md-3 col-2 align-self-center">
<!--                  <button class="btn btn-scoreboard waves-effect waves-light collapsed" type="button" data-toggle="collapse" data-target="#Scoreboard" aria-expanded="false" aria-controls="Scoreboard"><i class="mdi mdi-television"></i></button>-->
                </div>
              </div>
            </div>
            <!-- mobile view -->
          </div>
        </div>
      </div>
    </div> <!-- end col-->
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-12">
      <!-- Portlet card -->
      <div class="card">
        <div class="card-body market-ui">
          <div class="row">
            <span class="text-light text-center" style="width: -webkit-fill-available;" *ngIf="matchData?.bookmaker === null && matchData?.fancy2 === null && matchData?.fancy3 === null">No Data</span>
            <div class="col-md-12">
              <!--BOOKMAKER -->
              <div #bookmakerRef></div>
              <!--END OF BOOKMAKER -->

              <!--FANCY-2 -->
              <div #fancy2Ref></div>
              <!-- END OF FANCY-2 -->
            </div>
            <div class="col-md-12">
              <!--FANCY-3(other) -->
              <div #fancy3Ref></div>
              <!-- END OF FANCY-3(other) -->
            </div>
          </div>
        </div> <!-- end card body-->
      </div> <!-- end card-->

    </div> <!-- end col-->
  </div>
  <!-- end row -->
</div> <!-- container -->

<!-- modal for match and unmatch -->
<div id="Matched-Unmatched" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="scrollableModalTitle" aria-modal="true">
  <div class="modal-dialog modal-dialog-scrollable matched-unmatched-table">
    <div class="modal-content" style="background-color: #36404a;">
      <div class="modal-header">
        <h4 class="modal-title text-center">Matched & Unmatched</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body p-1">

        <div class="panel-body">
          <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
              <a href="#Matched-Table" data-toggle="tab" aria-expanded="true" class="nav-link active">
                matched
              </a>
            </li>
            <li class="nav-item">
              <a href="#UnMatched-Table" data-toggle="tab" aria-expanded="false" class="nav-link">
                unmatched
              </a>
            </li>
          </ul>
          <div class="tab-content pt-1">

            <div class="tab-pane match-unmatch-table active" id="Matched-Table">

              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                  <tr>
                    <th>runners</th>
                    <th>odds</th>
                    <th>stakes</th>
                    <th>p/l</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="isloadBetList">
                  <tr>
                    <td colspan="4" class="text-light text-center">Loading..</td>
                  </tr>
                  </tbody>
                </table>

                <table class="table mb-0" *ngFor="let betItem of currantBets?.matched">
                  <thead *ngIf="betItem?.dataList.length">
                  <tr>
                    <th colspan="5">{{betItem?.title}}</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="betItem?.dataList.length">
                  <tr *ngFor="let dataItem of betItem?.dataList" [ngClass]="{'back-tr': dataItem?.bType === 'back' || dataItem?.bType === 'yes','lay-tr': dataItem?.bType === 'lay' || dataItem?.bType === 'no'}">
                    <td>{{dataItem?.runner}}</td>
                    <td *ngIf="dataItem?.mType === 'bookmaker'">{{dataItem?.rate}}</td>
                    <td *ngIf="dataItem?.mType !== 'fancy' && dataItem?.mType !== 'fancy2' && dataItem?.mType !== 'ballbyball' && dataItem?.mType !== 'khado' && dataItem?.mType !== 'bookmaker'">{{dataItem?.price}}</td>
                    <td *ngIf="dataItem?.mType === 'fancy' || dataItem?.mType === 'fancy2' || dataItem?.mType === 'ballbyball' || dataItem?.mType === 'khado'">{{dataItem?.rate == '100' ? dataItem?.price : dataItem?.price + '/' + dataItem?.rate}}</td>
                    <td>{{dataItem?.size}}</td>
                    <td *ngIf="dataItem?.mType !== 'meter'">{{(dataItem?.bType === 'lay' || dataItem?.bType === 'no') ? dataItem?.loss : dataItem?.win}}</td>
                    <td *ngIf="dataItem?.mType === 'meter'">-</td>
                  </tr>
                  </tbody>
                </table>

              </div>

            </div>

            <div class="tab-pane match-unmatch-table" id="UnMatched-Table">

              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                  <tr>
                    <th>runners</th>
                    <th>odds</th>
                    <th>stakes</th>
                    <th>p/l</th>
                  </tr>
                  </thead>
                </table>

                <table class="table mb-0"  *ngFor="let betItem of currantBets?.unmatched">
                  <thead *ngIf="betItem?.dataList.length">
                  <tr>
                    <th colspan="5">{{betItem?.title}}</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="betItem?.dataList.length">
                  <tr *ngFor="let dataItem of betItem?.dataList" [ngClass]="{'back-tr': dataItem?.bType === 'back' || dataItem?.bType === 'yes','lay-tr': dataItem?.bType === 'lay' || dataItem?.bType === 'no'}">
                    <td>{{dataItem?.runner}}</td>
                    <td *ngIf="dataItem?.mType === 'bookmaker'">{{dataItem?.rate}}</td>
                    <td *ngIf="dataItem?.mType !== 'fancy' && dataItem?.mType !== 'fancy2' && dataItem?.mType !== 'ballbyball' && dataItem?.mType !== 'khado' && dataItem?.mType !== 'bookmaker'">{{dataItem?.price}}</td>
                    <td *ngIf="dataItem?.mType === 'fancy' || dataItem?.mType === 'fancy2' || dataItem?.mType === 'ballbyball' || dataItem?.mType === 'khado'">{{dataItem?.rate == '100' ? dataItem?.price : dataItem?.price + '/' + dataItem?.rate}}</td>
                    <td>{{dataItem?.size}}</td>
                    <td>{{(dataItem?.bType === 'lay' || dataItem?.bType === 'no') ? dataItem?.loss : dataItem?.win}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal for match and unmatch -->

<!-- modal for book -->
<div id="Book-Unbook" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="scrollableModalTitle" aria-modal="true">
  <div class="modal-dialog modal-dialog-scrollable matched-unmatched-table">
    <div class="modal-content" style="background-color: #36404a;">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="session-title">Book <i class="mdi mdi-arrow-right"></i> Fancy</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body p-1">
        <div class="panel-body">
          <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
              <a href="#My-Book" data-toggle="tab" aria-expanded="true" class="nav-link active">
                my book
              </a>
            </li>
            <li class="nav-item">
              <a href="#My-Bets" data-toggle="tab" aria-expanded="false" class="nav-link">
                my bets
              </a>
            </li>
          </ul>
          <div class="tab-content pt-1">
            <div class="tab-pane match-unmatch-table active" id="My-Book">
              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                  <tr>
                    <th>{{isFancy3 ? 'Back' : 'Runs'}}</th>
                    <th>{{isFancy3 ? 'Lay' : 'Profit / loss'}}</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="!isFancy3 && isLoadFancyPl">
                  <tr *ngFor="let fitem of fancy2PL">
                    <td>{{fitem?.price}}</td>
                    <td [ngClass]="{'credit': fitem?.profitLoss >= 0, 'debit' : fitem?.profitLoss < 0}">{{fitem?.profitLoss}}</td>
                  </tr>
                  </tbody>
                  <tbody *ngIf="isFancy3 && isLoadFancyPl">
                  <tr>
                    <td [ngClass]="{'credit': fancy2PL?.yes_profitloss >= 0, 'debit' : fancy2PL?.yes_profitloss < 0}">{{fancy2PL?.yes_profitloss}}</td>
                    <td [ngClass]="{'credit': fancy2PL?.no_profitloss >= 0,  'debit' : fancy2PL?.no_profitloss < 0}">{{fancy2PL?.no_profitloss}}</td>
                  </tr>
                  </tbody>
                  <tbody *ngIf="!isLoadFancyPl">
                  <tr>
                    <td colspan="2">Loading book...</td>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>

            <div class="tab-pane match-unmatch-table" id="My-Bets">

              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                  <tr>
                    <th>runners</th>
                    <th>odds</th>
                    <th>stakes</th>
                    <th>p/l</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="isLoadFancyPl">
                  <tr *ngFor="let bItem of fancyBets" [ngClass]="{'back-tr': bItem?.bType === 'yes' || bItem?.bType === 'back','lay-tr':  bItem?.bType === 'no' || bItem?.bType === 'lay'}">
                    <td>{{bItem?.runner}}</td>
                    <td *ngIf="bItem?.mType === 'match_odd' || bItem?.mType === 'fancy3' || bItem?.mType === 'oddeven' || bItem?.mType === 'bookmaker'">{{bItem?.price}}</td>
                    <td *ngIf="bItem?.mType !== 'match_odd' && bItem?.mType !== 'fancy3' && bItem?.mType !== 'oddeven' && bItem?.mType !== 'bookmaker'">{{bItem?.rate == '100' ? bItem?.price : bItem?.price + '/' + bItem?.rate}}</td>
                    <td>{{bItem?.size}}</td>
                    <td>{{ (bItem?.bType === 'no' || bItem?.bType === 'lay') ? bItem?.loss : bItem?.win}}</td>
                  </tr>
                  </tbody>
                  <tbody *ngIf="!isLoadFancyPl">
                  <tr>
                    <td colspan="4">Loading bets...</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal for book -->

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" [color]="primaryColor" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">{{loaderShow ? 'Bet accepting..' : 'Please Wait.'}} </p>
</ngx-spinner>
