<!-- Start Content-->
<div class="container-fluid">
    <div class="row my-1 my-lg-3">
      <div class="col-md-12">
        <div class="account-ui">
          <h2> Teenpatti Bet Histroy
            <a class="btn-filter collapsed float-right d-block d-sm-none" data-toggle="collapse" href="#filter" aria-expanded="false" aria-controls="filter">
              <i class="mdi mdi-filter pr-0"></i>
            </a>
          </h2>
          <div class="card">
            <div class="card-body">
              <div class="collapse" id="filter" style="">
                <app-filter (filterChanged)="filterChangedHandler($event)" [title]="title" [isDownload]="isDownload"></app-filter>
              </div>
              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                  <tr>
                    <th>id</th>
                    <th>description</th>
                    <th>side</th>
                    <th>price</th>
                    <th>stake</th>
                    <th>date</th>
                    <th>p/l</th>
                    <th>status</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let acItem of lbList; let i = index" [ngClass]="{'back': acItem?.bType == 'BACK','lay': acItem?.bType == 'LAY'}">
                      <td>{{getLastChar(acItem?.betId)}}</td>
                      <td>{{acItem?.description}}</td>
                      <td>{{acItem?.bType}}</td>
                      <td>{{acItem?.price}}</td>
                      <td>{{acItem?.size}}</td>
                      <td>{{acItem?.createdOn}}</td>
                      <td>{{acItem?.result === 'LOSS' ? acItem?.loss : acItem?.win}}</td>
                      <td>{{acItem?.result}}</td>
                    </tr>
                    <tr *ngIf="lbList== null">
                      <td class="text-center" colspan="8">No Data</td>
                    </tr>
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" [color]="primaryColor" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white;">{{ ' Please Wait....'}} </p>
</ngx-spinner>

