button.lot-active {
  border: 1px solid #daa520;
  margin-bottom: 5px;
}
input.inc-input[type="number"] {
  -moz-appearance: textfield;
}
input.inc-input[type="number"]::-webkit-inner-spin-button,
input.inc-input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input{
  border:none;
  background-color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.fa-search{
  color: gray;
  margin-top: 1.5%;
  font-size: 15px;
  padding: 5px;
}

span.add-new {
  right: 5px;
  position: absolute;
  top: 9px;
  text-transform: capitalize;
  color: green;
  font-size: 15px;
  font-weight: 600;
  padding: 2px 5px;
  border: 1px solid;
}

.disabled{
  pointer-events: none;
}
