<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->
    <!-- Start Content-->
    <div class="container-fluid">
      <div class="row my-1 my-lg-3">
        <div class="col-md-12">
          <div id="DashSlider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators" #indicaters>
            </ol>
            <div class="carousel-inner" role="listbox" #carouselInner>
            </div>
          </div>
        </div> <!-- end col-->
      </div>
      <!-- end row -->

      <div class="row">
        <div class="col-12">
          <!-- Portlet card -->
          <div class="card">
            <div class="card-body">
              <div class="dashboard-tabs">
                <div class="dash-ul d-none">
                  <ul class="nav nav-pills nav-justified nav-bordered" id="nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a class="nav-item nav-link" [ngClass]="{'active': name === 'all'}" routerLink="/main/all">
                        <i class="mdi mdi-apps"></i>
                        <span>Dashboard</span>
                      </a>
                    </li>
                    <li class="nav-item" *ngFor="let sitem of sList">
                      <a routerLink="{{'/main/' + sitem?.sport_slug}}" routerLinkActive="active" class="nav-item nav-link" id="nav-{{sitem?.sport_slug | uppercase}}-tab" >
                        <i class="mdi {{sitem?.icon_class}}"></i>
                        <span>{{sitem?.sport_name}}</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="tab-content my-tab-sticky animated delay-1s fadeInUp" id="tabs-collapse">
                  <div class="tab-pane fade active show"  id="nav-All" *ngIf="name === 'all'">
                    <div class="col-md-12 all-dash-tabs px-0">
                      <div class="row">
                        <div class="col-md-3 col-6 dash-col-3" *ngFor="let sitem of sList">
                          <a routerLink="{{'/main/' + sitem?.sport_slug}}">
                            <div class="widget-rounded-circle bg-card">
                              <img class="img-fluid" [src]="sitem.img" alt="{{sitem?.sport_name}}">
                              <h3>{{sitem?.sport_name}}</h3>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                 <app-event-list *ngIf="name !== 'all'" [sportname]="name"></app-event-list>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

