<!-- Start Content-->
    <div class="container-fluid">

      <div class="row my-1 my-lg-3">
        <div class="col-md-12">

          <div class="card">
            <div class="card-body">
              <div class="rules-ui">
                <h2>rules</h2>

                <ul class="nav nav-tabs nav-justified bst-tabs">
                  <li class="nav-item" *ngFor="let srItem of rulesList; let i = index">
                    <a href="#GM{{i}}" data-toggle="tab" aria-expanded="true" class="nav-link" [ngClass]="{'active': i === 0}">
                      {{srItem?.sportName}}
                    </a>
                  </li>
                </ul>

                <div class="tab-content pt-1">
                  <div class="tab-pane active" [ngClass]="{'active': i === 0}"  *ngFor="let srItem of rulesList; let i = index" id="GM{{i}}">
                    <ul *ngFor="let ritem of srItem?.rule">
                      <h3>{{ritem?.title}}</h3>
                      <li [innerHTML]="ritem?.detail"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div> <!-- end col-->
      </div>
      <!-- end row -->
    </div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" [color]="primaryColor" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Please Wait.</p>
</ngx-spinner>
