<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

  <div class="h-100" data-simplebar>

    <!--- Sidemenu -->
    <div id="sidebar-menu">

      <div class="d-block d-sm-none mobile-logo">
        <a routerLink="/main">
          <img class="img-fluid" src="assets/img/logo.png">
        </a>
      </div>

      <ul id="side-menu">

        <li class="quick-menu text-center d-none d-sm-block">
          <a routerLink="/inplay">
            <i class="mdi mdi-alpha-i-circle"></i>
            <span> In-Play </span>
          </a>
        </li>
        <li class="quick-menu mb-2 text-center d-none d-sm-block">
          <a routerLink="/mymarket">
            <i class="mdi mdi-alpha-m-circle-outline"></i>
            <span> My Market </span>
          </a>
        </li>

        <li *ngFor="let item of mList" [ngClass]="{'no-data-menu-li': !item?.list?.length && item?.sportId !== 99 && item?.sportId !== 999 && item?.sportId !== 9999}">
          <a href="#{{item.slug}}" data-toggle="collapse" *ngIf="item?.sportId !== 99 && item?.sportId !== 999 && item?.sportId !== 9999">
            <i class="mdi {{item.icon_class}}"></i>
            <span> {{item.name}} </span>
             <span *ngIf="item.list.length" class="badge badge-danger">{{item.list.length}}</span>
            <span class="menu-arrow"></span>
          </a>
          <a routerLink="/main/{{item.slug}}" *ngIf="item?.sportId === 99 || item?.sportId === 999 || item?.sportId === 9999">

            <span class="badge badge-primary float-right blink">live</span>

            <i class="mdi {{item.icon_class}}"></i>
            <span> {{item.name}} </span>
          </a>
          <div class="collapse" id="{{item.slug}}" *ngIf="item?.sportId !== 99 && item?.sportId !== 999 && item?.sportId !== 9999">
            <ul class="nav-second-level">
              <li *ngFor="let rowItem of item.list">
                <a *ngIf="item.slug === 'cricket' || item.slug === 'football' || item.slug === 'tennis'" routerLink="/details/{{rowItem?.eventId}}">
                  <i class="mdi {{item.icon_class}}"></i>
                  <span>{{rowItem.name}}</span>
                </a>
                <a *ngIf="item.slug === 'election'" routerLink="/election-details/{{rowItem?.eventId}}">
                  <i class="mdi {{item.icon_class}}"></i>
                  <span>{{rowItem.name}}</span>
                </a>
                <a *ngIf="item.slug === 'cricket_casino'" routerLink="/cc-details/{{rowItem?.eventId}}">
                  <i class="mdi {{item.icon_class}}"></i>
                  <span>{{rowItem.name}}</span>
                </a>

                <a *ngIf="item.slug === 'jackpot'" routerLink="/jackpot/{{rowItem?.eventId}}">
                  <i class="mdi {{item.icon_class}}"></i>
                  <span>{{rowItem.name}}</span>
                </a>

                <a *ngIf="item.slug === 'binary'" routerLink="/binary-details/{{rowItem?.eventId}}">
                  <i class="mdi {{item.icon_class}}"></i>
                  <span>{{rowItem.name}}</span>
                </a>
                <a *ngIf="item.sportId === 99 || item.sportId === 999 || item.sportId === 9999" routerLink="/main/{{rowItem.slug}}">
                  <i class="mdi {{item.icon_class}}"></i>
                  <span>{{rowItem.name}}</span>
                </a>
<!--                <a routerLink="/details/{{rowItem?.eventId}}">-->
<!--                  <i class="mdi {{ 'mdi-'+ item.slug}}l"></i>-->
<!--                  <span>{{rowItem.name}}</span>-->
<!--                </a>-->
              </li>
            </ul>
          </div>
          <span class="no-data-menu" *ngIf="!item?.list?.length && item?.sportId !== 99 && item?.sportId !== 999 && item?.sportId !== 9999">no event</span>
        </li>

        <li>
          <a href="apps-social-feed.html">
<!--            <span class="badge badge-pink float-right">Hot</span>-->
            <i class="mdi mdi-email-newsletter"></i>
            <span> News </span>
          </a>
        </li>
      </ul>

    </div>
    <!-- End Sidebar -->

    <div class="clearfix"></div>

  </div>
  <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->
