body{
  padding: 0;
  margin: 0;
}
.maintanance-div{
  background: url(/assets/img/devtools-bg.png);
  height: 100vh;
  width: 100%;
  background-size:contain;
}
.maintanance{
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  justify-content: center;
  text-align: center;
  width: 100%;
  align-items: center;
}
.maintanance h2{
  color: #000;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  font-family: fantasy;
  letter-spacing: 5px;
  margin: 25px 0;
}
.maintanance small{
  text-transform: uppercase;
  font-size: 25px;
  display: block;
  color: #fff;
  background: #F44336;
  width: auto;
  padding: 15px 0;
  font-style: normal;
  font-family: fantasy;
  letter-spacing: 1px;
}

.maintanance1-div{
  background: url(/assets/img/bg-mantance.jpg);
  height: 100vh;
  width: 100%;
}
.maintanance1{
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  justify-content: center;
  text-align: center;
  width: 100%;
  align-items: center;
}
.maintanance1 img{
  width: 200px;
  margin: 0 auto;
  background: #00000052;
  padding: 20px 20px;
  border-radius: 14px;
}
.maintanance1 h2{
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  font-family: fantasy;
  letter-spacing: 5px;
  margin: 25px 0;
}
.maintanance1 small{
  text-transform: uppercase;
  font-size: 25px;
  display: block;
  color: #fff;
  background: red;
  width: auto;
  padding: 15px 0;
  font-style: italic;
  font-family: cursive;
}
.maintanance1 small b{
  color: #e8d700;
  font-size: 17px;
  display: block;
  text-transform: lowercase;
  font-family: sans-serif;
  font-style: normal;
}



.no-data-found, .no-internet{
  margin-top: 10vh;
}
.no-data-found img, .no-internet img{
  width: 160px;
  margin: 0 auto;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.no-data-found h2, .no-internet h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  color: #fff;
  margin-top: 15px !important;
  font-weight: 600;
  letter-spacing: 1px;
  /*width: 60%;*/
  margin: 0 auto;
}
.no-internet h2 span{
  display: block;
  text-transform: capitalize;
  font-size: 12px;
  margin-top: 5px;
}
@keyframes move {
  0% {
    margin-top: 0px;
    opacity: 0.1;
  }
  50% {
    margin-top: 4px;
    opacity: 1;
  }
  100% {
    margin-top: 0px;
    opacity: 0.1;
  }
}
