<router-outlet *ngIf="!isDevActive && isActiveSYS && !noInternet"></router-outlet>

<div *ngIf="isDevActive" class="maintanance-div">
  <div class="maintanance">
    <h2>
      Ohhhh...Stop!
    </h2>
    <small>
      please close developer tools
    </small>
  </div>
</div>

<div class="maintanance1-div" *ngIf="!isActiveSYS">
  <div class="maintanance1">
    <img src="assets/img/logo.png">
    <h2>
      website under construction
    </h2>
    <small>
      currently we are working on it
      <b>please be patient</b>
    </small>
  </div>
</div>

<div class="container-fluid" *ngIf="noInternet">
  <div class="row justify-content-center">
    <div class="col-md-4 text-center">
      <div class="no-internet">
        <img class="img-fluid" src="assets/img/no-data-found.png">
        <h2>No internet connection <span>check your network setting and try again.</span></h2>
      </div>
    </div>
  </div>
</div>
