<div class="terms-ui">

  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <form [formGroup]="form" (ngSubmit)="submit()" class="form-horizontal">
        <div class="modal-header">
          <h5 class="modal-title" id="scrollableModalTitle">change password</h5>
        </div>
        <div class="modal-body">

          <div class="form-group row mb-3">
            <label class="col-md-3 col-form-label text-lg-right">current password</label>
            <div class="col-md-9">
              <input type="password" formControlName="oldpassword" (paste)="false" name="oldpassword" class="form-control"
                     placeholder="Current Password">
              <!--              <a class="eye-on-off">-->
              <!--                <i class="mdi mdi-eye"></i>-->
              <!--              </a>-->
              <div class="error" *ngIf="frmOldpassword.invalid && (frmOldpassword.dirty || frmOldpassword.touched)">
                invalid password, please retry again
              </div>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-md-3 col-form-label text-lg-right">New Password</label>
            <div class="col-md-9">
              <input type="{{passwordType}}" formControlName="password" (paste)="false" name="password" class="form-control"
                     placeholder="New Password">
              <a class="eye-on-off" (click)="viewPassword(passwordType)">
                <i class="mdi"
                   [ngClass]="{'mdi-eye-off': passwordType === 'password','mdi-eye': passwordType === 'text'}"></i>
              </a>
              <div *ngIf="f.password?.invalid && (f.password?.dirty || f.password?.touched)">
                <div *ngIf="f.password?.errors && f.password?.errors?.required" class="error mt-0">Enter New Password
                </div>
                <div *ngIf="f.password?.errors && f.password?.errors?.minLength" class="error mt-0">Minimum Password
                  length is 6 Char.
                </div>
                <div *ngIf="f.password?.errors && f.password?.errors?.pattern" class="error mt-0">Password minimum 6
                  characters,1 (uppercase & lowercase) letter,1 special character ,1 digits
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-md-3 col-form-label text-lg-right">Confirm Password</label>
            <div class="col-md-9">
              <input type="password" type="{{cPasswordType}}" (paste)="false" formControlName="cpassword" class="form-control"
                     name="verify-password" placeholder="confirm password">
              <a class="eye-on-off" (click)="viewcPassword(cPasswordType)">
                <i class="mdi mdi-eye"
                   [ngClass]="{'mdi-eye-off': cPasswordType === 'password','mdi-eye': cPasswordType === 'text'}"></i>
              </a>
              <div *ngIf="f.cpassword?.invalid && (f.cpassword?.dirty || f.cpassword?.touched)">
                  <div *ngIf="f.cpassword?.errors && f.cpassword?.errors?.required" class="error">Enter confirm
                    Password
                  </div>
              </div>
              <div class="error"
                   *ngIf="frmCpassword.valid && (frmCpassword.dirty || frmCpassword.touched) && f.password.value !== f.cpassword.value">
                Password can not match Confirm Password
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer agree-dis">
          <div class="error" *ngIf="errorMsg">
            {{errorMsg}}
          </div>
          <button [ngClass]="{'btn-disable': !form.valid}" class="btn agree-btn">update</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

</div>
<!--<div class="wrap-login100">-->
<!--  <form  [formGroup]="form" (ngSubmit)="submit()" class="login100-form">-->

<!--        <span class="login100-form-title">-->
<!--          <img class="img-fluid" src="assets/img/logo.png" alt="">-->
<!--        </span>-->

<!--    <div class="log-form-group">-->
<!--      <input class="log-input" formControlName="oldpassword" type="password" name="current-password" placeholder="current password">-->
<!--      &lt;!&ndash; <div class="unhider">-->
<!--        <a href=""><i class="fa fa-eye"></i></a>-->
<!--        <a href=""><i class="fa fa-eye-slash"></i></a>-->
<!--      </div> &ndash;&gt;-->
<!--      <div class="error"  *ngIf="frmOldpassword.invalid && (frmOldpassword.dirty || frmOldpassword.touched)">-->
<!--        invalid password, please retry again-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="log-form-group">-->
<!--      <input class="log-input" type="password" type="{{passwordType}}"  formControlName="password" name="new-password" placeholder="new password">-->
<!--      <div class="unhider">-->
<!--        <a (click)="viewPassword(passwordType)"><i class="fa" [ngClass]="{'fa-eye-slash': passwordType === 'password','fa-eye': passwordType === 'text'}"></i></a>-->
<!--      </div>-->
<!--      <span class="form-text small">The password must be 8-20 characters, and must <em>not</em> contain spaces.</span>-->
<!--      &lt;!&ndash; <div class="error mt-0">-->
<!--        invalid password, please retry again-->
<!--      </div> &ndash;&gt;-->
<!--      <div *ngIf="f.password?.invalid && (f.password?.dirty || f.password?.touched)" [ngStyle]="{'margin-bottom': '30px'}">-->
<!--        <div *ngIf="f.password?.errors && f.password?.errors?.required" class="error mt-0">Enter New Password</div>-->
<!--        <div *ngIf="f.password?.errors && f.password?.errors?.minLength" class="error mt-0">Minimum Password length is 6 Char.</div>-->
<!--        <div *ngIf="f.password?.errors && f.password?.errors?.pattern" class="error mt-0">Password minimum 6 characters,1 (uppercase & lowercase) letter,1 special character ,1 digits </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="log-form-group">-->
<!--      <input class="log-input" type="password"  type="{{cPasswordType}}"  formControlName="cpassword" name="verify-password" placeholder="verify">-->
<!--      <div class="unhider">-->
<!--        <a (click)="viewcPassword(cPasswordType)"><i class="fa" [ngClass]="{'fa-eye-slash': cPasswordType === 'password','fa-eye': cPasswordType === 'text'}"></i></a>-->
<!--      </div>-->
<!--      <span class="form-text small">The password must be 8-20 characters, and must <em>not</em> contain spaces.</span>-->
<!--      <div class="error mt-0" *ngIf="frmCpassword.invalid && (frmCpassword.dirty || frmCpassword.touched)">-->
<!--        Enter Confirm Password-->
<!--      </div>-->
<!--      <div class="error mt-0" *ngIf="frmCpassword.valid && (frmCpassword.dirty || frmCpassword.touched) && f.password.value !== f.cpassword.value">-->
<!--        Password can not match Confirm Password-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="log-form-group">-->
<!--      <button [ngClass]="{'disabled': !form.valid}" class="login-button">-->
<!--        Submit-->
<!--      </button>-->
<!--      <div class="error" *ngIf="errorMsg">-->
<!--        {{errorMsg}}-->
<!--      </div>-->
<!--    </div>-->

<!--  </form>-->
<!--</div>-->
