<!-- Start Content-->
<div class="container-fluid">
  <div class="row my-1 my-lg-3">
    <div class="col-md-12">
      <div class="account-ui">
        <h2 *ngIf="title"><button (click)="loc.back()" class="btn-sm btn-primary mr-1"><i class="mdi mdi-arrow-left px-0"></i></button> {{title}}</h2>
        <div class="card">
          <div class="card-body jackpot-ui">
            <div class="row justify-content-center">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-4 col-6">
                      <div class="jackpot-box" routerLink="fdetail/fancy">
                        <img class="img-fluid" src="assets/img/fancy-icon.png">
                        <h4>fancy</h4>
                        <p class="new-sport blink" *ngFor="isFancy"><i class="mdi mdi-star"></i></p>
                      </div>
                  </div>
                  <div class="col-md-4 col-6">
                    <div class="jackpot-box" routerLink="fdetail/khado">
                      <img class="img-fluid" src="assets/img/khado-icon.png">
                      <h4>khado</h4>
                      <p class="new-sport blink" *ngFor="isKhado"><i class="mdi mdi-star"></i></p>
                    </div>
                  </div>
                  <div class="col-md-4 col-6" *ngFor="let item of gList">
                      <div class="jackpot-box" routerLink="list/{{item?.slug}}">
                        <img class="img-fluid" src="{{'assets/img/jackpot-icon.png'}}">
                        <h4>{{item?.title}}</h4>
                        <p class="new-sport blink" *ngIf="item?.totalcount"><i class="mdi mdi-star"></i></p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end col-->
  </div>
  <!-- end row -->
</div> <!-- container -->

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" [color]="primaryColor" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Please Wait.</p>
</ngx-spinner>
