<!-- Start Content-->
<div class="container-fluid">

  <div class="row my-1 my-lg-3">
    <div class="col-md-12">
      <div>
        <h2 class="page-title" *ngIf="isEventOpen"><button (click)="loc.back()" class="btn-sm btn-primary mr-1"><i
          class="mdi mdi-arrow-left px-0"></i></button> {{jList?.title}}</h2>
        <h2 class="page-title" *ngIf="!isEventOpen"><a class="text-dark text-center">{{message}}</a></h2>
        <h2 class="page-title" *ngIf="isEventOpen && isLoad && jList?.jackpot === undefined"><a
          class="text-dark text-center">No Data</a></h2>

        <div class="card" *ngIf="isEventOpen">
          <div class="card-body bjd-ui">
            <div class="row position-relative">
              <div class="col-md-10 col-10">
                <marquee class="text-dark m-0" [innerHTML]="jList?.commentary?.commentry">commentary text here
                </marquee>
              </div>
              <div class="col-md-2 col-2">
                <button class="btn-bets" data-toggle="modal" data-target="#Bets-Popup">bets</button>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-12">
                <p class="j-teams">{{jList?.runner1}} <i>v/s</i> {{jList?.runner2}}</p>
              </div>
              <div class="col-md-12">
                <div class="mmw">
                  <p class="min-max-win">min bet: <span>{{jList?.setting?.min_stack | number}}</span></p>
                  <p class="min-max-win">max bet : <span>{{jList?.setting?.max_stack | number}}</span></p>
                  <p class="min-max-win">win jackpot: <span>{{jList?.setting?.max_profit_limit | number}}</span></p>
                </div>
              </div>

              <div class="col-md-12">
                <h3 class="bj-event-title">{{jList?.game_title}} <i class="mdi mdi-menu-right"></i> {{jList?.sub_title}}
                </h3>
              </div>

              <div class="col-md-12">

                <div class="bjd-table">
                  <div class="bjd-table-head">
                    <div class="bjd-col">
                      team
                    </div>
                    <div class="bjd-col">
                      player
                    </div>
                    <div class="bjd-col">
                      player
                    </div>
                    <div class="bjd-col">
                      team
                    </div>
                    <div class="bjd-col">
                      rate
                    </div>
                  </div>
                  <div class="bjd-table-body">
                    <div class="bjd-table-body-tr" *ngFor="let jItem of jList?.jackpot;let jIndex = index;">
                      <div class="bjd-col">
                        {{jItem?.team_a}}
                      </div>
                      <div class="bjd-col">
                        {{jItem?.team_a_player}}
                      </div>
                      <div class="bjd-col">
                        {{jItem?.team_b_player}}
                      </div>
                      <div class="bjd-col">
                        {{jItem?.team_b}}
                      </div>
                      <div class="bjd-col" *ngIf="!jItem?.suspended">
                        <div class="bjd-odds" (click)="openBetSlip(jIndex,jItem,jList?.title)">
                          <p>
                            {{jItem?.rate}} <span
                            [ngStyle]="{'color': jItem?.profitloss >= 0 ? 'green' : 'red'}">{{jItem?.profitloss | number}}</span>
                          </p>
                        </div>
                      </div>
                      <div class="bjd-col" *ngIf="jItem?.suspended">
                        <div class="bjd-odds">
                          <p>
                            {{jItem?.rate}} <span
                            [ngStyle]="{'color': jItem?.profitloss >= 0 ? 'green' : 'red'}">{{jItem?.profitloss | number}}</span>
                          </p>
                          <div class="bjd-suspended" *ngIf="jItem?.suspended">
                            suspended
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- end col-->
  </div>
  <!-- end row -->

</div> <!-- container -->

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" [color]="primaryColor" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">{{loaderShow ? 'Bet accepting..' : 'Please Wait.'}} </p>
</ngx-spinner>


<!-- Jackpot Bets Popup -->
<div id="Bets-Popup" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="scrollableModalTitle"
     aria-modal="true">
  <div class="modal-dialog modal-dialog-scrollable matched-unmatched-table">
    <div class="modal-content" style="background-color: #36404a;">
      <div class="modal-header">
        <h4 class="modal-title text-center">big jackpot <i class="mdi mdi-arrow-right"></i> bets list</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body p-1">

        <div class="match-unmatch-table">
          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
              <tr>
                <th>Description</th>
                <th>rate</th>
                <th>stakes</th>
                <th>p/l</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let bItem of bList" class="back-tr">
                <td>{{bItem?.description}}</td>
                <td>{{bItem?.price}}</td>
                <td>{{bItem?.size}}</td>
                <td [ngStyle]="{'color': bItem?.profit >= 0 ? 'green' : 'red'}">{{bItem?.win}}</td>
              </tr>
              <tr *ngIf="!bList.length">
                <td colspan="4" class="text-break text-center text-light">No Data</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Jackpot Bets Popup -->
