<!-- Start Content-->
<div class="container-fluid">
  <div class="row my-1 my-lg-3">
    <div class="col-md-12">
      <div>
        <h2 class="page-title"><button (click)="loc.back()" class="btn-sm btn-primary mr-1"><i class="mdi mdi-arrow-left px-0"></i></button> {{jList?.game_title}}</h2>
        <div class="card">
          <div class="card-body jackpot-list">
            <div class="row justify-content-center">
              <div class="col-12">
                <h2>{{jList?.title}}</h2>
                <a *ngFor="let lItem of jList?.items;"  routerLink="{{lItem?.market_id}}/{{lItem?.gameid}}">{{lItem?.title}}</a>
                <a *ngIf="!jList?.items && jList?.items === null" class="text-light text-center">No Data</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end col-->
  </div>
  <!-- end row -->
</div> <!-- container -->
