<!-- Start Content-->
<div class="container-fluid">
  <div class="row my-1 my-lg-3">
    <div class="col-md-12">
      <div class="account-ui">
        <h2> result
          <a class="btn-filter collapsed float-right d-block d-sm-none" data-toggle="collapse" href="#filter"
             aria-expanded="false" aria-controls="filter">
            <i class="mdi mdi-filter pr-0"></i>
          </a>
        </h2>
        <div class="card">
          <div class="card-body">
            <div class="collapse" id="filter" style="">
              <div class="row justify-content-between">
                <div class="col-md-12">
                  <div class="form-row align-items-center">
                    <div class="col-md-3 col-6 mb-sm-1">
                      <input type="date" name="From" class="form-control" (change)="onChangeDate($event)"
                             [(ngModel)]="filter.start_date" #startdate/>
                    </div>
                    <div class="col-md-3 col-6 mb-sm-1">
                      <input type="date" name="to" class="form-control" (change)="onChangeDate($event)"
                             [(ngModel)]="filter.end_date" #enddate/>
                    </div>
                    <div class="col-md-3 col-6 mb-sm-1">
                      <select name="Results" class="form-control" (change)="onChangeType($event)">
                        <option value="">All</option>
                        <option value="jackpot">jackpot</option>
                        <option value="teenpatti">teenpatti</option>
                      </select>
                    </div>
                    <div class="col-md-3 col-6 mb-sm-1">
                      <select name="Day" class="form-control" (change)="filters($event)">
                        <option value="" disabled selected hidden> Select</option>
                        <option value="today">Today</option>
                        <option value="yesterday">Yesterday</option>
                        <option value="7_day">last 7 days</option>
                        <option value="30_day">last 30 days</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table mb-0">
                <thead>
                <tr>
                  <th>description</th>
                  <th>date</th>
                  <th>winner</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-capitalize" *ngFor="let rItem of rList">
                  <td>{{rItem?.description}}</td>
                  <td>{{rItem?.date}}</td>
                  <td class="text-capitalize text-left">{{rItem?.result}}</td>
                </tr>
                <tr class="text-capitalize" *ngIf="!rList?.length">
                  <td [colSpan]="3" class="text-center"><span>No Data</span></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- end col-->
  </div>
  <!-- end row -->

</div> <!-- container -->
