<!-- Start Content-->
<div class="container-fluid">

  <div class="row my-1 my-lg-3">
    <div class="col-md-12">
      <div>
        <h2 class="page-title"><button (click)="back()" class="btn-sm btn-primary mr-1"><i class="mdi mdi-arrow-left px-0"></i></button> cricket casino - {{ccList?.title}}</h2>
        <div class="card">
          <div class="card-body cc-ui">
            <div class="accordion custom-accordion" id="CC-Accordion">
              <div class="card mb-0" *ngFor="let ccItem of ccList?.lottery; let ccIndex = index;">
                <div class="card-header" id="CC-ACC">
                  <h5 class="m-0 position-relative">
                    <a class="custom-accordion-title text-reset d-block" [ngClass]="{'collapsed': ccIndex === isActiveList}" (click)="togglePanle(ccIndex)">
                      {{ccItem?.title}} <i class="mdi mdi-chevron-down accordion-arrow"></i>
                    </a>
                  </h5>
                </div>

                <div id="collapseCC{{ccIndex}}" class="collapse" [ngClass]="{'show': ccIndex === isActiveList}" aria-labelledby="collapseCC" data-parent="#CC-Accordion">
                  <div class="card-body">
                    <div class="row justify-content-center">
                      <div class="col-md-8">
                        <p class="cc-min-max">
                          <span>min stake: <b>{{ccItem?.minStack}}</b></span>
                          <span>max stake: <b>{{ccItem?.maxStack}}</b></span>
                          <span>max profit limit: <b>{{ccItem?.maxProfitLimit}}</b></span>
                        </p>
                      </div>
                      <div class="col-md-8">
                        <div class="input-group">
                          <span class="input-group-btn input-group-prepend">
                              <button class="btn" (click)="minusData(ccIndex)" type="button">DOWN</button>
                          </span>
                          <input type="number" id="lnumber-{{ccIndex}}" [value]="ccItem?.number" min="0" disabled class="form-control">
                          <span class="input-group-btn input-group-append">
                              <button class="btn" type="button" (click)="plusData(ccIndex)">UP</button>
                          </span>
                        </div>
                        <div class="row brp text-center justify-content-center">
                          <div class="col-4">
                            <button class="btn btn-book bg-light" (click)="showBook(ccIndex)" [ngClass]="{'btn-book': ccItem?.is_book === '1'}">book</button>
                          </div>
                          <div class="col-4">
                            <p>rate: {{ccItem?.rate}}</p>
                          </div>
                          <div class="col-4">
                            <button class="btn btn-placebet" (click)="openbet(ccIndex,ccItem?.market_id, ccItem?.rate, ccItem?.number)">placebet</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-0" *ngIf="!ccList?.lottery?.length">
                <div class="card-header" id="headingFive">
                  <h5 class="m-0 position-relative">
                    <a class="custom-accordion-title text-reset collapsed d-block text-center">
                     No Data
                    </a>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end col-->
  </div>
  <!-- end row -->
</div> <!-- container -->

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" [color]="primaryColor" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">{{loaderShow ? 'Bet accepting..' : 'Please Wait.'}} </p>
</ngx-spinner>
<!-- modal for book -->
<div id="Book-Unbook" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="scrollableModalTitle" aria-modal="true">
  <div class="modal-dialog modal-dialog-scrollable matched-unmatched-table">
    <div class="modal-content" style="background-color: #36404a;">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="session-title">Book <i class="mdi mdi-arrow-right"></i> {{runnerName}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body p-1">
        <div class="panel-body">
          <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
              <a href="#My-Book" data-toggle="tab" aria-expanded="true" class="nav-link active">
                my book
              </a>
            </li>
            <li class="nav-item">
              <a href="#My-Bets" data-toggle="tab" aria-expanded="false" class="nav-link">
                my bets
              </a>
            </li>
          </ul>
          <div class="tab-content pt-1">
            <div class="tab-pane match-unmatch-table active" id="My-Book">
              <div class="table-responsive">
                <table class="table mb-0">
<!--                  <thead>-->
<!--                  <tr>-->
<!--                    <th>{{isFancy3 ? 'Back' : 'Runs'}}</th>-->
<!--                    <th>{{isFancy3 ? 'Lay' : 'Profit / loss'}}</th>-->
<!--                  </tr>-->
<!--                  </thead>-->
                  <tbody *ngIf="isLoadFancyPl">
                  <tr *ngFor="let plItem of fancy2PL">
                    <td>{{plItem?.price}}</td>
                    <td [ngClass]="{'green': plItem?.profitLoss >= 0,'red': plItem?.profitLoss < 0}">{{plItem?.profitLoss}}</td>
                  </tr>
                  </tbody>
                  <tbody *ngIf="!isLoadFancyPl">
                  <tr>
                    <td colspan="2">Loading book...</td>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>

            <div class="tab-pane match-unmatch-table" id="My-Bets">

              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                  <tr>
                    <th>runners</th>
                    <th>odds</th>
                    <th>stakes</th>
                    <th>p/l</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="isLoadFancyPl">
                  <tr *ngFor="let bItem of fancyBets" [ngClass]="{'back-tr': bItem?.bType === 'yes' || bItem?.bType === 'back','lay-tr':  bItem?.bType === 'no' || bItem?.bType === 'lay'}">
                    <td>{{bItem?.runner}}</td>
                    <td>{{bItem?.price}}</td>
                    <td>{{bItem?.size}}</td>
                    <td>{{bItem?.win}}</td>
                  </tr>
                  </tbody>
                  <tbody *ngIf="!isLoadFancyPl">
                  <tr>
                    <td colspan="4">Loading bets...</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal for book -->
