<!-- Start Content-->
<div class="container-fluid">
  <div class="row my-1 my-lg-3">
    <div class="col-md-12">
      <div class="account-ui">
        <h2> casino bet history
          <a class="btn-filter collapsed float-right d-block d-sm-none" data-toggle="collapse" href="#filter" aria-expanded="false" aria-controls="filter">
            <i class="mdi mdi-filter pr-0"></i>
          </a>
        </h2>
        <div class="card">
          <div class="card-body">
            <div class="collapse" id="filter" style="">
              <app-filter (filterChanged)="filterChangedHandler($event)" (isExports)="excelDownload()" [title]="title" [isDownload]="isDownload"></app-filter>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                <th>id</th>
                <th>description</th>
                <th>amount</th>
                <th>date</th>
                <th>P/L</th>
                <th>status</th>
                </thead>
                <tbody>
                <tr *ngFor="let bItem of cList" [ngClass]="{'back':  bItem?.result == 'WIN','lay': bItem?.result == 'LOSS'}">
                  <td>{{getLastChar(bItem?.betId)}}</td>
                  <td>{{bItem?.description}}</td>
                  <td>{{bItem?.amount}}</td>
                  <td>{{bItem?.date}}</td>
                  <td>{{bItem?.win}}</td>
                  <td [ngClass]="{'credit': bItem?.result === 'WIN', 'debit': bItem?.result === 'LOSS'}">{{bItem?.result}}
                  </td>
                </tr>
                </tbody>
                <tbody *ngIf="cList == null">
                <tr>
                  <td colspan="8">No Data</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" [color]="primaryColor" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white;">{{ ' Please Wait....'}} </p>
</ngx-spinner>
