
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$betex1-primary: mat-palette($mat-indigo);
$betex1-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$betex1-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$betex1-theme: mat-light-theme($betex1-primary, $betex1-accent, $betex1-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($betex1-theme);

// Give the page a bit of height so that we can scroll
//body {
//  line-height: 1.6;
//}

//.content {
//  max-width: 600px;
//  margin: 10px auto;
//}

@keyframes fade-in-up {
  0% { opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.video-wrap {
  text-align: center;
}

.video {
  iframe {
    max-width: 100%;
    max-height: 100%;
  }

  &.stuck {
    z-index: 1;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transform: translateY(100%);
    width: 260px;
    height: 145px;
    animation: fade-in-up .25s ease forwards;
    background: #2f3438;
  }

  &[draggable=true] {
    cursor: move;
  }

}

.intro {
  width: 100%;
  background: rgba(100,100,100,.1);
  position: relative;
  z-index: 99999;
  display: table;
  width: 100%;
}

.popout-video {
  width: 100%;
  position: relative;

  &--popout {
    position: fixed;
    left: 0;
    top: 0;
    width: 450px;
    max-width: 100%;
    height: auto;
    animation: popin .5s ease-in-out forwards;
    background: #2f3438;

    @keyframes popin {
      to {
        top: 0;
      }
    }

    &:hover {
      .popout-video__controls {
        opacity: 1;
      }
    }
  }

  iframe {
    width: 100%;
    vertical-align: middle;
  }
}

.close-video {
  width: 1.77rem;
  height: 1.7rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  border-radius: 50%;
  transition: background .25s ease;
  position: absolute;
  top: 10px;
  right: 10px;

  &:hover {
    background: rgba(50,50,50,.4);
  }

  &:before, &:after {
    content: '';
    position: absolute;
    margin: auto;
    width: 1rem;
    height: 2px;
    background: #fff;

  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

