/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*BLINK*/
.blink-back {-webkit-animation: lay-animation 1s infinite;  /* Safari 4+ */
  -moz-animation: back-animation 1s infinite;  /* Fx 5+ */
  -o-animation: back-animation 1s infinite;  /* Opera 12+ */
  animation: back-animation 1s infinite;  /* IE 10+, Fx 29+ */
}
@-webkit-keyframes back-animation {0%, 49% {background-color: #00B2FF !important;}}

.blink-lay {-webkit-animation: lay-animation 1s infinite;  /* Safari 4+ */
  -moz-animation: lay-animation 1s infinite;  /* Fx 5+ */
  -o-animation: lay-animation 1s infinite;  /* Opera 12+ */
  animation: lay-animation 1s infinite;  /* IE 10+, Fx 29+ */
}
@-webkit-keyframes lay-animation {0%, 49% {background-color: #FF7A7F !important;}}
