<!-- Start Content-->
<div class="container-fluid">

  <div class="row my-1 my-lg-3">
    <div class="col-md-12">
      <div class="account-ui">
        <h2> live bet</h2>
        <div *ngIf="!isNoData" class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table mb-0">
                <thead>
                <tr>
                  <th>id</th>
                  <th>description</th>
                  <th>side</th>
                  <th>price</th>
                  <th>stake</th>
                  <th>date</th>
                  <th>p/l</th>
                  <th>status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let bitem of liveBetList; let i = index" [ngClass]="{'back': bitem?.bType === 'yes' || bitem?.bType.toLowerCase() === 'back', 'lay': bitem?.bType === 'no' || bitem?.bType.toLowerCase() === 'lay'}">
                  <td>{{getLastChar(bitem.betId)}}</td>
                  <td>{{bitem?.description}}</td>
                  <td>{{bitem?.bType}}</td>
                  <td *ngIf="bitem?.mType === 'bookmaker'">{{bitem?.rate}}</td>
                  <td *ngIf="bitem?.mType !== 'fancy' && bitem?.mType !== 'fancy2' && bitem?.mType !== 'ballbyball' && bitem?.mType !== 'khado' && bitem?.mType !== 'bookmaker'">{{bitem?.price}}</td>
                  <td *ngIf="bitem?.mType === 'fancy' || bitem?.mType === 'fancy2' || bitem?.mType === 'ballbyball' || bitem?.mType === 'khado'">{{bitem?.rate == '100' ? bitem?.price : bitem?.price + '/' + bitem?.rate}}</td>
                  <td>{{bitem?.size}}</td>
                  <td>{{bitem?.createdOn}}</td>
                  <td>{{(bitem?.bType.toLowerCase() === 'lay' || bitem?.bType.toLowerCase() === 'no') ? bitem?.loss : bitem?.win}}</td>
                  <td>{{bitem?.result}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end col-->
  </div>
  <div class="row justify-content-center" *ngIf="isNoData">
    <div class="col-md-4 text-center">
      <div class="no-data-found">
        <img class="img-fluid" src="assets/img/no-data-found.png">
        <h2>no data found!</h2>
      </div>
    </div>
  </div>
  <!-- end row -->
</div> <!-- container -->

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" [color]="primaryColor" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white;">{{ ' Please Wait....'}} </p>
</ngx-spinner>
