<!-- Start Content-->
<div class="container-fluid" *ngIf="platforms !== 'mobile'">

  <div class="row mt-0 mt-lg-3">
    <div class="col-12">
      <div class="row">
        <!--        <div class="col-md-3 col-4 align-self-start">-->
        <!--          <h2 (click)="backToHome()" class="event-title" ><i class="mdi mdi-arrow-left"></i> Back</h2>-->
        <!--        </div>-->
        <div class="col-md-12 align-self-center">
          <h2 class="event-title">Live Game {{isNewGame ? '2' : ''}}</h2>
        </div>
        <!--        <div class="col-md-3 col-4 align-self-end">-->
        <!--          <h2 class="event-title expose-teen"> Expose: <em>{{cDetails?.expose || '0'}}</em></h2>-->
        <!--        </div>-->
      </div>
    </div>
    <!--    <div class="col-md-12">-->
    <!--      <div class="card">-->
    <!--        <div class="card-body score-tv" style="padding: 5px !important;">-->
    <!--          <div class="row justify-content-center">-->
    <!--            <div class="col-12 text-center">-->
    <!--              <div class="row">-->
    <!--                <div class="col-md-3 col-4 align-self-center">-->
    <!--                  <span style="color: #fff; text-transform: capitalize;">min stake: <b>{{cDetails?.detail[0]?.min_stake}}</b></span>-->
    <!--                </div>-->
    <!--                <div class="col-md-6 col-4 align-self-center">-->
    <!--                  <span style="color: #fff; text-transform: capitalize;">max stake: <b>{{cDetails?.detail[0]?.max_stake}}</b></span>-->
    <!--                </div>-->
    <!--                <div class="col-md-3 col-4 align-self-center">-->
    <!--                  <span style="color: #fff; text-transform: capitalize;">Max Profit: <b>{{cDetails?.detail[0]?.max_profit_limit}}</b></span>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div> &lt;!&ndash; end col&ndash;&gt;-->
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-12">
      <!-- Portlet card -->
      <div class="card">
        <div class="card-body market-ui" style="padding: 5px !important;">
          <div class="row mx-lg-0">
            <div class="col-md-12">
              <div class="tenn-iframe cf" #iframeLoad></div>
              <div class="i-suspended" *ngIf="cDetails?.status == '0' && !isNewGame">
                suspended
              </div>

              <div class="i-suspended" *ngIf="cDetails?.status2 == '0' && isNewGame">
                suspended
              </div>
            </div>
          </div>
        </div> <!-- end card body-->
      </div> <!-- end card-->
    </div> <!-- end col-->
  </div>
  <!-- end row -->
  <!-- end row -->
</div> <!-- container -->

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" [color]="primaryColor" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Please Wait.</p>
</ngx-spinner>

<div *ngIf="platforms === 'mobile'">
  <div class="row teen-title m-r">
    <div class="col-6">
      <div>
        <span (click)="backToHome()"><i class="fa fa-arrow-left"></i> Back To Home</span>
        <!-- [routerLink]="['/home']" [queryParams]="{ tnp:  1}" -->
      </div>
    </div>
    <div class="col-6 text-right">
      <div>
        <span class="expose-teen"> Expose: <em>{{cDetails?.expose || '0'}}</em></span>
      </div>
    </div>
  </div>
  <div class="row mmm-teen text-center m-r" *ngIf="cDetails?.detail">
    <div class="col-4">
      <span>min stake: <em>{{cDetails?.detail[0]?.min_stake}}</em></span>
    </div>
    <div class="col-4 px-0">
      <span>max stake: <em>{{cDetails?.detail[0]?.max_stake}}</em></span>
    </div>
    <div class="col-4 pl-0">
      <span>Max Profit: <em>{{cDetails?.detail[0]?.max_profit_limit}}</em></span>
    </div>
  </div>
  <!--[ngStyle]="{'height': isNewGame ? '2021px' : '100vh'}" -->
  <!-- <div class="tenn-iframe cf" *ngIf="loaderShow"><img class="ball-loader" src="assets/images/be-loader.gif"></div> *ngIf="!loaderShow"  -->
  <div class="tenn-iframe cf" *ngIf="cDetails?.status == '1'">
    <div #iframeLoad1></div>
  </div>
  <div class="i-suspended" style="top:60px;" *ngIf="cDetails?.status == '0' && !isNewGame">
    suspended
  </div>

  <div class="i-suspended" style="top:60px;" *ngIf="cDetails?.status2 == '0' && isNewGame">
    suspended
  </div>
</div>
