<!-- Start Content-->
<div class="container-fluid">

  <div class="row mt-1 mt-lg-3">
    <div class="col-md-3 pr-lg-1">
      <div class="card">
        <div class="card-body">
          <div class="avatar-profile">
            <img class="img-fluid mb-2" src="assets/img/profile.png">
            <h2>{{profileData?.name}}</h2>
            <h3>{{profileData?.username}}</h3>
          </div>
        </div>
      </div>
    </div> <!-- end col-->
    <div class="col-md-9 pl-lg-0">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table mb-0 profile-table">
              <tbody>
              <tr>
                <td>name</td>
                <td>{{profileData?.name}}</td>
              </tr>
              <tr>
                <td>user name</td>
                <td>{{profileData?.username}}</td>
              </tr>
              <tr>
                <td>date of joining</td>
                <td>{{profileData?.joining_date}}</td>
              </tr>
              <tr>
                <td>balance</td>
                <td>{{profileData?.balance}}</td>
              </tr>
              <tr>
                <td>exposer</td>
                <td>{{profileData?.expose}}</td>
              </tr>
              <tr>
                <td>my wallet</td>
                <td>{{profileData?.mywallet}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> <!-- end col-->
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-12">
      <!-- Portlet card -->

      <div class="card">
        <div class="card-body">
          <div class="betslip-setting">
            <h2 class="profile-page-title">betslip setting</h2>

            <div class="row my-4">
              <div class="col-md-6">
                <div class="form-group mb-0 position-relative">
                  <span class="stakes-label">Stakes</span>
                  <div class="input-group">
                    <input type="number" (keypress)="numberOnly($event)" (paste)="false" #stackValue class="form-control" placeholder="enter your value">
                    <div class="input-group-append">
                      <button class="btn btn-add waves-effect waves-light" (click)="addStackPrice()" type="button">Add</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 text-center">
                <button class="btn btn-stake" *ngFor="let item of stackPriceArr; let ind = index;">{{item}} <i (click)="removeStackPrice(ind)" class="mdi mdi-close-circle-outline"></i></button>

              </div>
              <div class="col-md-6">
                <span class="error" *ngIf="errorMsg1 !== undefined || errorMsg1 !== ''"> {{errorMsg1}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h2 class="profile-page-title">change password</h2>
          <div class="row justify-content-center">
            <div class="col-md-7">
            <form class="form-horizontal profile-form" [formGroup]="frm" (ngSubmit)="changeUserPassword()">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group mb-3">
                  <label>old password</label>
                  <div class="position-relative">
                    <input type="{{opasswordType}}" (paste)="false" name="cpassword" formControlName="oldpassword" class="form-control"  placeholder="old password">
                    <i (click)="opasswordType = opasswordType === 'text' ? 'password' : 'text';" class="mdi " [ngClass]="{'mdi-eye': opasswordType === 'text', 'mdi-eye-off': opasswordType !== 'text'}"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group mb-3">
                  <label>new password</label>
                  <div class="position-relative">
                    <input type="{{passwordType}}" (paste)="false" name="password" formControlName="password" class="form-control" placeholder="new password">
                    <i (click)="passwordType = passwordType === 'text' ? 'password' : 'text';" class="mdi " [ngClass]="{'mdi-eye': passwordType === 'text', 'mdi-eye-off': passwordType !== 'text'}"></i>
                  </div>
                   <div *ngIf="frmpassword.invalid && (frmpassword.dirty || frmpassword.touched)">
                    <span *ngIf="frmpassword?.errors?.required" class="form-text small error">Enter New Password</span>
                    <span *ngIf="frmpassword?.errors?.minLength" class="form-text small error">Minimum Password length is 6 Char.</span>
                    <span *ngIf="frmpassword?.errors?.pattern" class="form-text small error">Password minimum 6 characters,1 (uppercase & lowercase) letter,1 special character ,1 digits </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group mb-3">
                  <label>confirm password</label>
                  <div class="position-relative">
                    <input type="{{cpasswordType}}" (paste)="false" name="vpassword" formControlName="cpassword" class="form-control" id="" placeholder="confirm password">
                    <i (click)="cpasswordType = cpasswordType === 'text' ? 'password' : 'text';" class="mdi " [ngClass]="{'mdi-eye': cpasswordType === 'text', 'mdi-eye-off': cpasswordType !== 'text'}"></i>
                  </div>
                    <span *ngIf="frmcpassword.invalid && (frmcpassword.dirty || frmcpassword.touched)" class="form-text small error">Enter Confirm Password</span>
                  <span class="form-text small error" *ngIf="((submitted || frmcpassword.touched) && frmcpassword.valid && (frmpassword.value != frmcpassword.value))">To confirm, type the new password again.</span>
                </div>
              </div>
              <div class="col-md-12">
                <button type="submit" class="btn password-btn mt-3 waves-effect waves-light" [ngClass]="{'btn-disable': !frm.valid }">submit</button>
                <div class="error" *ngIf="errorMsg !== undefined || errorMsg !== ''">
                  {{errorMsg}}
                </div>
              </div>
            </div>
          </form>
            </div>
          </div>
        </div> <!-- end card-body-->
      </div> <!-- end card-->
    </div> <!-- end col-->
  </div>
  <!-- end row -->

</div> <!-- container -->
